{% extends "registration/base.html" %}

{% block registerExtraHeader %}
<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#adminaccount input {
    display: block;
    margin-top: 10px;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.6rc5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	    var previewObj = $("#preview");
	    previewObj.click(function(e) {
		e.preventDefault();
		var previewBoxObj = $("#previewBox");
		var previewImgURL = $("#id_logo").attr("value");
		previewBoxObj.empty();
		previewBoxObj.append('<img width="175" src="' + previewImgURL + '" />');

		previewBoxObj.show().dialog({
		    resizable:  false,
		    close: function(e, ui) { previewBoxObj.hide().dialog('destroy'); }
		});
	    });

	    var adminAcctCount = $("#id_adminAcctCount");
	    var AdminObj = $("#addAdmin");
	    for (var i = 2; i <= adminAcctCount.val() && i <= 10; ++i)
		$("#id_adminaccount_" + i).show();

	    AdminObj.click(function(e) {
		e.preventDefault();
		var adminAcctBox = $("#adminaccount");
		var count = adminAcctCount.val();
		if (count < 10)
		{
		    ++count;
		    $("#id_adminaccount_" + count).show();
		    adminAcctCount.val(count);
		}
	    });

	    AdminObj = $("#delAdmin");
	    AdminObj.click(function(e) {
		e.preventDefault();
		var count = adminAcctCount.val();
		if (count > 1)
		{
		    adminAcctBox = $("#adminaccount [name='adminaccount_" + count + "']").remove();
		    adminAcctCount.val(count - 1);
		}
	    });

    });
</script>


{% endblock %}

{% block registerContent %}
	<h2>申請註冊 NPO </h2>
	<div class="number-sign">2</div>
	<div class="tip">
		請填寫下列表格
	</div>
	<div class="step-main">
	{% if isWarning %}
	<div class="ui-widget-header" style="clear: both; padding: 5px; text-align: center; font-size: large;">
	    {{ isWarning }}
	</div>
	{% endif %}

	    <form class="flow-form" action="{{ base.path|escape }}" method="post">
		<ul>
			<li class="section">
				<h3>基本資料</h3>
				<div>關於 NPO 的基本資料</div>
			</li>
			<li>
				<label class="desc">
				名稱
					<span class="req"> * </span>
				</label>
				<div>
				    {{ form.npo_name }}
				    {% for error in form.npo_name.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
					<label class="req">
						此欄位事後無法更改
					</label>
				</div>
			</li>
			<li>
				<label class="desc">
				創辦人
					<span class="req"> * </span>
				</label>
				<div>
				    {{ form.founder }}
				    {% for error in form.founder.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			<li>
				<label class="desc">
				簡介
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.brief_intro }}
				    {% for error in form.brief_intro.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
				大頭貼圖片
				</label>
				<div class="column">
				    {{ form.logo }}
				    <input id="preview" class="field button" type="button" value="預覽" />
				    {% for error in form.logo.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
				<div id="previewBox" style="display: none;" title="預覽"></div>
			</li>
			
			<li>
				<label class="desc">
				服務區域
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.service_region }}
				    {% for error in form.service_region.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務對象
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.service_target }}
				    {% for error in form.service_target.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務項目
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.service_field }}
				    {% for error in form.service_field.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li class="section">
				<h3>聯絡資訊</h3>
				<div>一些關於 NPO 的聯絡資訊</div>
			</li>
			
			<li>
				<label class="desc">
				聯絡人
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.contact }}
				    {% for error in form.contact.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					網站
				</label>
				<div class="column">
				    {{ form.website }}
				    {% for error in form.website.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					部落格
				</label>
				<div class="column">
				    {{ form.blog }}
				    {% for error in form.blog.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					電話
					<span class="req"> * </span>
				</label>
				<div class="column">
				    {{ form.telephone }}
				    {% for error in form.telephone.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					傳真
				</label>
				<div class="column">
				    {{ form.fax }}
				    {% for error in form.fax.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li class="section">
				<h3>選填資料</h3>
				<div>一些關於 NPO 的資料</div>
			</li>
			
			<li>
				<label class="desc">
				設立日期
					<span class="req"> * </span>
				</label>
				<span>
				    {{ form.foundyear }}
					/
					<label>西元年</label>
				    {% for error in form.foundyear.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</span>
				<span>
				    {{ form.foundmonth }}
					/
					<label>月</label>
				    {% for error in form.foundmonth.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</span>
				<span>
				    {{ form.foundday }}
					<label>日</label>
				    {% for error in form.foundday.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</span>
			</li>
			
			<li>
				<label class="desc">
					許可機關
				</label>
				<div class="column">
				    {{ form.authority }}
				    {% for error in form.authority.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					劃撥帳號
				</label>
				<div class="column">
				    {{ form.bank_acct_no }}
				    {% for error in form.bank_acct_no.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					劃撥戶名
				</label>
				<div class="column">
				    {{ form.bank_acct_name }}
				    {% for error in form.bank_acct_name.errors %}
				    <span class="req">{{ error|escape }}</span>
				    {% endfor %}
				</div>
			</li>
			
			<li class="section">
				<h3>平台管理者</h3>
				<div>設定可以管理 NPO 的使用者</div>
			</li>
			
			<li>
				<label class="desc">
				    {{ base.name }} ({{ base.user.email }})
				</label>
			</li>
			
			<li>
				<label class="desc">
					管理者 Google 帳戶
				</label>
				<input id="addAdmin" name="addAdmin" class="btTxt" type="submit" value="+" />
				<input id="delAdmin" name="delAdmin" class="btTxt" type="submit" value="-" />
				<span id="adminaccount">
				    {{ form.adminAcctCount }}
				    {{ form.adminaccount_1 }}
				    {% for adminField in formAdminList %}
					{{ adminField }}
				    {% endfor %}
				</span>
			</li>
			
			<li class="buttons section">
				<input id="submit" class="btTxt" type="submit" value="註冊" />
			</li>
		</ul>
		</form>
	</div>
{% endblock %}
