{% extends "registration/base.html" %}

{% block registerExtraHeader %}
<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block registerContent %}
	<h2>申請註冊公益團體 </h2>
	<div class="number-sign">2</div>
	<div class="step-main">
		<p>
		服務條款
		</p>
				
		<div class="column">
			<div class="scrolled-legal">
				<div class="static main-content">
					{% include "about/legal-npo.inc.html" %}
				</div>
			</div>
		</div>

		<form class="flow-form" action="">
			<ul>
				<li>
					<div class="column">
						<h3>在下面按一下「我接受」即表示您同意上述的服務條款以及隱私權政策。</h3>
					</div>
				</li>
				
				<li class="section buttons">
					<input type="submit" class="btTxt" value="我接受；註冊公益團體" name="register">
				</li>
			</ul>
		</form>
	</div>
{% endblock %}
