{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	<link href="/static/css/form.css" rel="stylesheet" type="text/css" />

{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

	<h2>NPO基本資料維護</h2>
	<div class="step-main">
		<form class="flow-form" action="">
		<ul>
			<li class="section">
				<h3>基本資料</h3>
			</li>
			<li>
				<label class="desc">
				群組名稱
				</label>
				<div>
					<input id="txtGroupName" class="field text medium" type="text" name="txtGroupName" />
				</div>
			</li>
			<li>
				<label class="desc">
				創辦人:
				</label>
				<div>
					<input id="txtFounder" class="field text medium" type="text" name="txtFounder" />
				</div>
			</li>
			<li>
				<label class="desc">
				簡介
				</label>
				<div>
					<textarea class="field textarea medium" cols="50" rows="10">
					</textarea>
				</div>
			</li>
			<li class="buttons section">
				<input id="btnSubmitBasicInfo" class="btTxt" type="button" value="儲存變更" />
				<input id="btnCancelBasicInfo" class="btTxt" type="button" value="取消變更" />
			</li>

			<li class="section">
				<h3>聯絡資訊</h3>
			</li>
			
			<li>
				<label class="desc">
				連絡人
				</label>
				<div>
					<input id="txtContact" class="field text medium" type="text" name="txtContact" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				網址:
				</label>
				<div>
					<input id="txtHomePage" class="field text medium" type="text" name="txtHomePage" />
				</div>
			</li> 
			
			<li>
				<label class="desc">
				電話:
				</label>
				<div>
					<input id="txtPhone" class="field text medium" type="text" name="txtPhone" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				傳真:
				</label>
				<div>
					<input id="txtFax" class="field text medium" type="text" name="txtFax" />
				</div>
			</li>
			
			<li class="section">
				<h3>其他資料</h3>
			</li>
			
			<li>
				<label class="desc">
				設立日期:
				</label>
				<div>
					<input id="txtFoundDate" class="field text medium" type="text" name="txtFoundDate" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				許可機關:
				</label>
				<div>
					<input id="txtApproveGov" class="field text medium" type="text" name="txtApproveGov" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務區域:
				</label>
				<div>
					<input id="txtServiceArea" class="field text medium" type="text" name="txtServiceArea" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務對象:
				</label>
				<div>
					<input id="txtServiceTarget" class="field text medium" type="text" name="txtServiceTarget" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務項目:
				</label>
				<div>
					<input id="txtServiceItem" class="field text medium" type="text" name="txtServiceItem" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				劃播帳號:
				</label>
				<div>
					<input id="txtTransferAccountNo" class="field text medium" type="text" name="txtTransferAccountNo" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				劃播戶名:
				</label>
				<div>
					<input id="txtTransferAccountTitle" class="field text medium" type="text" name="txtTransferAccountTitle" />
				</div>
			</li>
			
			<li class="buttons section">
				<input id="btnSubmitOhterInfo" class="btTxt" type="button" value="儲存變更" />
				<input id="btnCancelOtherInfo" class="btTxt" type="button" value="取消變更" />
			</li>
		</ul>
		</form>
	</div>

{% endblock %}
