{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
	
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}
					<div class="content-block">
						<h3 id="page-title">最新消息</h3>
						<div class="npo-news"><a href="#">最新消息第一條</a></div>
						<div class="npo-news"><a href="#">最新消息第二條</a></div>
						<div class="npo-news"><a href="#">最新消息第三條</a></div>
					</div>
					<div class="two-column-content-block">
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">基本資料</span>
							</div>
							<dl class="info-block">
								<dt>群組名稱</dt>
								<dd>中華民國紅十字會</dd>
								<dt>創辦人</dt>
								<dd>創辦人</dd>
								<dt>平台上建立日期</dt>
								<dd>2008/11/01</dd>
								<dt>簡介</dt>
								<dd>
									中華民國紅十字會<br/>
									中華民國紅十字會<br/>
									中華民國紅十字會
								</dd>
								<dt>關鍵字</dt>
								<dd>關鍵字1,關鍵字2,關鍵字3</dd>							
							</dl>
					    	<div class="right-links">
					    		<a href="#">檢視完整基本資料</a>
					    	</div>
						</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我們的相片</span>
							</div>
							<div class="photo-block clearfix">
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我們的影片</span>
							</div>
							<div class="video-block">
								<div class="video-item">
									<div class="video-content">
										<img src="/static/images/u77.png"/>
									</div>
								</div>
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我們的公益分享</span>
							</div>
							<div class="article-block">
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
							</div>
					    	<div class="right-links clearfix">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
					</div>
					<div class="two-column-content-block">
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">活動統計</span>
							</div>
							<dl class="portofolio-block">
								<!--
								<dt>累積服務時數</dt>
								<dd>9527</dd>
								<dt>志工人數</dt>
								<dd>1234</dd>
								-->
								<dt>活動舉辦次數</dt>
								<dd>49</dd>
							</dl>
					    	<div class="right-links">
					    		<a href="#">檢視完整活動列表</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">最新加入志工</span>
							</div>
							<div class="volunteer-block">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="npo-title"><a href="#">Kinny</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置：</b>台北市</div>
									<!--<div class="volunteer-service-hours"><b>服務小時：</b>9527</div>-->
									<div class="volunteer-join"><b>加入日期：</b>2008/11/01</div>
								</div>
							</div>
							<div class="volunteer-block top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="npo-title"><a href="#">Kinny</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置：</b>台北市</div>
									<!--<div class="volunteer-service-hours"><b>服務小時：</b>9527</div>-->
									<div class="volunteer-join"><b>加入日期：</b>2008/11/01</div>
								</div>
							</div>
							<div class="volunteer-block top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="npo-title"><a href="#">Kinny</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置：</b>台北市</div>
									<!--<div class="volunteer-service-hours"><b>服務小時：</b>9527</div>-->
									<div class="volunteer-join"><b>加入日期：</b>2008/11/01</div>
								</div>
							</div>
							<div class="volunteer-block top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="npo-title"><a href="#">Kinny</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置：</b>台北市</div>
									<!--<div class="volunteer-service-hours"><b>服務小時：</b>9527</div>-->
									<div class="volunteer-join"><b>加入日期：</b>2008/11/01</div>
								</div>
							</div>
							<div class="volunteer-block top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="npo-title"><a href="#">Kinny</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置：</b>台北市</div>
									<!--<div class="volunteer-service-hours"><b>服務小時：</b>9527</div>-->
									<div class="volunteer-join"><b>加入日期：</b>2008/11/01</div>
								</div>
							</div>
					    	<div class="right-links">
					    		<a href="#">檢視所有志工</a>
					    	</div>
				    	</div>
					</div>
{% endblock %}
