{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}
    <h3 id="page-title">活動列表</h3>
    <div class="activity-lists">
        <div id="new-activities">
            <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <div class="right-links">
                    	<a href="/event/fullViewEvent/?cat=1">完整列表</a>
                    </div>
                    <h3>新進活動</h3>
                </div>
                
	            <div class="content">
	            	{% if event1 %}
		            {% for event in event1 %}
		            <div class="image">
		            		<img class="img55" src="{% if event.npo_profile_ref.logo %}{{ event.npo_profile_ref.logo }}{%else%}{{ base.noNpoLogo }}{% endif %}" />
	            	</div>
		            <div class="activity-info-item">
		            	<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape  }}</a></h3>
		            	<div class="info-desc">{{ event.originator|escape  }}</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
						</dl>
					</div>
		            {% endfor %}
		            {% else %}
		            	沒有任何新進活動。
		            {% endif %}
	            </div>
			</div>
		</div> <!-- #new-activities -->
		
		<div id="closing-activities">
		    <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <div class="right-links">
                    	<a href="/event/fullViewEvent/?cat=2">完整列表</a>
                    </div>
                    <h3>即將額滿</h3>
                </div>
			
			    <div class="content">
			    	{% if event2 %}
					{% for event in event2 %}
					<div class="image">
		            		<img class="img55" src="{% if event.npo_profile_ref.logo %}{{ event.npo_profile_ref.logo }}{%else%}{{ base.noNpoLogo }}{% endif %}" />
	            	</div>
					<div class="activity-info-item">
						<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape }}</a></h3> 
						<div class="lack-block">缺 <span class="lack">{{ event.lackpeople|escape }}</span> 人</div>
						<div class="info-desc">{{ event.originator|escape }}</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape  }}</dd>
						</dl>
					</div>
					{% endfor %}
					{% else %}
						沒有任何即將額滿的活動。
					{% endif %}
				</div>
			</div>
		</div> <!-- #closing-activities -->
	</div> <!-- .activity-lists -->
	
	
	<div class="activity-lists">
		<div id="completed-activities">
		    <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <div class="right-links">
                    	<a href="/event/fullViewEvent/?cat=3">完整列表</a>
                    </div>
                    <h3>已完成</h3>
                </div>

                <div class="content">
                	{% if event3 %}
					{% for event in event3 %}
					<div class="image">
		            		<img class="img55" src="{% if event.npo_profile_ref.logo %}{{ event.npo_profile_ref.logo }}{%else%}{{ base.noNpoLogo }}{% endif %}" />
	            	</div>
					<div class="activity-info-item">
						<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape  }}</a></h3>
						<div class="info-desc">{{ event.originator|escape  }}</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape  }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
						</dl>
					</div>
					{% endfor %}
					{% else %}
						沒有任何已完成的活動。
					{% endif %}
				</div>
			</div>
		</div> <!-- #completed-activities -->
	</div> <!-- .activity-lists -->
	<div id="activity-calendar">
	</div>
{% endblock activityContent %}
