{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
	{% block npoExtraHeader %}

<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/clockpick.1.2.5.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.clockpick.1.2.5.min.js"></script>
<script type="text/javascript" src="{{ base.jQueryUI_URI }}"></script>

	{% endblock npoExtraHeader %}

{### content ###}
{% block npoContent %}

<SCRIPT type="text/javascript">  
// onload function
$(document).ready(function() {
	$('#mainForm :text').addClass('text');
	$('#mainForm :textarea').addClass('textarea');
	$('#mainForm :select').addClass('select');
});

function submitForm(url , submitType)
  { 
    disableButton(document.myForm);
    document.myForm.submitType.value = submitType
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  	
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}

$(function() {
	$('.datePicker').datepicker({
			showOn: 'button', 
			buttonImage: '/static/images/jquery-ui/calendar.gif', 
			buttonImageOnly: true,
			dateFormat: 'yy-mm-dd',
			minDate: 1,
			monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			dayNamesMin: ['日', '一', '二', '三', '四', '五', '六']
	});

	$('.timePicker').clockpick({
		starthour : 0,
		endhour : 23,
		showminutes : true,
		military : true
	});
});

</SCRIPT>

	<h3 id="page-title" class="subbar">新增活動</h3>
	
	<form method="POST" name="myForm" id="mainForm" action="" class="flow-form">
		<ul>
			<li class="section">
				<h3>新增活動項目</h3>
				<div><span class="req">*</span> 為必填欄位</div>
			</li>
			
			<li>
				<label class="desc">
					活動名稱
					{% if form.event_name.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.event_name }}
					{% if form.event_name.errors %}    
			        {% for error in form.event_name.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動描述
					{% if form.description.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.description }} 
					{% if form.description.errors %}    
                    <label>
			        {% for error in form.description.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
                    </label>
			        {% endif %}
                    <label class="req">
                        請保持在 50 個中文字以內
                    </label>
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動開始時間
					{% if form.start_time.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.start_time }}
					{% if form.start_time.errors %}    
			        {% for error in form.start_time.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動結束時間
					{% if form.end_time.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.end_time }}
					{% if form.end_time.errors %}    
			        {% for error in form.end_time.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					報名開始時間
					{% if form.reg_start_time.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.reg_start_time }} 
					{% if form.reg_start_time.errors %}    
			        {% for error in form.reg_start_time.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					報名截止時間
					{% if form.reg_end_time.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.reg_end_time }} 
					{% if form.reg_end_time.errors %}    
			        {% for error in form.reg_end_time.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動區域
					{% if form.event_region.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.event_region }} 
					{% if form.event_region.errors %}    
			        {% for error in form.event_region.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					公益時數
					{% if form.event_hours.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.event_hours }}
					<label>
						小時
					</label>          
					{% if form.event_hours.errors %}    
			        {% for error in form.event_hours.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					志工名額
					{% if form.volunteer_req.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.volunteer_req }}
					<label>
						人
					</label>
					{% if form.volunteer_req.errors %}    
			        {% for error in form.volunteer_req.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動內容
					{% if form.summary.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.summary }} 
					{% if form.summary.errors %}    
			        {% for error in form.summary.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					報名費用
					{% if form.registration_fee.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.registration_fee }}
					<label>
						新台幣 (元)
					</label> 
					{% if form.registration_fee.errors %}    
			        {% for error in form.registration_fee.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					活動企劃書位址
					{% if form.attachment_links_show.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.attachment_links_show }} 
					{% if form.attachment_links_show.errors %}    
			        {% for error in form.attachment_links_show.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					標籤(關鍵字)
					{% if form.tag.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.tag }} 
					{% if form.tag.errors %}    
			        {% for error in form.tag.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li class="section">
				<h3>志工條件</h3>
				<div></div>
			</li>
			
			<li>
				<label class="desc">
					性別限制
					{% if form.sex.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.sex }}  
					{% if form.sex.errors %}    
			        {% for error in form.sex.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li>
				<label class="desc">
					年齡限制
					{% if form.max_age.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<span class="column">
					{{ form.min_age }}
					{% if form.min_age.errors %}    
			        {% for error in form.min_age.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %} 
					至
					<label>
						歲
					</label>
					
				</span>
				
				<span class="column">
					{{ form.max_age }}
					{% if form.max_age.errors %}    
			        {% for error in form.max_age.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
					<label>
						歲
					</label>
					
				</span>
			</li>
			
			<li>
				<label class="desc">
					活動所需專長
					{% if form.expertise_req.field.required %}<span class="req">*</span>{% endif %}
				</label>
				<div>
					{{ form.expertise_req }}  
					{% if form.expertise_req.errors %}    
			        {% for error in form.expertise_req.errors %}
			        <font color="#FF0000">{{ error|escape }}</font>
			        {% endfor %}
			        {% endif %}
				</div>
			</li>
			
			<li class="buttons section">
				<input type="hidden" name="submitType" value="">
				<input type="button" class="field button" value="送審" name="btnSubmit" onClick="submitForm('/npo/{{npoProfile.npo_id}}/admin/addEvent','send');">
				<input type="button" class="field button" value="暫存" name="btnSave" onClick="submitForm('/npo/{{npoProfile.npo_id}}/admin/addEvent','save');">
				<input type="button" class="field button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';"><br>
			</li>
		</ul>
    <!--
		QA<input type="button" value="新增" name="btnNewQA"><br>
			　<table border="1" width="100%" cellspacing="0" cellpadding="0" id="table3">
					<tr>
						<td>編號</td>
						<td>問題</td>
						<td>答案</td>
						<td>　</td>
					</tr>
					<tr>
						<td>1</td>
						<td>怎樣的條件才夠合格</td>
						<td>都可以</td>
						<td><input type="button" value="修改" name="btnQAUpdate"><input type="button" value="刪除" name="btnQADelete"><input type="button" value="公佈" name="btnQAPublish"></td>
					</tr>
				</table>
		-->
	</form>

{% endblock npoContent %}
