{% extends "event/base.html" %}

{### header ###}

	{% block activityExtraHeader %}

	{% endblock activityExtraHeader %}

{### content ###}

{% block activityContent %}

<SCRIPT language="JavaScript">  
  
  function submitForm(strUrl,intEvtId)
  { 
    disableButton(document.myForm);
  	document.myForm.action = strUrl; 
  	document.myForm.event_key.value=intEvtId;
  	document.myForm.submit(); 
  	
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
  </SCRIPT>

	<h3 id="page-title">活動管理</h3>
		<form name="addEvtForm" action="addEvent" method="POST">
		<input type="submit" value="新增活動" name="btnNewActivity"><br>
		<br>
	</form>
		<table border="1" width="80%" cellspacing="0" cellpadding="0" id="tblActivity">
			<tr>
				<td>活動名稱</td>
				<td>狀態</td>
				<td></td>
			</tr>
			<form name="myForm" action="" method="POST">
			<input type="hidden" name="event_key" value="">
			{% for event in lstActivityList %}
			
			<tr>
				<td>{{ event.name|escape }}</td>
				<td>{{ event.status|escape }}</td>
				<td>
				
				<input {{event.dicPerm.modify}} type="button" value="修改" name="btnModify1" onClick="submitForm('editEvent','{{ event.event_key }}');">
				<input {{event.dicPerm.recruit}} type="button" value="召募" name="btnRecruit1" onClick="submitForm('recruitVolunteer','{{ event.event_key }}');">
				<input {{event.dicPerm.validate}} type="button" value="志工審核" name="btnVerify1" onClick="submitForm('selectVolunteer','{{ event.event_key }}');">
				<input {{event.dicPerm.close}} type="button" value="結案" name="btnClose1" onClick="submitForm('closeEvent','{{ event.event_key }}');">
				<input {{event.dicPerm.cancel}} type="button" value="取消" name="btnCancel1" onClick="submitForm('cancelEvent','{{ event.event_key }}');"></td>
			</tr>
			
			{% endfor %}
			</form>
		</table>

{% endblock activityContent %}
