{% extends "event/base.html" %}

{### header ###}

{### content ###}

{% block activityContent %}
<SCRIPT language="JavaScript">  
  
  function submitForm(url , submitType)
  { 
    disableButton(document.myForm);
    document.myForm.submitType.value = submitType
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  	
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
  </SCRIPT>

	<h3 id="page-title">編輯活動</h3>
	
	<form method="POST" name="myForm" action="">
		<!--webbot bot="SaveResults" U-File="E:\Project\flow\documents\wf\KJ\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
		修改活動項目<br>
		<br>
		<font color="#FF0000">*</font>為必填欄位<br>
		<br>
		<table border="0" width="75%" cellspacing="0" cellpadding="0" id="table4">
			<tr>		  		
				<td width="120">活動名稱<font color="#FF0000">*</font></td>
				<td>{{ form.event_name }} 
				{% if form.event_name.errors %}    
        {% for error in form.event_name.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}
        </td>
			</tr>
		  <tr>		  		
				<td>活動描述<font color="#FF0000">*</font></td>
				<td>{{ form.description }} 
				{% if form.description.errors %}    
        {% for error in form.description.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}
        </td>
			</tr>
			<tr>
				<td>活動開始時間<font color="#FF0000">*</font></td>
				<td>{{ form.start_time }} 
				{% if form.start_time.errors %}    
        {% for error in form.start_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>
      <tr>
        <td>活動結束時間<font color="#FF0000">*</font></td>
        <td>{{ form.end_time }} 
				{% if form.end_time.errors %}    
        {% for error in form.end_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動登記開始時間<font color="#FF0000">*</font></td>
				<td>{{ form.reg_start_time }} 
				{% if form.reg_start_time.errors %}    
        {% for error in form.reg_start_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>
      <tr>
				<td>活動登記結束時間<font color="#FF0000">*</font></td>
				<td>{{ form.reg_end_time }} 
				{% if form.reg_end_time.errors %}    
        {% for error in form.reg_end_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>			
			<tr>
				<td>地點<font color="#FF0000">*</font></td>
				<td>{{ form.event_region }} 
				{% if form.event_region.errors %}    
        {% for error in form.event_region.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>涵蓋地區郵遞區號<font color="#FF0000">*</font></td>
				<td>{{ form.event_zip }} 
				{% if form.event_zip.errors %}    
        {% for error in form.event_zip.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>志工服務<font color="#FF0000">*</font></td>
				<td>{{ form.event_hours }}小時           
				{% if form.event_hours.errors %}    
        {% for error in form.event_hours.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>服務對象<font color="#FF0000">*</font></td>
				<td>{{ form.event_target }} 
				{% if form.event_target.errors %}    
        {% for error in form.event_target.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動目的<font color="#FF0000">*</font></td>
				<td>{{ form.objective }} 
				{% if form.objective.errors %}    
        {% for error in form.objective.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動內容</font></td>
				<td>{{ form.summary }} 
				{% if form.summary.errors %}    
        {% for error in form.summary.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</textarea></td>
			</tr>
			<tr>
				<td>活動所屬的領域<font color="#FF0000">*</font></td>
				<td>{{ form.event_field }} 
				{% if form.event_field.errors %}    
        {% for error in form.event_field.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動種類<font color="#FF0000">*</font></td>
				<td>{{ form.category }} 
				{% if form.category.errors %}    
        {% for error in form.category.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>費用金額<font color="#FF0000">*</font></td>
				<td>新台幣{{ form.expense }} 
				元 {% if form.expense.errors %}    
        {% for error in form.expense.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>報名費<font color="#FF0000">*</font></td>
				<td>新台幣{{ form.registration_fee }} 
				元 {% if form.registration_fee.errors %}    
        {% for error in form.registration_fee.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
			<tr>
				<td>活動企劃書位址<font color="#FF0000">*</font></td>
				<td>{{ form.attachment_links_show }} 
				{% if form.attachment_links_show.errors %}    
        {% for error in form.attachment_links_show.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>標籤(關鍵字)</font></td>
				<td>{{ form.tag }} 
				{% if form.tag.errors %}    
        {% for error in form.tag.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>		
			<tr>
				<td>活動相簿連結</font></td>
				<td>{{ form.event_album_link }} 
				{% if form.event_album_link.errors %}    
        {% for error in form.event_album_link.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
			<tr>
				<td>活動影片連結</font></td>
				<td>{{ form.event_video_link }} 
				{% if form.event_video_link.errors %}    
        {% for error in form.event_video_link.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
			<tr>
				<td>活動 BLOG 連結</font></td>
				<td>{{ form.event_blog_link }} 
				{% if form.event_blog_link.errors %}    
        {% for error in form.event_blog_link.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
			<tr>
				<td>NPO 心得</font></td>
				<td>{{ form.sentiments }} 
				{% if form.sentiments.errors %}    
        {% for error in form.sentiments.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
		</table>		
		  <br>
		  <hr>
		  志工條件<br>	　
		  <br>			  
		<table border="0" width="75%" cellspacing="4" cellpadding="0" id="table1">	  
			<tr>
				<td>性別<font color="#FF0000">*</font></td>
				<td>{{ form.sex }}  
				{% if form.sex.errors %}    
        {% for error in form.sex.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>最大年齡<font color="#FF0000">*</font></td>
				<td>{{ form.max_age }}  
				{% if form.max_age.errors %}    
        {% for error in form.max_age.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
        <td>最小年齡<font color="#FF0000">*</font></td>
				<td>{{ form.min_age }}  
				{% if form.min_age.errors %}    
        {% for error in form.min_age.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動所需志工總人數<font color="#FF0000">*</font></td>
				<td>{{ form.volunteer_req }}  
				{% if form.volunteer_req.errors %}    
        {% for error in form.volunteer_req.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動所需專長<font color="#FF0000">*</font></td>
				<td>{{ form.expertise_req }}  
				{% if form.expertise_req.errors %}    
        {% for error in form.expertise_req.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>是否參與若水公益創新計畫<font color="#FF0000">*</font></td>
				<td>{{ form.join_flow_plan }}  
				{% if form.join_flow_plan.errors %}    
        {% for error in form.join_flow_plan.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>			
		</table>
    <hr>
    <!--
		QA<input type="button" value="新增" name="btnNewQA"><br>
	　<table border="1" width="100%" cellspacing="0" cellpadding="0" id="table6">
			<tr>
				<td>編號</td>
				<td>問題</td>
				<td>答案</td>
				<td>　</td>
			</tr>
			<tr>
				<td>1</td>
				<td>怎樣的條件才夠合格</td>
				<td>都可以</td>
				<td><input type="button" value="修改" name="btnQAUpdate"><input type="button" value="刪除" name="btnQADelete"><input type="button" value="公佈" name="btnQAPublish"></td>
			</tr>
		</table>
		-->
		<p>
		<input type="hidden" name="submitType" value="">
		<input type="hidden" name="event_id" value="{{ event_id }}">
		<p><input type="button" value="送審" name="btnSubmit" onClick="submitForm('editEvent','send');">
			<input type="button" value="暫存" name="btnSave" onClick="submitForm('editEvent','save');">
			<input type="button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='.';"><br>
		</p>
	</form>

{% endblock activityContent %}
