{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
{% block npoExtraHeader %}

{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}
<SCRIPT language="JavaScript">  
function submitForm(url)
  { 
    disableButton(document.myForm);
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
</SCRIPT>
	<h3 id="page-title">手機驗證</h3>
	<form class="flow-form" action="" name="myForm" method="POST">
		<ul>
			<li class="section first">
				<div>您的活動基本資料已經儲存成功，按下[下一步]按鈕之後，系統將會發出一通含有驗證碼的簡訊至您的手機。</div>
			</li>
				<label class="desc">	
				您目前登記的手機號碼為 <label>{{phone_number}}</lable>
				</label>

			<!--
			<li>
				<label class="desc">	
				請輸入手機號碼
				</label>
				<span class="column">
					<input id="phone1" class="field text" name="phone1" maxlength="4" size="4" />
					-
					<label>
						09##
					</label>
				</span>
				<span class="column">
					<input id="phone2" class="field text" name="phone2" maxlength="3" size="3" />
					-
					<label>
						###
					</label>
				</span>
				<span class="column">
					<input id="phone3" class="field text" name="phone3" maxlength="3" size="3" />
					<label>
						###
					</label>
				</span>
			</li>
			-->
			<li class="buttons section">
				<input type="hidden" name="event_key" value="{{ event_key }}">
				<input type="hidden" name="phone_number" value="{{phone_number}}">
				<input id="submit" class="btTxt" type="submit" value="下一步" name="btnSubmit" onClick="submitForm('authEvent');"/>
				<input type="button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';"><br>
			</li>
		</ul>
	</form>
	

{% endblock npoContent %}
