{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
{% block npoExtraHeader %}

{% endblock npoExtraHeader %}


{### content ###}

{% block npoContent %}
<SCRIPT language="JavaScript">  
function submitForm(url)
  { 
    disableButton(document.myForm);
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
</SCRIPT>

	<h3 id="page-title">手機驗證</h3>
	<form class="flow-form" action="" name="myForm" method="POST">
		<ul>
			<li class="section first">
				<div>您將會收到一封驗證碼簡訊，請將驗證碼輸入以完成活動手續。</div>
			</li>
			
			<li>
				{% if token_invalid %}
					<label class="desc">
					驗證碼錯誤，請重新輸入
					</label>
				{% else %}
					<label class="desc">
					請輸入驗證碼
					</label>
        {% endif %}
				
				<div class="column">
					<input id="validation" class="field text" value="{{validation|escape}}" name="validation" maxlength="10" size="10" />
				</div>
			</li>
			<input type="hidden" name="event_key" value="{{ event_key|escape }}">
			{% if debug_comment %}
			<input type="hidden" name="debug_comment" value="{{ debug_comment|escape }}">
			{% endif %}
			<li class="buttons section">
				<input class="btTxt" type="button" value="完成" onClick="submitForm('authEvent3');"/>
				<input type="button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';">
			</li>
		</ul>
		{{debug_comment|escape}}
	</form>
	

{% endblock npoContent %}
