{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}
			    	<div class="content-block">
				    	<h3 id="page-title">活動搜尋</h3>
				    {% if entryList %}
					<div class="list-title">搜尋{{displayStr}}的活動, 共找到 {{ pageSet.count }} 個活動, 顯示第 {{ pageSet.startIndex|add:"1" }} 至 {{ pageSet.endIndex|add:"1" }} 個</div>
					{% include "paging_top.html" %}
						<div class="fullpage-list">
						    {% for event in entryList %}
							<div class="item npo top-line clearfix">
						    	<div class="actions">
						    		<div class="link"><a href="/event/viewEvent?id={{event.key|escape }}">前往活動首頁</a></div>
									<div class="link">加入活動</div>
						    	</div>
						    	
						    	<div class="image">
								    <img class="img55" src="{% if event.npo_profile_ref.logo %}{{ event.npo_profile_ref.logo }}{%else%}{{ base.noLogo }}{% endif %}" />
								</div>
						    	
								<div class="name">
								    <div class=""><a href="/event/viewEvent?id={{event.key|escape }}">{{ event.event_name|escape  }}</a></div>
								</div>
								
								<div class="stats">
									<dl>
										<dt>活動時間: </dt>
										<dd>{{ event.startTime|escape  }}</dd>
										<dt>活動地點: </dt>
										<dd>{{ event.region|escape }}</dd>
										<dt>活動說明: </dt>
										<dd>{{ event.description|escape }}</dd>
										<dt>已報名人數: </dt>
										<dd>{{ event.registered_count }}</dd>
										<dt>通過審核人數: </dt>
										<dd>{{ event.approved_count }}</dd>
										<dt>尚欠人數: </dt>
										<dd>{{ event.volunteer_shortage }}</dd>
									</dl>
								</div>
							</div>
						    {% endfor %}
						</div>
					{% include "paging_bottom.html" %}
					{% else %}
					<div class="fullpage-list">找不到任何{{displayStr}}的活動</div>
					{% endif %}
					</div>
{% endblock %}
