{% extends "admin/base.html" %}

{### header ###}

{### content ###}

{% block adminContent %}

	<h3 id="page-title">不當使用頁面列表</h3>
	
	<form method="POST" action="">
		<table border="1" width="80%" cellspacing="0" cellpadding="0" id="tblActivity">
			<tr>
				<td>頁面連結</td>
				<td>回報使用者 (IP)</td>
				<td>日期</td>
			</tr>
			<tr>
				<td><a href="javascript:;">頁面連結</a></td>
				<td>someone (123.123.123.123)</td>
				<td>2009/03/06 00:00:00</td>
			</tr>
			<tr>
				<td><a href="javascript:;">頁面連結</a></td>
				<td>someone (123.123.123.123)</td>
				<td>2009/03/06 00:00:00</td>
			</tr>
			<tr>
				<td><a href="javascript:;">頁面連結</a></td>
				<td>someone (123.123.123.123)</td>
				<td>2009/03/06 00:00:00</td>
			</tr>
			<tr>
				<td><a href="javascript:;">頁面連結</a></td>
				<td>someone (123.123.123.123)</td>
				<td>2009/03/06 00:00:00</td>
			</tr>
			<tr>
				<td><a href="javascript:;">頁面連結</a></td>
				<td>someone (123.123.123.123)</td>
				<td>2009/03/06 00:00:00</td>
			</tr>
		</table>
	</form>

{% endblock adminContent %}
