{% extends "admin/base.html" %}

{### header ###}

{### content ###}

{% block adminContent %}

	<h3 id="page-title">志工平台活動管理</h3>
	
	<form method="POST" action="">
		<table border="1" width="80%" cellspacing="0" cellpadding="0" id="tblActivity">
			<tr>
				<td>活動名稱</td>
				<td>發起NPO</td>
				<td>狀態</td>
				<td>　</td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>等待認證</td>
				<td><input type="button" value="上架">
				<input type="button" value="警告" disabled="true">
				<input type="button" value="下架"></td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>上架</td>
				<td><input type="button" value="上架" disabled="true">
				<input type="button" value="警告">
				<input type="button" value="下架"></td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>警告</td>
				<td><input type="button" value="上架">
				<input type="button" value="警告" disabled="true">
				<input type="button" value="下架"></td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>下架</td>
				<td><input type="button" value="上架">
				<input type="button" value="警告">
				<input type="button" value="下架" disabled="true"></td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>上架</td>
				<td><input type="button" value="上架" disabled="true">
				<input type="button" value="警告">
				<input type="button" value="下架"></td>
			</tr>
			<tr>
				<td><a href="javascript:;">活動名稱 (連至活動資訊頁面)</a></td>
				<td>NPO名稱</td>
				<td>上架</td>
				<td><input type="button" value="上架" disabled="true">
				<input type="button" value="警告">
				<input type="button" value="下架"></td>
			</tr>
		</table>
	</form>

{% endblock adminContent %}
