{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/register.css" rel="stylesheet" type="text/css" />
	
	{% block registerExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock registerExtraHeader %}

{% endblock extraHeader %}

{### splashPage ###}

{% block splashPage %}
	{% include "splashbox.html" %}
{% endblock splashPage %}

{### content ###}

{% block mainContent %}

	{% block registerContent %}
		{### this block can be replaced by children template with register main content ###}
		block registerContent here
	{% endblock registerContent %}
	
{% endblock mainContent %}
