{% extends "registration/base.html" %}

{% block registerExtraHeader %}
<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function() {
	$("input[name='no']").click(function(e) {
	    e.preventDefault();
	    history.go(-1);
	});
    });
</script>
{% endblock registerExtraHeader %}

{% block registerContent %}
	{% if isWarning %}
	<div class="ui-widget-header" style="clear: both; padding: 5px; text-align: center; font-size: large;">
	    {{ isWarning }}
	</div>
	{% endif %}

	<h3 id="page-title">申請註冊公益團體</h3>
	<div class="number-sign">1</div>
	<div class="step-main">
		<p>
		請問您是否要申請註冊公益團體?
		</p>
		<form action="">
		    <input type="submit" value="是，我要申請" name="yes"{% if isWarning %} disabled="disabled"{% endif %}>
			<input type="submit" value="否" name="no">
		</form>
	</div>
{% endblock %}
