				<div id="boxes-left" class="box_column">
	                <div id="friends" class="left-box">
                	<h3 class="left-box-header">
						我的朋友
                    </h3>
                    <div class="left-box-body">
                    	<h4 class="left-box-header clearfix">
                        	<span>
                        		<a href="">75 位朋友</a>
                            </span>
                            <small>
                            	<a href="">全部</a>
                            </small>
                        </h4>
                        <div class="people">
                        	<div class="row">
                            	<div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                            	</div>
                                <div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                            	</div>
                                <div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                                </div>    
                            </div>
                        	<div class="row">
                            	<div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                            	</div>
                                <div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                            	</div>
                                <div class="person">
                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            		<a href="">Tom</a>
                                </div>    
                            </div>
                        </div>
                    </div>
	    		        <!-- <p>Left sidebar here</p>-->
	                </div>
				</div>