{% extends "user/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

			    	<h3 id="page-title">新增帳號</h3>
			        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	  		        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
			        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	  		        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	
			        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	  		        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
			        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	  		        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
			        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>
	  		        <p>You can choose either way to sign up in Social eBay</p>
					<p>You can choose either way to sign up in Social eBay</p>

{% endblock %}
