{% extends "base.html" %}

{### header ###}

{% block extraHeader %}
	
	<link href="/static/css/activity.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
	{% block activityExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock activityExtraHeader %}

{% endblock extraHeader %}

{### splashPage ###}

{% block splashPage %}
	{% include "splashbox.html" %}
{% endblock splashPage %}

{### content ###}

{% block mainContent %}

	{% block activityContent %}
		{### this block can be replaced by children template with activity main content ###}
		block activityContent here
	{% endblock activityContent %}
	
{% endblock mainContent %}
