{% extends "about/base.html" %}

{### header ###}
{### content ###}

{% block aboutContent %}
<div id="about_platform" class="volunteer-title">
    關於平台
</div>
甚麼是平台? 平台就是聚集平凡的人在一起，做不平凡的事情。
<br><br>
<div id="about_belief" class="volunteer-title">
    信念
</div>
People Help People. Yes! We can!<BR>
是的!! 我們可以人們幫助人們。
<br>
我們相信透過志工精神，人們互助，讓這社會凝聚向善的力量。
<br><br>
<div id="about_start" class="volunteer-title">
    緣起
</div>
若水在 2008 年 1 月 31 日舉辦了第一屆台灣公益論壇，廣邀非營利組織，政府，企業和學界，討論「如何利用企業策略創新公益」，利用”世界咖啡館”的方式凝聚現場250多人共識，最後從150個智慧結晶內票選出: 建立組織之間實體與虛擬供需平台，讓非營利組織與營利組織策略聯盟，讓人力和資源交流並相互協助。
論壇結束之後，若水又再針對公益平台舉辦了 5 場以上的焦點訪談(Focus
Group)， 了解近100位使用者對公益平台的需求。我們四處走訪，向包括Yahoo!公益在內的30個企業、學校、非營利事業組織和有創立經營過平台的單位請教。同時，也研究台灣，美國，歐洲和大陸等慈善事業，分析Web2.0網站如Global Giving、Changemaker等超過50個以上的國內外公益網站。創辦人張明正先生更是到美國，親自拜訪了 Kiva和 VolunteerMatching，請益公益網站的經營。
<br><br>
<div id="about_idea" class="volunteer-title">
    理念
</div>
Do something! Not only pay money!
人心是無法用金錢買的，也無法用金錢給衡量地。我們相信透過人與人的互動和互助，所帶來的效益，遠遠超過資金。我們在平台上強調志工而非義工，「義」工是從「我」出發，如易造成一廂情願的我執。而「志」工則是發自「內心」的喜樂，將心比心的互助。
<br><br>
<div id="about_process" class="volunteer-title">
    過程
</div>
Yap! It’s a volunteer platform
Let us construct it in volunteer ways.
公益平台提倡志工精神，我們從搭建的過程中，就實踐志工精神。我們也組成了
台大與輔大的學生志工團隊，進行平台的市場調查研究與訪談，幫助平台的設計與開發，希望讓平台最後的呈現，是社會大眾所需要的。
對若水將來說，公益平台是「社會資產」，我們將採用開放程式碼(open source)和開放平台(open platform)的精神。目前軟體開發團隊是由趨勢科技的志工，在工作之餘投入時間與專長，協助若水搭建公益平台。
如果您有興趣參與我們開發計畫，請將您的基本資料和履歷，寄到 <a href="mailto:service@flow.org.tw">service@flow.org.tw</a> 我們將會與您連絡。
<br><br>
<div id="about_whowhat" class="volunteer-title">
    誰適合使用公益平台？ 公益平台上又可以做些什麼呢？
</div>
如果你是商業人才，平常有全職的工作，但想在下班後的時間，利用自己的專長幫助別人。你可以上公益平台，透過「進階搜尋」的功能，尋找需要財務行銷技術法律等專家做顧問諮詢的NPO或社會企業，與他們連絡，幫助他們建立更完整的財務制度或行銷策略。
如果你是個上班族，想利用上班之外的時間，幫助無法跟上學校課業進度的小朋友做課外輔導，你可以利用平台上的「地理位置搜尋」功能，找尋你家附近的學校，利用早上 7:00 ~8:00上班前的一小時，晨間輔導這群小朋友。
如果你是退休人員，你愛登山，你可以上公益平台，利用平台上的「發起活動」功能，號召一群愛爬山又想做公益的朋友一起去爬山，享受青山美景之餘，隨手做「清山環保」。回來之後，透過公益平台上，和志同道合的朋友保持聯絡，同時在個人的「公益履歷表」上，可以分享登山的心情和照片。
如果你在非營利組織工作，需要志工在每個週六的早上，到育幼院說故事和陪伴小朋友。你可以上公益平台，透過「發起活動」的機制，公佈你要找20位喜愛小朋友又擅長說故事的志工。透過「志工搜尋」，找到居住在育幼院附近的志工。
如果你是學生，又很宅，你可以上公益平台，透過搜尋功能，找到需要課後輔導的小朋友。在下課後的時間，透過skype教山區的原住民小朋友雞兔同籠的代數問題。別忘了利用平台上「公益行事曆」的功能，提醒自己跟小朋友約定的時間喔！
如果你或是你工作的組織樂意參與公益，你可以在Blog或網站掛上你專屬的「公益撲滿」形象貼紙(widget)。點選widget就能連結到公益平台上專屬於你個人或組織的「公益履歷表」，客觀且透明的紀錄你的公益旅程，讓大家看到你個人或
組織的公益成果，建立專屬而獨特的社會形象。
不管你是誰，只要你想做公益，公益平台都能夠滿足你的需求！
歡迎大家上網加入公益平台，也下鄉捲起袖子加入志工的行列喔！	

{% endblock aboutContent %}
