		<div class="activity-info-content">
			<div class="content-block">
				<div class="block-caption">
					<span class="caption">基本資訊</span>
				</div>
				<dl>
					<dt>發起人/群組:</dt>
					<dd>台北扶青團</dd>
					<dt>發起時間:</dt>
					<dd>2008/11/03 12:58</dd>
					<dt>活動類型:</dt>
					<dd>義賣</dd>
					<dt>活動地區:</dt>
					<dd>台北市</dd>
					<dt>活動地點:</dt>
					<dd>新光三越站前店廣場</dd>
					<dt>公益時數:</dt>
					<dd>7 小時</dd>
				</dl>
			</div> <!-- .content-block -->
		</div> <!-- .activity-info-content -->
