{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}
	<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/space.css" rel="stylesheet" type="text/css" />
	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}
			    	<h3 id="page-title">新增影片</h3>
			    	<div class="content-block">
			    		<form class="flow-form" action="">
			    			<ul>
			    				<li class="section first">
									<h3>Youtube 上的影片</h3>
									<div>您可以直接勾選 Youtube 上您的影片</div>
								</li>
								<li>
									<div class="column">
										<input name="video1" id="video1" class="field checkbox" type="checkbox">
										<label class="choice" for="video1">
											趨勢新聞
										</label>
									</div>
									<div class="indent">
										<label class="desc">趨勢 新聞
										</label>
										<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/e1iIuxRKrRw&hl=zh_TW&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/e1iIuxRKrRw&hl=zh_TW&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
									</div>
								</li>
								<li>
									<div class="column">
										<input name="video2" id="video2" class="field checkbox" type="checkbox">
										<label class="choice" for="video2">
											The Rose
										</label>
									</div>
									<div class="indent">
										<label class="desc">中央大學2007西潮英歌比賽, 重唱組初賽: The Rose. WesTide 2007 EngSong Competition: The Rose
										</label>
										<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/krgMCdsOSX8&hl=zh_TW&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/krgMCdsOSX8&hl=zh_TW&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
									</div>
								</li>
								<li class="section">
									<h3>自行輸入</h3>
									<div>自行在下方網址列輸入 Youtube 網址</div>
								</li>
								<li>
									<label class="desc">
										影片一
									</label>
									<div>
										<input id="name" class="field text large" type="text" name="url1" maxlength="255" value="http://" />
									</div>
								</li>
								<li>
									<label class="desc">
										影片二
									</label>
									<div>
										<input id="name" class="field text large" type="text" name="url2" maxlength="255" value="http://" />
									</div>
								</li>
								<li>
									<label class="desc">
										影片三
									</label>
									<div>
										<input id="name" class="field text large" type="text" name="url3" maxlength="255" value="http://" />
									</div>
								</li>
								<li>
									<label class="desc">
										影片四
									</label>
									<div>
										<input id="name" class="field text large" type="text" name="url4" maxlength="255" value="http://" />
									</div>
								</li>
								<li>
									<label class="desc">
										影片五
									</label>
									<div>
										<input id="name" class="field text large" type="text" name="url5" maxlength="255" value="http://" />
									</div>
								</li>
								
								<li class="buttons section">
									<input id="cancel" class="btTxt" type="button" value="取消" />
									<input id="submit" class="btTxt" type="submit" value="確定加入" />
								</li>
							</ul>
			    		</form>
			    	</div>
{% endblock %}
