{% extends "activity/base.html" %}

{### header ###}
{% block activityExtraHeader %}

<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>  
<script type="text/javascript">
<!--
function setButtonsEnabled() 
{
	$('input.to-approved').attr('disabled', (0 == $('#pool option:selected').length) ? true : false);
	$('input.to-pool').attr('disabled', (0 == $('#approved option:selected').length) ? true : false);
}

function checkIfSelectIsEmpty()
{
	$('#approved, #pool').each(function(){
		$(this).children('option.default').remove();
		if (0 == $(this).children('option').length) {
			$(this).append('<option value="none" class="default" disabled="true">('
				+(('approved' == $(this).attr('id')) ? '目前沒有人通過' : '目前沒有人等待審核')+')</option>');
		}
	});
	setButtonsEnabled();
}

function moveToApproved(moveAll)
{
	if (moveAll) {
		$('#pool option').attr('selected', 'true');
	}
	$('#approved').append($('#pool option:selected').remove());
	checkIfSelectIsEmpty();
}

function moveToPool(moveAll)
{
	if (moveAll) {
		$('#approved option').attr('selected', 'true');
	}
	$('#pool').append($('#approved option:selected').remove());
	checkIfSelectIsEmpty();
}

// onload function
$(function() {
	checkIfSelectIsEmpty();
});
-->
</script>

{% endblock activityExtraHeader %}
{### content ###}

{% block activityContent %}

	<div id="activity-cancel">
		<h3 id="page-title">志工審核</h3>
		<form class="flow-form" method="POST" action="">
			<ul>
				<li class="section first">
					<h3>請選擇參與活動的志工</h3>
				</li>
				
				<li>
					<span class="column">
						<select multiple id="pool" name="pool" class="select" size="8" onchange="javascript:setButtonsEnabled();">
							<option value="id1">Mary</option>
							<option value="id2">Brian</option>
							<option value="id3">Feynmen</option>
							<option value="id4">Tom</option>
							<option value="id5">Alice</option>
						</select>
						<label>
							等待審核
						</label>
					</span>
					
					<span class="column align-center">
						<div class="column">
							<input type="button" class="to-approved" value="全部通過 &raquo;" onclick="javascript:moveToApproved(true);"/>
						</div>
						
						<div class="column">
							<input type="button" class="to-approved" value="移至審核通過 &gt;" onclick="javascript:moveToApproved(false);"/>
						</div>
							
						<div class="column">
							<input type="button" class="to-pool" value="&lt; 移至等待審核" onclick="javascript:moveToPool(false);"/>
						</div>
						
						<div class="column">
							<input type="button" class="to-pool" value="&laquo; 全部刪除" onclick="javascript:moveToPool(true);"/>
						</div>
					</span>
					
					<span class="column">
						<select multiple id="approved" name="approved" class="select" size="8" onchange="javascript:setButtonsEnabled();">
						</select>
						<label>
							已經審核通過
						</label>
					</span>
				</li>
				
				<li class="section buttons">
						<input type="button" class="btTxt" value="取消" name="btnCancel">
						<input type="submit" class="btTxt" value="確定送出" name="btnSubmit">
				</li>
			</ul>
		</form>
		
	</div> <!-- #activity-cancel -->

{% endblock activityContent %}