.activity-lists {
	clear: both;
	width: 750px;
	
}
#new-activities {
	float: left;
	width: 360px;
	margin-right: 30px;
}

#closing-activities {
	float: right;
	width: 360px;
}

#completed-activities {
	width: 750px;
	padding-top: 10px;
}

.activity-lists .activity-info-item {
}

.with-lack-people-num {
	padding-left: 45px;
}

.activity-lists .activity-info-item dt {
	width: 70px;
}

.activity-lists .activity-info-item dd {
	width: 250px;
	margin-left: 80px;
}

.activity-lists .with-lack-people-num dd {
	width: 200px;
}

.activity-lists .activity-info-item span.info-desc {
	color: #999;
}

.activity-lists .activity-info-item .activity-title {
	font-size: 14px;
}

.lack-people-block {
	float: left;
	width: 45px;
	height: 100%;
	clear: left;
}

.lack-people-block .lack {
	position: absolute;
	float: left;
	font-weight: bold;
}
.lack-people-block .block {
	border: 1px #f60 solid;
	background: #ffc;
	margin: 1px 5px;
	text-align: center;
}
.lack-people-block .number {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0;
	margin-top: 5px;
}

#activity-info {
	padding-left: 50px;
}

#activity-info-head .title {
	float: left;
	width: 190px;
	padding-top: 5px;
	font-size: 16px;
	color: #f00;
	font-weight: bold;
	vertical-align: center;
	margin-right: 10px;
}

#activity-info-head .progress-image {
	float: left;
	width: 500px;
	margin-left: 60px;
}

#activity-info-head .progress-text {
	float: left;
	width: 700px;
	padding-bottom: 5px;
}

#activity-info-head .progress-text-item {
	float: left;
	width: 89px;
}

#activity-info-head .progress-text-item  p {
	padding: 0;
}

#activity-info-head .progress-image-item {
	float: left;
}

.activity-info-content {
	clear: both;
}

.activity-info-content dt {
	width: 200px;
}
.activity-info-content dd {
	width: 700px;
}

.activity-info-content .schedule-table th {
	width: 250px;
}

#activity-apply-block  h6 {
	font-size: 24px;
	margin-left: 100px;
}

#activity-apply-block  p {
	margin-left: 100px;
}

#activity-apply-block  button {
	width: 100px;
	margin: 0 10px;
}
