#main-picture {
	width: 500px;
	height: 260px;
	float: left;
}
#right-container {
	width: 335px;
	float: right;
}

.context {
	border: solid;
	border-width: 1px;

	margin-bottom: 4px;
	height: 126px;
}

#volunteer {
	border-color: #9CF;
}

#npo {
	border-color: #6CF;
}

#bottom-container {
	clear: both;
	width: 840px;
}

#event {
	border-color: #39F;
}

.context .title {
	padding: 5px;
	color: #FFF;
}

#volunteer .title {
	background-color: #09C;
}

#npo .title {
	background-color: #069;
}

#event .title {
	background-color: #036;
}

.title A {
	color: #FFF;
}

.title A:hover {
	color: #FFF;
}

.title A:active {
	color: #FFF;
}

.title A:visited {
	color: #FFF;
}

#event-container {
	padding: 3px;
	margin: 0 auto;
}

#event-container .event-item:first-child {
	border-left-style: none !important;
}

#event-container .event-item {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #AAA;
	padding: 0 5px;
	/* display: inline-table; */
	/* display: inline-table; */
	float: left;
	width: 155px;
	height: 92px;
}

.event-item h1 {
	font-size: 15px;
}

.event-item h2 {
	font-size: 11px;
	color: #666;
	border: none !important;
	margin-bottom: 4px;
}

.event-item div {
	font-size: 11px;
	color: #333;
}

.event-item img {
	float: left;
	padding-right: 3px;
}

.event-item p {
	border-top-width: 1px;
	border-top-color: #666;
	border-top-style: solid;
	padding-top: 3px;
	font-size: 11px !important;
	padding-bottom: 0px !important;
	color: #000;
}