#npo-name {
	font-size: 24px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.right-column #page-title {
	border-bottom: 0;
	padding-left: 10px;
}

.right-column dt {
	width: 100px;
}

.list-title {
	float: left;
	font-weight: bold;
	padding-bottom: 5px;
}

.volunteer-item,
.activity-item {
	clear: both;
	border-bottom: 1px solid;
	padding-top: 10px;
	padding-bottom: 5px;
}

.first-item {
	border-top: 1px solid;
}

.volunteer-img,
.activity-img {
	width: 60px;
	height: 60px;
	float: left;
}

.volunteer-name {
	width: 140px;
	height: 60px;
	float: left;
}

.activity-desc {
	margin-left: 70px;
	min-height: 60px;
}

.activity-info {
	float: right;
	width: 200px;
}

dl.activity-dl dt {
	width: 60px;
}

dl.activity-dl dd {
	margin-left: 70px;
	width: 100px;
}

.activity-item .activity-title {
	font-size: 16px;
	padding-bottom: 5px;
}

.activity-item .activity-group {
	font-size: 14px;
	padding-bottom: 5px;
}

.volunteer-item {
	height: 80px;
	width: 720px;
}

.activity-item {
	height: 80px;
	width: 720px;
}

.volunteer-desc {
	float: left;
	width: 450px;
}

.volunteer-desc h6 {
	font-size: 14px;
}

.volunteer-desc dl.volunteer-desc-list {
	float: left;
	width: 400px;
}

.volunteer-desc dl.volunteer-desc-list dt {
	width: 70px;
}

.volunteer-links {
	float: left;
}

.right-column dd {
	margin-left: 110px;
}

dl.portofolio {
	font-size: 16px;
	font-weight: bold;
}

dl.portofolio dt {
	color: #000;
}

dl.portofolio dd {
	width: 100px;
	margin-left: 410px;
}

.two-column-content-block dt {
	width: 100px;
}

.two-column-content-block dd {
	margin-left: 110px;
}

dl.info-block dd {
	width: 200px;
}

dl.portofolio-block dd {
	width: 50px;
}

.right-column div.article-block .article-author-img {
	float: left;
	height: 50px;
}

.right-column div.article-block .article-info {
	width: 240px;
	height: 50px;
	float: left;
	overflow: auto;
}

div.article-block .article-info {
	margin-left: 0px;
}

.article-block .article-item {
	height: 70px;
}

/* For the event in npo home.html */
#event-container {

}

#event-container .event-item:first-child {
	border-left-style: none !important;
	padding-left: 0 !important;
}

#event-container .event-item {
	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: #CCC;
	padding: 0 5px 0px 5px;
	margin-bottom: 10px;
	/* display: inline-table; */
	/* display: inline-table; */
	float: left;
	width: 155px;
	height: 70px;
}

.event-item h1 {
	font-size: 17px;
}

.event-item h2 {
	font-size: 13px;
	color: #666;
	border: none !important;
	margin-bottom: 0px;
}

.event-item div {
	font-size: 13px;
	color: #666;
}

.event-item img {
	float: left;
	padding-right: 0px;
}

.event-item p {
	/*
	border-top-width: 1px;
	border-top-color: #666;
	border-top-style: solid;
	padding-top: 3px;*/
	font-size: 14px !important;
	padding-bottom: 0px !important;
	color: #000;
}
/* end */