{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}

	<div class="activity-lists">
		<div id="new-activities">
			<div class="block-caption">
				<span class="caption">新進活動</span>
			</div>
			
			<div class="activity-info-item">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
		</div> <!-- #new-activities -->
		<div id="closing-activities">
			<div class="block-caption">
				<span class="caption">即將額滿</span>
			</div>
			
			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">3</div>
				<div class="block">人</div>
			</div>
			<div class="activity-info-item with-lack-people-num">
				<p><a href="#" class="activity-title">活動名稱活動名稱...</a> <span class="info-desc">公益團體... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">3</div>
				<div class="block">人</div>
			</div>
			<div class="activity-info-item with-lack-people-num top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱...</a> <span class="info-desc">公益團體... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>

			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">3</div>
				<div class="block">人</div>
			</div>
			<div class="activity-info-item with-lack-people-num top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱...</a> <span class="info-desc">公益團體... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>

			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">3</div>
				<div class="block">人</div>
			</div>
			<div class="activity-info-item with-lack-people-num top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱...</a> <span class="info-desc">公益團體... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>

			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">3</div>
				<div class="block">人</div>
			</div>
			<div class="activity-info-item with-lack-people-num top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱...</a> <span class="info-desc">公益團體... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>

		</div> <!-- #closing-activities -->
	</div> <!-- .activity-lists -->
	<div class="activity-lists">
		<div id="completed-activities">
			<div class="block-caption">
				<span class="caption">已完成</span>
			</div>
			
			<div class="activity-info-item">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
		</div> <!-- #completed-activities -->
	</div> <!-- .activity-lists -->
	<div id="activity-calendar">
	</div>
{% endblock activityContent %}
