{% extends "event/base.html" %}

{### header ###}

{### content ###}

{% block activityContent %}

	<h3 id="page-title">活動管理</h3>
	
	<form method="POST" action="">
		<input type="button" value="新增活動" name="btnNewActivity"><br>
		<br>
		　 
		<table border="1" width="80%" cellspacing="0" cellpadding="0" id="tblActivity">
			<tr>
				<td>活動名稱</td>
				<!--<td>狀態</td>-->
				<td>　</td>
			</tr>
			<tr>
				<td>喜憨兒餅乾義賣</td>
				<!--<td>企劃暫存中</td>-->
				<td><input type="button" value="修改" name="btnUpdate1">
				<input type="button" value="召募" name="btnRecruit1">
				<input type="button" value="志工審核" name="btnVerify1">
				<input type="button" value="結案" name="btnClose1">
				<input type="button" value="取消" name="btnCancel1"></td>
			</tr>
			<tr>
				<td>台大捐血</td>
				<!--<td>手機認證中</td>-->
				<td><input type="button" value="修改" name="btnUpdate2">
				<input type="button" value="召募" name="btnRecruit2">
				<input type="button" value="志工審核" name="btnVerify2">
				<input type="button" value="結案" name="btnClose2">
				<input type="button" value="取消" name="btnCancel2"></td>
			</tr>
			<tr>
				<td>烏來國小圖書館整理</td>
				<!--<td>志工招募中</td>-->
				<td><input type="button" value="修改" name="btnUpdate3">
				<input type="button" value="召募" name="btnRecruit3">
				<input type="button" value="志工審核" name="btnVerify3">
				<input type="button" value="結案" name="btnClose3">
				<input type="button" value="取消" name="btnCancel3"></td>
			</tr>
			<tr>
				<td>柏大尼育幼院耶誕活動</td>
				<!--<td>活動執行中</td>-->
				<td><input type="button" value="修改" name="btnUpdate4">
				<input type="button" value="召募" name="btnRecruit4">
				<input type="button" value="志工審核" name="btnVerify4">
				<input type="button" value="結案" name="btnClose4">
				<input type="button" value="取消" name="btnCancel4"></td>
			</tr>
			<tr>
				<td>活動五</td>
				<!--<td>活動結案中</td>-->
				<td><input type="button" value="修改" name="btnUpdate5">
				<input type="button" value="召募" name="btnRecruit5">
				<input type="button" value="志工審核" name="btnVerify5">
				<input type="button" value="結案" name="btnClose5">
				<input type="button" value="取消" name="btnCancel5"></td>
			</tr>
			<tr>
				<td>活動六</td>
				<!--<td>已結案</td>-->
				<td><input type="button" value="修改" name="btnUpdate6">
				<input type="button" value="召募" name="btnRecruit6">
				<input type="button" value="志工審核" name="btnVerify6">
				<input type="button" value="結案" name="btnClose6">
				<input type="button" value="取消" name="btnCancel6"></td>
			</tr>
		</table>
	</form>

{% endblock activityContent %}
