{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}

	<div class="activity-lists">
		<div id="detailed-activities">
			<div class="right-links">
				<div class="pager">
					<a href="#" class="current">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一頁</a>
				</div>
			</div>
									
			<div class="block-caption">
				<span class="caption">xxx活動列表</span>
			</div>

			<div class="activity-info-item">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>
			
			<div class="activity-info-item top-dot-line">
				<p><a href="#" class="activity-title">活動名稱活動名稱活動...</a> <span class="info-desc">公益團體名稱... 於 2008/12/31 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>2008/12/01 13:00</dd>
					<dt>活動地點:</dt><dd>活動地點活動地點活動地點活動地點活動地點活動地點...</dd>
					<dt>活動說明:</dt><dd>活動說明活動說明活動說明活動說明活動說明活動說明...</dd>
				</dl>
			</div>

			<div class="right-links">
				<div class="pager">
					<a href="#" class="current">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一頁</a>
				</div>
			</div>									

		</div> <!-- #detailed-activities -->
	</div> <!-- .activity-lists -->
	<div id="activity-calendar">
	</div>
{% endblock activityContent %}
