		<div id="activity-info-head">
			<div class="progress-text">
				<div class="title">
				喜憨兒餅乾義賣
				</div>
				<div class="progress-text-item red">
				<p>志工招募中</p>
				<p>2008/11/03</p>
				</div>
				<div class="progress-text-item red">
				<p>志工訓練中</p>
				<p>2008/11/06</p>
				</div>
				<div class="progress-text-item grey">
				<p>活動進行中</p>
				<p>2008/11/09</p>
				</div>
				<div class="progress-text-item grey">
				<p>活動已結束</p>
				<p>2008/11/10</p>
				</div>
			</div>
			<div class="progress-image">
				<div class="progress-image-item"><img src="/static/images/activity-info-progress-head.png"></div>
				<div class="progress-image-item"><img src="/static/images/activity-info-progress-red.png"></div>
				<div class="progress-image-item"><img src="/static/images/activity-info-progress-grey.png"></div>
				<div class="progress-image-item"><img src="/static/images/activity-info-progress-grey.png"></div>
			</div>
		</div> <!-- #activity-info-head -->
