{% extends "event/base.html" %}

{### header ###}
{% block activityExtraHeader %}
	<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}


{### content ###}

{% block activityContent %}
	<h3 id="page-title">手機驗證</h3>
	<form class="flow-form" action="">
		<ul>
			<li class="section first">
				<div>您將會收到一封驗證碼簡訊，請將驗證碼輸入以完成活動手續。</div>
			</li>
			
			<li>
				<label class="desc">
				請輸入驗證碼
				</label>
				<div class="column">
					<input id="validation" class="field text" name="validation" maxlength="10" size="10" />
				</div>
			</li>
			
			<li class="buttons section">
				<input id="submit" class="btTxt" type="submit" value="完成" />
			</li>
		</ul>
	</form>
	

{% endblock activityContent %}
