<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="nonfooter">
	<div class="header">
    	<div class="header-bar">
            <div id="header-links">
                <ul class="top-horizontal-menu">
                    <li><a href="index.html">首頁</a></li>
                    <li><a>活動</a></li>
                    <li><a>NPO</a></li>
                    <li><a>志工</a></li>
                    <li><a>網站行事曆</a></li>
                </ul>
            </div>
            <div id="login-box">
                <ul class="top-horizontal-menu">
                    <li><a>登入</a></li>
                    <li><a>我的履歷表</a></li>
                    <li><a>Help</a></li>
                </ul>
            </div>
        </div>
        <div id="splash-box">
        	<div id="site-logo">
	            <img src="/static/images/u28.png" />
            </div>
            <h2 id="site-title">若水公益交換平台</h2>
        </div>
    </div>
    <div class="main-content">
    	<div class="left-column-container">
        	<div class="left-column">
	        	<div id="picture">
    	        <img src="/static/images/3226562-big.jpg" width="170" />
                </div>
                
                <div id="friends">
                		        <p>You can choose either way to sign up in Social eBay</p>
                </div>
            </div>
        </div>
        <div class="right-column-container">
        	<div class="right-column">
		    	<h3 id="page-title">新增帳號</h3>
		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
  		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
  		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>

		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
  		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
  		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>
  		        <p>You can choose either way to sign up in Social eBay</p>
				<p>You can choose either way to sign up in Social eBay</p>

	        </div>
        </div>
    </div>
    </div>
    <div class="footer">
    <div id="footer-menu">
        <ul class="horizontal-menu">
            <li>About Us |&nbsp;</li>
            <li>Press Room |&nbsp;</li>
            <li>Careers |&nbsp;</li>
            <li>Contact Social eBay</li>
        </ul>
    </div>
    <p id="copyright">© 2008 Social eBay. All Right Reserved </p>
    </div>
</body>
</html>