{% extends "twocolumn_base.html" %}

{### header ###}

{% block twocolumnExtraHeader %}

	<link href="/static/css/profile.css" rel="stylesheet" type="text/css" />

	{% block profileExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block profileExtraHeader here -->
	{% endblock profileExtraHeader %}

{% endblock twocolumnExtraHeader %}

{### sidebar ###}

{% block twocolumnSidebar %}

	{% include "profile_leftcolumn.html" %}

{% endblock twocolumnSidebar %}

{### content ###}

{% block twocolumnContent %}

	{% block profileContent %}
		{### this block can be replaced by children template with actual profile content ###}
		block profileContent here
	{% endblock profileContent %}

{% endblock twocolumnContent %}
