				<div id="picture">
					<img src="{% if base.logo %} {{ base.logo }} {% else %} {{ base.noLogo }} {% endif %}" width="175" />
	    	        {{ base.name }}
	                </div>
				<div id="boxes-left" class="box-column">
					<div id="action" class="left-box">
						<ul>
							<li>
								<a href="">建議活動給 {{ base.volunteer_id }}</a>
							</li>
							<li>
							  <a href="/volunteer/friend/create/?volunteer_id={{ base.volunteer_id }}&t={{ base.token }}">與 {{ base.volunteer_id }} 成為好友</a>
							</li>
							<li>
								<a href="">檢舉不當使用</a>
							</li>
						</ul>
					</div><!-- left-box -->
					<div id="info" class="left-box">
						<h3 class="left-box-header">
							志工資訊
						</h3>
						<div class="left-box-body">
							<h4>生日</h4>
							<div>{{ base.birthday }}</div>
							
							<h4>目前所在城市</h4>
							<div>{{ base.resident }}</div>
						</div>
					</div>
	                <div id="friends" class="left-box">
                		<h3 class="left-box-header">我的朋友</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
															<a href="/volunteer/friend">{{ base.friendCount }} 位朋友</a>
                            	</span>
                            	<small>
                            		<a href="/volunteer/friend">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
														{% for friendTriple in base.friends %}
                        		<div class="row">
															{% for friend in friendTriple %}
                            		<div class="person">
																	<a href="/volunteer/profile/?volunteer_id={{ friend.volunteer_id }}"><img src="{% if friend.logo %} {{ friend.logo }} {% else %} {{ base.noLogo }} {% endif %}" class="img55"></a>
																	<a href="/volunteer/profile/?volunteer_id={{ friend.volunteer_id }}">{{ friend.volunteer_id }}</a>
                            		</div><!-- person -->
															{% endfor %}
	                            </div><!-- row -->
														{% endfor %}
	                        </div><!-- people -->
	                    </div><!-- left-box-body -->
	    		        <!-- <p>Left sidebar here</p>-->
	                </div><!-- friends -->
	                <div id="npos" class="left-box">
                		<h3 class="left-box-header">我參與的 NPO</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
															<a href="">{{ base.npoCount }} 個 NPO</a>
                            	</span>
                            	<small>
                            		<a href="">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
														{% for npoTriple in base.npos %}
                        		<div class="row">
															{% for npo in npoTriple %}
                            		<div class="person">
																	<a href="#"><img src="{% if npo.logo %} {{ npo.logo }} {% else %} {{ base.noLogo }} {% endif %}" width=55></a>
																	<a href="#">{{ npo.npo_name }}</a>
                            		</div><!-- person -->
															{% endfor %}
	                            </div><!-- row -->
														{% endfor %}
	                        </div><!-- people -->
	                    </div><!-- left-box-body -->
	    		        <!-- <p>Left sidebar here</p>-->
	                </div><!-- npos -->
				</div><!-- boxes-left -->
