{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
<script type="text/javascript">
    $(document).ready(function() {
	var linkObjs = $("a[href*='friend/create']");
	linkObjs.click(function(e) {
	    e.preventDefault();
	    var target = $(this);
	    $.getJSON(target.attr("href"), function(data) {
		if (data.statusCode >= 200 && data.statusCode < 300)
		{
		    alert('新增成功');
		    window.location.reload();
		}
		else
		    alert('新增失敗 : ' + data.reason);
		});
	});
    });
</script>
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

			    	<h3 id="page-title">我的基本資料</h3>
				{% if isSelf %}
					<div class="right-links">
						<a href="/volunteer/profile/edit">編輯基本資訊</a>
					    </div>
				{% endif %}
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">基本資料</span>
						</div>
						<dl>
							<dt>姓名</dt>
							<dd>{{ base.name|escape }}</dd>
							<dt>生日</dt>
							<dd>{{ base.birthday|escape }}</dd>
							<dt>性別</dt>
							<dd>{% ifequal sex "Female" %}女{% else %}男{% endifequal %}</dd>
							<dt>所在地</dt>
							<dd>{{ base.resident|escape }}</dd>
						</dl>
					</div>
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">聯絡資訊</span>
						</div>
						<dl>
							<dt>電子郵件信箱</dt>
							<dd>{{ email|escape }}</dd>
							<dt>即時通訊</dt>
							<dd>{{ im|escape }}</dd>
							<dt>手機號碼</dt>
							<dd>{{ cellphone_no|escape }}</dd>
							<dt>網頁/部落格</dt>
							<dd>{% if blog %}<a href="{{ blog|escape }}" target="_blank">{{ blog|escape }}</a>{% else %}無{% endif %}</dd>
						</dl>
					</div>
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">學歷與工作</span>
						</div>
						<dl>
							<dt>畢業學校</dt>
							<dd>{{ school|escape }}</dd>
							<dt>服務單位/公司</dt>
							<dd>{{ organization|escape }}</dd>
							<dt>職稱</dt>
							<dd>{{ title|escape }}</dd>
						</dl>
					</div>
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">個人專長</span>
						</div>
						<dl>
							<dt>我的專長</dt>
							<dd>{{ expertise|escape }}</dd>
						</dl>
					</div>
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">自我簡介</span>
						</div>
						<dl>
							<dt>自我簡介</dt>
							<dd>{{ brief_intro|escape }}</dd>
						</dl>
					</div>
{% endblock %}
