<div class="new-top-bar-container">
	<div class="new-top-bar">
		<ul>
			<li>
				<a {% ifequal page 'home' %} class="selected" {% endifequal %}href="/volunteer/home/{{ volunteerBase.key }}">履歷首頁 / 基本資料</a>
			</li>
			<!-- <li><a {% ifequal page 'profile' %} class="selected" {% endifequal %}href="/volunteer/profile/{{ volunteerBase.key }}">基本資料</a></li>-->
			<!--<li class="grey">朋友</li>-->
			<li>
				<a {% ifequal page 'npo' %} class="selected" {% endifequal %}href="/volunteer/joinedNpo/{{ volunteerBase.key }}">加入的公益團體</a>
			</li>
			<!--<li><a {% ifequal page 'space' %} class="selected" {% endifequal %}href="/volunteer/space/{{ volunteerBase.key }}">公益分享</a></li>-->
		</ul>
	</div>
</div>
