{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

{### content ###}

{% block mainContent %}

			    	<div class="content-block">
				    	<h3 id="page-title">志工搜尋</h3>
					<div class="list-title">共找到 {{ pageSet.count }} 位志工, 顯示第 {{ pageSet.startIndex|add:"1" }} 至 {{ pageSet.endIndex|add:"1" }} 位</div>
					{% include "paging.html" %}
						<div class="fullpage-list">
						    {% for entry in entryList %}
						    {% ifequal entry firstEntry %}
							<div class="item volunteer top-line">
						    {% else %}
							<div class="item volunteer top-line">
						    {% endifequal %}
						    	<div class="actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="/volunteer/home/?volunteer_id={{ entry.volunteer_id }}">檢視檔案</a>
								</div>
								
								<div class="image">
								    <a href="/volunteer/home/?volunteer_id={{ entry.volunteer_id }}"><img class="img55" src="{% if entry.logo %}{{ entry.logo }}{% else %}{{ base.noLogo }}{% endif %}"/></a>
								</div>
								
								<div class="name">
								    <a href="/volunteer/home/?volunteer_id={{ entry.volunteer_id }}">{{ entry.volunteer_id }}</a>
								</div>
								
								<div class="stats">
									<dl>
										<dt>位於:</dt>
										<dd>{{ entry.resident_city }}</dd>
										<dt>專長:</dt>
										<dd>{{ entry.showExpertise }}</dd>
										<dt>所屬群組:</dt>
										<dd>
										{% for npo in entry.npolist %}
										<a href="/npo/npo_home.html?npo_id={{ npo.npo_id }}">{{ npo.npo_name }}</a> 
										{% endfor %}
										
										{% if entry.npoShowMore %}
								    	<span class="npo-more">
										... (<a href="#">共 {{ entry.npoCount }} 個群組</a>)
								   		</span>
								    {% endif %}
										</dd>
									</dl>
								</div>
								
								<!--
								
								<div class="volunteer-info">
								    <div class="volunteer-title"><a href="/volunteer/home/?volunteer_id={{ entry.volunteer_id }}">{{ entry.volunteer_id }}</a></div>
								</div>
								<div class="volunteer-stats">
								    <div class="volunteer-location"><b>所在位置: </b>{{ entry.resident_city }}</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    {{ entry.showExpertise }}
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    {% for npo in entry.npoList %}
								    <div class="volunteer-npo-item">
									<a href="#">{{ npo.npo_name }}</a>
								    </div>
								    {% endfor %}
								    {% if entry.npoShowMore %}
								    <div class="volunteer-npo-more">
									... (<a href="#">共 {{ entry.npoCount }} 個群組</a>)
								    </div>
								    {% endif %}
								</div>
								-->
							</div>
						    {% endfor %}
						</div>
					{% include "paging.html" %}
					</div>
{% endblock %}
