{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
	
	{% block adminExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock adminExtraHeader %}

{% endblock extraHeader %}

{### content ###}

{% block mainContent %}

	<h3 id="admin-title">若水志工媒合平台 管理介面</h3>
	
	{% include "admin/topbar.html" %}

	{% block adminContent %}
		{### this block can be replaced by children template with activity main content ###}
		block adminContent here
	{% endblock adminContent %}
	
{% endblock mainContent %}
