{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

			    	<h3 id="page-title">志工列表</h3>
			    	<div class="list-title">共有{{numOfMembers}}位志工, 顯示第 1 至 10 位</div>
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
					<div class="volunteer-list">
						{% if firstMember %}
						<div class="volunteer-item first-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="volunteer-name">
								<h6><a href="#">{{ firstMember.volunteer_first_name }} {{ firstMember.volunteer_last_name }}</a></h6>
							</div>
							<div class="volunteer-desc">
								<dl class="volunteer-desc-list">
									<dt>所在位置：</dt>
									<dd>{{ firstMember.resident_city }}</dd>
									<!--
									<dt>服務小時：</dt>
									<dd>9527</dd>
									-->
									<dt>加入日期：</dt>
									<dd>{{ firstMember.create_time.date }}</dd>
								</dl>
							</div>
							<div class="volunteer-links">
								<div class="remove-volunteer"><a href="#">移除這位志工</a></div>
							</div>
						</div>
						{% endif %}
						
						{% for member in members %}
						<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="volunteer-name">
								<h6><a href="#">{{ member.volunteer_first_name }} {{ member.volunteer_last_name }}</a></h6>
							</div>
							<div class="volunteer-desc">
								<dl class="volunteer-desc-list">
									<dt>所在位置：</dt>
									<dd>{{ member.resident_city }}</dd>
									<dt>專長：</dt>
									<dd>(專長列表)</dd>
									<dt>加入日期：</dt>
									<dd>{{ member.create_time.date }}</dd>
								</dl>
							</div>
							<div class="volunteer-links">
								<div class="remove-volunteer"><a href="#">移除這位志工</a></div>
							</div>
						</div>
						{% endfor %}
					
					</div> <!-- .volunteer-list -->	
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>

{% endblock %}
