{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

			    	<h3 id="page-title" class="subbar">志工列表</h3>
			    	<div class="list-title">共有{{numOfMembers}}位志工, 顯示第 1 至 10 位</div>
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
					<div class="fullpage-list">
						{% if firstMember %}
						<div class="item volunteer top-line">
						    <div class="actions">
							    <a href="/volunteer/home/?volunteer_id={{ firstMember.volunteer_id }}">移除這位志工</a>
							</div>
							<div class="image">
								<a href="/volunteer/home/?volunteer_id={{ firstMember.volunteer_id }}"><img class="img55" src="{% if firstMember.logo %}{{ firstMember.logo }}{% else %}{{ base.noLogo }}{% endif %}"/></a>
							</div>
							<div class="name">
								<a href="/volunteer/home/?volunteer_id={{ firstMember.volunteer_id }}">{{ firstMember.volunteer_first_name }} {{ firstMember.volunteer_last_name }}</a>
							</div>
							<div class="stats">
								<dl>
									<dt>位於:</dt>
									<dd>{{ firstMember.resident_city }}</dd>
									<dt>專長:</dt>
									<dd>{{ firstMember.showExpertise }}</dd>
									<dt>加入日期:</dt>
									<dd>{{ firstMember.create_time.date }}</dd>
								</dl>
							</div>
						</div>
						{% endif %}
						
						{% for member in members %}
						<div class="item volunteer top-line">
							<div class="actions">
							    <a href="/volunteer/home/?volunteer_id={{ firstMember.volunteer_id }}">移除這位志工</a>
							</div>
							<div class="image">
								<a href="/volunteer/home/?volunteer_id={{ member.volunteer_id }}"><img class="img55" src="{% if member.logo %}{{ member.logo }}{% else %}{{ base.noLogo }}{% endif %}"/></a>
							</div>
							<div class="name">
								<a href="/volunteer/home/?volunteer_id={{ member.volunteer_id }}">{{ member.volunteer_first_name }} {{ member.volunteer_last_name }}</a>
							</div>
							<div class="stats">
								<dl>
									<dt>所在位置：</dt>
									<dd>{{ member.resident_city }}</dd>
									<dt>專長：</dt>
									<dd>{{ firstMember.showExpertise }}</dd>
									<dt>加入日期：</dt>
									<dd>{{ member.create_time.date }}</dd>
								</dl>
							</div>
						</div>
						{% endfor %}
					
					</div> <!-- .volunteer-list -->	
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>

{% endblock %}
