{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

			    	<h3 id="page-title">活動列表</h3>
			    	<div class="content-block">
						<div class="block-caption">
							<span class="caption">活動統計</span>
						</div>
						<dl class="portofolio">
							<dt>活動舉辦次數</dt>
							<dd>49</dd>
						</dl>
			    	</div>
			    	<div class="list-title">活動報表</div>
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
					<div class="activity-list">
						<div class="activity-item first-item">
							<div class="activity-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="activity-info">
								<dl class="activity-dl">
									<dt>活動時間：</dt>
									<dd>2008/01/01</dt>
									<dt>志工小時：</dt>
									<dd>尚未納入</dt>
								</dl>
								<div class="activity-link">
								&raquo; <a href="#">前往活動頁面</a>
								</div>
							</div>
							<div class="activity-desc">
								<div class="activity-title"><a href="#">活動名稱</a></div>
							</div>
						</div>
					</div>
					<div class="activity-list">
						<div class="activity-item">
							<div class="activity-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="activity-info">
								<dl class="activity-dl">
									<dt>活動時間：</dt>
									<dd>2008/01/01</dt>
									<dt>志工小時：</dt>
									<dd>尚未納入</dt>
								</dl>
								<div class="activity-link">
								&raquo; <a href="#">前往活動頁面</a>
								</div>
							</div>
							<div class="activity-desc">
								<div class="activity-title"><a href="#">活動名稱</a></div>
							</div>
						</div>
					</div>
					<div class="activity-list">
						<div class="activity-item">
							<div class="activity-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="activity-info">
								<dl class="activity-dl">
									<dt>活動時間：</dt>
									<dd>2008/01/01</dt>
									<dt>志工小時：</dt>
									<dd>尚未納入</dt>
								</dl>
								<div class="activity-link">
								&raquo; <a href="#">前往活動頁面</a>
								</div>
							</div>
							<div class="activity-desc">
								<div class="activity-title"><a href="#">活動名稱</a></div>
							</div>
						</div>
					</div>
					<div class="activity-list">
						<div class="activity-item">
							<div class="activity-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="activity-info">
								<dl class="activity-dl">
									<dt>活動時間：</dt>
									<dd>2008/01/01</dt>
									<dt>志工小時：</dt>
									<dd>尚未納入</dt>
								</dl>
								<div class="activity-link">
								&raquo; <a href="#">前往活動頁面</a>
								</div>
							</div>
							<div class="activity-desc">
								<div class="activity-title"><a href="#">活動名稱</a></div>
							</div>
						</div>
					</div>
					<div class="activity-list">
						<div class="activity-item">
							<div class="activity-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="activity-info">
								<dl class="activity-dl">
									<dt>活動時間：</dt>
									<dd>2008/01/01</dt>
									<dt>志工小時：</dt>
									<dd>尚未納入</dt>
								</dl>
								<div class="activity-link">
								&raquo; <a href="#">前往活動頁面</a>
								</div>
							</div>
							<div class="activity-desc">
								<div class="activity-title"><a href="#">活動名稱</a></div>
							</div>
						</div>
					</div>
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
					
{% endblock %}
