{% extends "about/base.html" %}

{### header ###}
{### content ###}

{% block aboutContent %}

	<h3 id="page-title">網站使用狀態</h3>
	
	<div class="content-block">
		<div class="block-caption">
			<span class="caption">會員人數</span>
		</div>
		<p>內文</p>
	</div>

	<div class="content-block">
		<div class="block-caption">
			<span class="caption">NPO數目</span>
		</div>
		<p>內文</p>
	</div>

	<div class="content-block">
		<div class="block-caption">
			<span class="caption">累計公益活動次數</span>
		</div>
		<p>內文</p>
	</div>

{% endblock aboutContent %}
