{% extends "user/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

			    	<h3 id="page-title">所有的朋友列表</h3>
			    	<div class="list-title">您有58位朋友</div>
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
					<div class="volunteer-list">
				    	<div class="volunteer-item first-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
				    	<div class="volunteer-item">
							<div class="volunteer-img">
								<img width="55" src="/static/images/maki.png"/>
							</div>
							<div class="right-links">
								<a href="#">移除好友</a>
							</div>
							<div class="volunteer-desc">
								<h6><a href="#">Maki</a></h6>
								<dl class="upcoming-activity">
									<dt>即將進行:</dt>
									<dd><span class="activity-title">烏來國小圖書館整理</span><span class="activity-countdown">還有三天(2008/11/08)...</a></dd>
								</dl>
							</div>
						</div>
					</div> <!-- .volunteer-list -->
					<div class="right-links">
						<div class="pager">
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">下一頁</a>
						</div>
					</div>
{% endblock %}
