{% extends "base.html" %}

{### header ###}

{% block extraHeader %}
	
	{% block activityExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock activityExtraHeader %}

{% endblock extraHeader %}

{### content ###}

{% block mainContent %}
<div class="static">
	{% block aboutContent %}
		{### this block can be replaced by children template with activity main content ###}
		block aboutContent here
	{% endblock aboutContent %}
</div>
{% endblock mainContent %}
