<div class="block">
	<h3>
		志工條款
	</h3>
	<div class="content">
		<ul>
			<li>
				在正式加入志工之前，您必須於若水網站註冊為會員，並提供您本人正確、最新及完整的資料；維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤、不實或不完整的資料，若水保留暫停或終止您的帳號的權利。
			</li>
			<li>
				您承諾絕不為任何非法目的或以任何非法方式參與本計劃，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於： 
				<ul class="abc">
		    		<li>
						上載、張貼、公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本服務上；
					</li>
		    		<li>
		    			侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；
		    		</li>
		    		<li>
						違反依法律或契約所應負之保密義務；
					</li>
					<li>
						冒用他人名義使用本服務；
					</li>
					<li> 
						上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料；
					</li>
					<li>
		    			從事不法交易行為或張貼虛假不實、引人犯罪之訊息；
		    		</li>
		    		<li> 
						販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物；
					</li>
					<li> 
						提供賭博資訊或以任何方式引誘他人參與賭博；
					</li> 
					<li>
						濫發廣告郵件、垃圾郵件、連鎖信、違法之多層次傳銷訊息等；
					</li> 
					<li>
						以任何方法傷害未成年人；
					</li> 
					<li>
						偽造訊息來源或以任何方式干擾傳輸來源之認定；
					</li> 
					<li>
						干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等；
					</li> 
					<li>
						 對於恐怖行動提供任何實質支持或資源；
					</li>
					<li>
						追蹤他人或其他干擾他人或為前述目的蒐集或儲存他人之個人資訊；
					</li>
				</ul>
				如有任何影像或文字，經若水評估後認為不適合出現於網頁上，若水有權在不知會作者的情況下刪除該訊息。
			</li>
			<li>
				您同意若水將您的註冊帳號、email、個人專長三項資料提供給提案人以利活動聯絡之用。
			</li>
			<li>
				若水以及行動發起人有權在不知會您的情況下終止公益行動。
			</li>
			<li>
				行動發起人有權在審核評估後，決定是否邀請您加入行動。
			</li>
			<li>
				任何若水網站會員間的金錢法律關係，均與主辦單位無關，主辦單位不參與會員間之任何金錢法律關係。會員間必須自行解決其相互間金錢法律關係所引起的糾紛。本站對於會員因使用本站所得到之資訊，或參與活動，因而所生之損害不負任何補償或賠償責任。
			</li>
			<li>
				若水網站乃無償提供會員之間聯繫的平台，任何活動提案，均由會員所自行上傳，並非本站的提案。除本站另外發佈消息外，本站不參與會員間的任何聯繫及各項活動。
			</li>
			<li>
				本站對於會員所刊登的各項資訊，不會也無法二十四小時進行檢查、過濾或其他調查，但仍保留刪除會員所刊登資訊的權利。
			</li>
			<li>
				會員間必須對所提資訊及所提各項活動之內容，及活動之舉行，負完全的責任。會員間必須自行解決其相互間任何的法律或非法律糾紛。會員間必須了解並遵守中華民國相關法律規定。
			</li>
			<li>
				您不得利用本計劃或本網站有任何招攬保險、招攬直銷、推銷與公益無關商品或其他類此之行為。
			</li>
			<li>
				主辦單位有權利自行斟酌並修改活動辦法與參加條款而不另行通知，您應自負責任來定期參閱本網站與計畫條款的更新，更新一旦發佈即生效。	
			</li>
		</ul>
	</div>
</div>
