{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	var linkObjs = $("a[href*='friend/create']");
	linkObjs.click(function(e) {
	    e.preventDefault();
	    var target = $(this);
	    $.getJSON(target.attr("href"), function(data) {
		if (data.statusCode >= 200 && data.statusCode < 300)
		{
		    alert('新增成功');
		    window.location.reload();
		}
		else
		    alert('新增失敗 : ' + data.reason);
		});
	});
    });
</script>
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

			    	<h3 id="page-title">編輯基本資料</h3>
				<form action="{{ base.path|escape }}" method="POST" name="edit-profile" id="edit-profile">
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">基本資料</span>
							</div>
							<dl>
								<dt>姓名</dt>
								<dd><input type="input" name="name" id="" value="{{ base.name }}"/></dd>
								<dt>生日</dt>
								<dd>{{ form.date_birth }}</dd>
								<dt>性別</dt>
								<dd>
								{{ form.sex }}
								<input type="radio" value="男" id="sex-male" name="sex" {% ifequal sex "Male" %} checked="checked" {% endifequal %}/><label for="sex-male">男</label>
								<input type="radio" value="女" id="sex-female" name="sex" {% ifequal sex "Female" %} checked="checked" {% endifequal %}/><label for="sex-female">女</label>
								</dd>
								<dt>所在地</dt>
								<dd><select id="" name="resident">
									<option selected>台北市</option>
									<option>台北縣</option>
									<option>...</option>
								</select></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">聯絡資訊</span>
							</div>
							<dl>
								<dt>電子郵件信箱</dt>
								<dd>{{ email }}</dd>
								<dt>即時通訊</dt>
								<dd>{{ form.userIM.im_type }}<input type="input" name="" id="" value=""/></dd>
								<dt>手機號碼</dt>
								<dd>{{ form.cellphone_no }}</dd>
								<dt>網頁/部落格</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>目前居住城市</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">學歷與工作</span>
							</div>
							<dl>
								<dt>畢業學校</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>服務單位/公司</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>職稱</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">個人專長</span>
							</div>
							<dl>
								<dt>我的專長</dt>
								<dd><textarea id="" name="" rows="5" cols="40"></textarea></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">自我簡介</span>
							</div>
							<dl>
								<dt>關心的議題</dt>
								<dd><textarea id="" name="" rows="5" cols="40"></textarea></dd>
								<dt>我想說的話</dt>
								<dd><textarea id="" name="" rows="5" cols="40"></textarea></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
				    	<input type="submit" value="儲存變更" name="submit" id="submit-button"/>
				    	<input type="button" value="取消變更" name="cancel" id="cancel-button"/>
				    	</div>
				    </form>
{% endblock %}
