{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>  
	<script type="text/javascript" src="/static/js/zipcode.js"></script>
	<script type="text/javascript">
	<!--
	function addCountyOptions(countySelectTag) {
		for(var county in zipcode) {
			countySelectTag.append('<option>'+county+'</option>');
		}
	}
	
	function setAreaOptions(countySelectTag, areaSelectTag) {
		var county = countySelectTag.attr('value');
		areaSelectTag.html('');
		if (zipcode[county] == undefined) {
			areaSelectTag.html('<option disabled>請先選擇縣市!</option>');
			return;
		}
		for (var area in zipcode[county]) {
			areaSelectTag.append('<option value="'+area+'">'+area+' ('+zipcode[county][area]+')</option>');
		}
	}
	$(function(){ // init function
		addCountyOptions($('#locationCounty'));
		setAreaOptions($('#locationCounty'), $('#locationArea'));
	});
	-->
	</script>

{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

					
			    	<h3 id="page-title">編輯基本資料</h3>
			    	<form action="" method="POST" name="edit-profile" id="edit-profile">
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">基本資料</span>
							</div>
							<dl>
								<dt>姓名</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>生日</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>性別</dt>
								<dd>
									<input type="radio" value="男" id="sex-male" name="sex"/><label for="sex-male">男</label> 
									<input type="radio" value="女" id="sex-female" name="sex"/><label for="sex-female">女</label>
								</dd>
								<dt>所在地</dt>
								<dd>
									縣市: <select id="locationCounty" name="" onchange="javascript:setAreaOptions($('#locationCounty'), $('#locationArea'));");
									</select>
									鄉鎮市區: <select id="locationArea" name="">
									</select>
								</dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">聯絡資訊</span>
							</div>
							<dl>
								<dt>電子郵件信箱</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>即時通訊</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>手機號碼</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>網頁/部落格</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>目前居住城市</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">學歷與工作</span>
							</div>
							<dl>
								<dt>畢業學校</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>服務單位/公司</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
								<dt>職稱</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">個人專長</span>
							</div>
							<dl>
								<dt>我的專長</dt>
								<dd id="profession">
									<table>
									{% for row in proflist %}
										<tr>
										{% for profession in row %}
											<td><input type="checkbox"/> {{ profession }}</td>
										{% endfor %}
										</tr>
									{% endfor %}
									</table>
								</dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
							<div class="block-caption">
								<span class="caption">自我簡介</span>
							</div>
							<dl>
								<dt>關心的議題</dt>
								<dd><textarea id="" name="" rows="5" cols="40"></textarea></dd>
								<dt>我想說的話</dt>
								<dd><textarea id="" name="" rows="5" cols="40"></textarea></dd>
								<dt>您希望被搜尋到的關鍵字(以逗點","為間隔)</dt>
								<dd><input type="input" name="" id="" value=""/></dd>
							</dl>
						</div>
				    	<div class="content-block form-block">
				    	<input type="submit" value="儲存變更" name="submit" id="submit-button"/>
				    	<input type="button" value="取消變更" name="cancel" id="cancel-button"/>
				    	</div>
				    </form>
{% endblock %}
