{% extends "register_base.html" %}

{### header ###}

{% block registerExtraHeader %}

	{### this block can put additional css / script definition in head tag ###}
	<!-- block registerExtraHeader here -->
	
{% endblock registerExtraHeader %}

{### content ###}

{% block registerContent %}

    	<h3 id="page-title">新增帳號</h3>
        <p>You can choose either way to sign up in Social eBay</p>
    	<ul>
            <li><span class="bold">By Gmail account</span>
                <div class="subitems">
                    <form>
                    <p><input type="text" /></p>
                    <p><input type="text" /></p>
                    <p><input type="submit" value="Sign Up"/></p>
                    </form>
                </div>
            </li>
            <li><span class="bold">By Gmail account</span>
                <div class="subitems">
                    <form>
                        <table class="form-table">
                            <tr>
                                <th>Full Name:</th>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <th>Your Email:</th>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <th>Password:</th>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <th>Confirm Password:</th>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <th>I am:</th>
                                <td>
                                    <select>
                                        <option>Select Sex</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Birthday:</th>
                                <td>
                                    <select><option>Month:</option></select>
                                    <select><option>Day:</option></select>
                                    <select><option>Year:</option></select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><input type="submit" value="Sign Up"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </li>
        </ul>

{% endblock registerContent %}
