<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flow Platform ShowArt</title>
<style>
.status-TODO {
	font-weight: bold;
	color: #F00;
}
.status-DONE {
	font-weight: bold;
	color: #00F;
}

.info {
	font-size: 12px;
}

.bold {
	font-weight: bold;
}
</style>
</head>
<body>
<h3><img src="/static/images/u28.png"/> Flow Platform ShowArt</h3>
<ul>
	{% for page in showart_pages %}
	<li>
		[<span class="status-{{ page.status }}">{{ page.status }}</span>] 
		<a href="/showart/{{ page.filename }}">{{ page.name }}</a> 
		<span class="info">{{ page.description }} (Owner: <span class="bold">{{ page.owner }}</span>)</span>
	</li>
	{% endfor %}
</ul>
</body>
</html>