        	<div id="search-container">
            	<div id="search-site-mark">
	                <img src="/static/images/u28.png" />
		            <h2 id="search-site-title">若水公益交換平台</h2>
                </div>
                <div id="search">
	                <form>
                    	<div id="search-bar">
	                	<input type="text"  size="30" />
                        <input type="submit" value="搜尋" /> <a>進階搜尋</a>
                        </div>
                        <div id="search-choices">
                        	<ul class="search-choice-menu">
								<li><input name="all" type="radio" id="search-choices-all" title="搜尋全部" value="" /> <label for="search-choices-all">搜尋全部</label></li>
								<li><input name="all" type="radio" id="search-choices-activities" title="活動" value="" /> <label for="search-choices-activities">活動</label></li>
								<li><input name="all" type="radio" id="search-choices-npo" title="NPO" value="" /> <label for="search-choices-npo">NPO</label></li>
								<li><input name="all" type="radio" id="search-choices-volunteers" title="志工" value="" /> <label for="search-choices-volunteers">志工</label></li>
                            </ul>
                        </div>
	                </form>
                </div>
            </div>
