				<div id="picture">
	    	        <img src="/static/images/3226562-big.jpg" width="175" />
	    	        Tom Chen
	                </div>
				<div id="boxes-left" class="box-column">
					<div id="action" class="left-box">
						<ul>
							<li>
								<a href="">建議活動給 Tom</a>
							</li>
							<!--
							<li>
								<a href="">與 Tom 成為好友</a>
							</li>
							-->
							<li>
								<a href="">檢舉這位使用者</a>
							</li>
						</ul>
					</div><!-- left-box -->
					<div id="info" class="left-box">
						<h3 class="left-box-header">
							志工資訊
						</h3>
						<div class="left-box-body">
							<h4>生日</h4>
							<div>1983 年 11 月 21 日</div>
							
							<h4>目前所在城市</h4>
							<div>台北市</div>
						</div>
					</div>
	                <div id="friends" class="left-box">
                		<h3 class="left-box-header">我的朋友</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
                        			<a href="">75 位朋友</a>
                            	</span>
                            	<small>
                            		<a href="">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
                        		<div class="row">
                            		<div class="person">
                            			<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            			<a href="">Tom</a>
                            		</div><!-- person -->
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                            	</div>
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                                </div>    
	                            </div><!-- row -->
	                        	<div class="row">
	                            	<div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                            	</div>
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                            	</div>
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                                </div>    
	                            </div><!-- row -->
	                        </div><!-- people -->
	                    </div><!-- left-box-body -->
	    		        <!-- <p>Left sidebar here</p>-->
	                </div><!-- friends -->
	                <div id="npos" class="left-box">
                		<h3 class="left-box-header">我參與的 NPO</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
                        			<a href="">3 個 NPO</a>
                            	</span>
                            	<small>
                            		<a href="">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
                        		<div class="row">
                            		<div class="person">
                            			<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            			<a href="">Tom</a>
                            		</div><!-- person -->
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                            	</div>
	                                <div class="person">
	                            		<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
	                            		<a href="">Tom</a>
	                                </div>    
	                            </div><!-- row -->
	                        </div><!-- people -->
	                    </div><!-- left-box-body -->
	    		        <!-- <p>Left sidebar here</p>-->
	                </div><!-- npos -->
				</div><!-- boxes-left -->