{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	<link href="/static/css/form.css" rel="stylesheet" type="text/css" />

{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

	<h3 id="page-title" class="subbar">編輯基本資料</h3>
	<div class="step-main">
		<form class="flow-form" action="{{path}}?npo_id={{npoProfile.npo_id}}" method="POST" >
		<ul>
			<li class="section">
				<h3>基本資料</h3>
			</li>
			<li>
				<label class="desc">
				群組名稱
				</label>
				<div>
					<input id="txtGroupName" class="field text medium" type="text" name="txtGroupName" value="{{npoProfile.npo_name}}"/>
				</div>
			</li>
			<li>
				<label class="desc">
				創辦人:
				</label>
				<div>
					<input id="txtFounder" class="field text medium" type="text" name="txtFounder" value="{{npoProfile.founder}}"/>
				</div>
			</li>
			<li>
				<label class="desc">
				簡介
				</label>
				<div>
					<textarea class="field textarea medium" cols="50" rows="10" name="textareaIntro">
					{{npoProfile.brief_intro}}
					</textarea>
				</div>
			</li>
			
			<!--
			<li class="buttons section">
				<input id="btnSubmitBasicInfo" class="btTxt" type="submit" name="submit" value="儲存變更" />
				<input id="btnCancelBasicInfo" class="btTxt" type="submit" name="cancel" value="取消變更" />
			</li>-->

			<li class="section">
				<h3>聯絡資訊</h3>
			</li>
			
			<li>
				<label class="desc">
				連絡人
				</label>
				<div>
					<input id="txtContact" class="field text medium" type="text" name="txtContact"/>
				</div>
			</li>
			
			<li>
				<label class="desc">
				網址:
				</label>
				<div>
					<input id="txtHomePage" class="field text medium" type="text" name="txtHomePage" value="{{npoProfile.website}}" />
				</div>
			</li> 
			
			<li>
				<label class="desc">
				電話:
				</label>
				<div>
					<input id="txtPhone" class="field text medium" type="text" name="txtPhone" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				傳真:
				</label>
				<div>
					<input id="txtFax" class="field text medium" type="text" name="txtFax" />
				</div>
			</li>
			
			<li class="section">
				<h3>其他資料</h3>
			</li>
			
			<li>
				<label class="desc">
				設立日期:
				</label>
				<div>
					<input id="txtFoundDate" class="field text medium" type="text" name="txtFoundDate" value="{{npoProfile.founding_date}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				許可機關:
				</label>
				<div>
					<input id="txtApproveGov" class="field text medium" type="text" name="txtApproveGov" value="{{npoProfile.authority}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務區域:
				</label>
				<div>
					<input id="txtServiceArea" class="field text medium" type="text" name="txtServiceArea" value="{{npoProfile.service_region}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務對象:
				</label>
				<div>
					<input id="txtServiceTarget" class="field text medium" type="text" name="txtServiceTarget" value="{{npoProfile.service_target}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務項目:
				</label>
				<div>
					<input id="txtServiceItem" class="field text medium" type="text" name="txtServiceItem" value="{{npoProfile.service_field}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				劃播帳號:
				</label>
				<div>
					<input id="txtTransferAccountNo" class="field text medium" type="text" name="txtTransferAccountNo" value="{{npoProfile.bank_acct_no}}" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				劃播戶名:
				</label>
				<div>
					<input id="txtTransferAccountTitle" class="field text medium" type="text" name="txtTransferAccountTitle" value="{{npoProfile.bank_acct_name}}" />
				</div>
			</li>
			
			<li class="buttons section">
				<input id="btnSubmitOhterInfo" class="btTxt" type="submit" name="submit" value="儲存變更" />
				<input id="btnCancelOtherInfo" class="btTxt" type="submit" name="cancel" value="取消變更" />
			</li>
		</ul>
		</form>
	</div>

{% endblock %}
