{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
	<script type="text/javascript" src="/static/js/npo_news.js" ></script> 
	
<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ base.jQueryUI_URI }}"></script>
<script type="text/javascript" src="/static/js/space.js"></script>
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

					
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							{% if npoBase.isNpoAdmin %}
							<div class="right-links">
					    		<a href="#" id = 'npo_edit_button' >編輯</a><input type="button" value="ok" id="npo_edit_button_ok" style="display: none;" />
					    	</div>
					    	{% endif %}
							<h3>最新消息</h3>
							
						</div>
						<div class="content">
							<!-- Mark the fake news when testing real data -->
							<div class="npo-news"><span id="npo_news_1">最新消息第一條1</span></div>
							<div class="npo-news"><span id="npo_news_2">最新消息第二條2</span></div>
							<div class="npo-news"><span id="npo_news_3">最新消息第三條3</span></div>
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							{% if npoBase.isNpoAdmin %}
							<div class="right-links">
					    		<a href="/npo/{{ npoProfile.npo_id }}/profile/edit">編輯</a>
					    	</div>
					    	{% endif %}
							<h3>公益團體簡介</h3>
							
						</div>
						<div class="content">
							{{ npoProfile.brief_intro }}
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
								<a href="/npo/{{ npoProfile.npo_id }}/events">觀看所有活動</a>
								{% if npoBase.isNpoAdmin %}
					    		| <a href="/npo/{{npoProfile.npo_id}}/admin/addEvent">新增活動</a> | <a href="/npo/{{ npoProfile.npo_id }}/admin/listEvent">管理活動</a>
					    		{% endif %}
					    	</div>
							<h3>舉辦的活動</h3>
							
						</div>
						<div class="content">
							<div id="event-container">
							{% if eventList %}
							{% for event in eventList %}
								<span class="event-item">
									<h1><a href="/event/viewEvent?id={{ event.key }}">{{ event.event_name }}</a></h1>
									<h2>{{event.start_time.year }} 年 {{ event.start_time.month }} 月 {{ event.start_time.day }} 日</h2>
									<p>{{event.description}}</p>
								</span>
							{% endfor %}
							{% else %}
							沒有任何舉辦的活動。
							{% endif %}
							</div>
						</div>
					</div>
					
					
					<div id="new-volunteers" class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
					    		<a href="/npo/{{ npoProfile.npo_id }}/volunteers">檢視所有志工</a>
					    	</div>
							<h3>最新加入志工</h3>
							
						</div>
						{% if recentMembers %}
						<div class="content no-lr-paddings">
							<div class="head-names">
								<!-- Make the recentMembers only contain 3 entries !!!!!!!! -->
								{% for member in recentMembers %}
								<div class="item-block head-name">
									<div class="left-block head">
									    <img class="thumb50" src="{% if member.logo %}{{ member.logo }}{% else %}{{ base.noLogo }}{% endif %}">
									</div>
									<div class="right-block name">
									    <h3><a href="/volunteer/home/{{ member.key }}">{{ member.nickname|escape }}</a></h3>
										<label>{{ member.resident_city }}</label>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="line">
							</div>
							<div class="volunteer-infos clearfix">
								<!-- Make the recentMembers only contain 3 entries !!!!!!!! -->
								{% for member in recentMembers %}
								<div class="item-block index-value">
									<div class="left-block index">
										<ul>
											<li>加入日期</li>
										</ul>
									</div>
									<div class="right-block value">
										<ul>
											<li>{{ member.create_time.date }}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
								
							</div><!-- volunteer-infos -->
						</div>
						{% else %}
						<div class="content">
							近期沒有新加入的志工。
						</div>
						{% endif %}
						
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
							    {% if isAdmin %}
                                                            <a id="createAlbumItem" href="#">新增相簿</a> |
                                                            {% endif %}
                                                            <a href="/npo/{{ npoProfile.npo_id }}/space/album/">看更多</a>
					    	</div>
							<h3>我們的相簿</h3>
						</div>
						<div class="content">
							<div class="album-block clearfix">
							    {% if albums %}
							    {% for album in albums %}
								<div class="album-item">
									<div class="album-cover">
									    <a href="{{ album.albumFeed.link.1.href }}"><img class="img75" src="{{ album.albumFeed.media.thumbnail.0.url }}"/></a>
									</div>
									<div class="album-title">
									    <a href="{{ album.albumFeed.link.1.href }}">
										<span class="album-date">{{ album.albumFeed.timestamp.datetime|date:"Y.m.d" }}</span>
										{{ album.albumFeed.title.text }}</a>
									</div>
									<div class="album-info">
									    {{ album.albumFeed.numphotos.text }} 張相片
									</div>
									<div class="album-thumbs">
									    {% for photo in album.photoFeeds %}
										<div class="album-thumb-img">
										    <a href="{{ photo.link.1.href }}"><img class="img35" src="{{ photo.media.thumbnail.0.url }}"/></a>
										</div>
										{% endfor %}
									</div>
								</div>
								{% endfor %}
								{% else %}
								公益團體尚未加入任何相簿。
								{% endif %}
							</div>
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
							    {% if isAdmin %}
							    <a id="createVideoItem" href="#">新增影音</a> | 
							    {% endif %}
							    <a href="/npo/{{ npoProfile.npo_id }}/space/video/">看更多</a>
					    	</div>
							<h3>我們的影片</h3>
						</div>
						<div class="content">
							<div class="video-block">
								<div class="video-item">
								    {% if video %}
									<div class="video-content">
									    <object width="290" height="234">
										<param name="movie" value="{{ video.media.content.0.url }}"></param>
										<param name="allowFullScreen" value="true"></param>
										<param name="allowscriptaccess" value="always"></param>
										<param name="wmode" value="transparent"></param>
										<embed src="{{ video.media.content.0.url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="290" height="234" wmode="transparent"></embed>
									    </object>
									</div>
									{% else %}
									公益團體尚未加入任何影音。
								    {% endif %}
								</div>
							</div>
						</div>
					</div>
					
					<div class="content-block no-padding-bottom">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
							    {% if isAdmin %}
							    <a id="createFeedItem" href="#">新增文章</a> | 
							    {% endif %}
							    <a href="/npo/{{ npoProfile.npo_id }}/space/article/">看更多</a>
					    	</div>
							<h3>我們的部落格</h3>
						</div>
						<div class="content">
							<div class="article-block">
								{% if articleList %}
							    {% for entry in articleList %}
								<div class="article-title-item"><a href="{{ entry.1 }}">{{ entry.0 }}</a></div>
							    {% endfor %}
							    {% else %}
							    	公益團體尚未加入任何文章。
							    {% endif %}
							</div>
						</div>
					</div>

				<div id="createAlbumBox" style="display: none;" title="新增相簿">
				    <form action="#" method="get">
					<dl>
					    <dt>PicasaWeb 相簿網址:</dt>
					    <dd>
					    <input type="text" name="albumUri" maxlength="100" size="50" value="{{ albumUri }}" />
					    <input type="button" id="albumUriSave" name="albumUriSave" value="記住我的網址" />
					    <input type="button" id="albumUriParse" name="albumUriParse" value="預覽相簿" />
					    <input type="hidden" id="xToken" name="xToken" value="{{ base.token }}" />
					    </dd>
					</dl>
					<div id="albumPreview">
					</div>
				    </form>
				</div>
				<div id="createVideoBox" style="display: none;" title="新增影音">
				    <form class="flow-form" action="#" method="get">
				    	<ul>
				    		<li>
				    			<label class="desc">
				    				Youtube 影音網址
				    			</label>
				    			<div>
				    				<input class="text extralarge field" type="text" name="videoUri" maxlength="100" size="50" value="" />
				    				<input type="hidden" id="xToken" name="xToken" value="{{ base.token }}" />
				    			</div>
				    		</li>
				    	
				    
				    		<li>
								<div id="videoPreview">
								    <div class="video-title"></div>
								    <div class="video-item" style="display: none;">
									<div class="video-content">
									    <object width="425" height="344">
										<param name="movie" value=""></param>
										<param name="allowFullScreen" value="true"></param>
										<param name="allowscriptaccess" value="always"></param>
										<param name="wmode" value="transparent"></param>
										<embed src="" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344" wmode="transparent"></embed>
									    </object>
									</div>
								    </div>
								</div>
							</li>
						</ul>
				    </form>
				</div>
				<div id="createFeedBox" style="display: none; text-align: left;" title="新增文章">
				    <form class="flow-form" action="#" method="get">
				    	<ul>
				    		<li>
				    			<label class="desc">
				    				部落格網址 / RSS
				    			</label>
				    			<div>
				    				<input class="field extralarge text" type="text" name="feedUri" maxlength="100" size="50" value="{{ feedUri }}" />
				    			</div>
				    			<div>
				    				<input type="button" id="feedUriSave" name="feedUriSave" value="記住這個網址" />
					    			<input type="button" id="feedUriParse" name="feedUriParse" value="預覽文章" />
					    			<input type="hidden" id="xToken" name="xToken" value="{{ base.token }}" />
					    		</div>
				    		</li>
				    	
				    	</ul>
				    	<div id="feedPreview">
					</div>
					</form>
				</div>

{% endblock %}

