{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
	
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

			    	<h3 id="page-title" class="subbar">公益團體基本資料</h3>
			    	<div class="content-block">
			    	    <div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							{% if npoBase.isNpoAdmin %}
							<div class="right-links">
							    <a href="/npo/{{ npoProfile.npo_id }}/profile/edit">編輯基本資訊</a>
						    </div>
							{% endif %}
							<h3>基本資料</h3>
						</div>
						
						<div class="content">
							<dl>
								<dt>群組名稱</dt>
								<dd> {{ npoProfile.npo_name }} </dd>
								<dt>創辦人</dt>
								<dd> {{ npoProfile.founder }} </dd>
								<dt>平台上建立日期</dt>
								<dd> {{ npoProfile.create_time.date }} </dd>
								<dt>簡介</dt>
								<dd> {{ npoProfile.brief_intro }} </dd>
							</dl>
						</div>
					</div>
					
			    	<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<h3>聯絡資訊</h3>
						</div>
						
						<div class="content">
							<dl>
								<dt>聯絡人</dt>
								{% for contact in npoContact %}
								<dd> {{ contact.contact_name }} </dd>
								{% endfor %}
								<dt>網址</dt>
								<dd> {{ npoProfile.website }} </dd>
								<dt>電話</dt>
								<dd> {{ fixedPhone }} </dd>
								<dt>傳真</dt>
								<dd> {{ faxPhone }} </dd>
							</dl>
						</div>
					</div>
					
			    	<div class="content-block">
			    	    <div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<h3>其他資料</h3>
						</div>
						
						<div class="content">
							<dl>
								<dt>設立日期</dt>
								<dd>{{ npoProfile.founding_date.date }} </dd>
								<dt>許可機關</dt>
								<dd>{{ npoProfile.authority }} </dd>
								<dt>服務區域</dt>
								<dd>{{ service_region }} </dd>
								<dt>服務對象</dt>
								<dd> {{ service_target }} </dd>
								<dt>服務項目</dt>
								<dd> {{ service_field }} </dd>
								<dt>劃播帳號</dt>
								<dd> {{ npoProfile.bank_acct_no }} </dd>
								<dt>劃播戶名</dt>
								<dd> {{ npoProfile.bank_acct_name }} </dd>
							</dl>
						</div>
					</div>
					
{% endblock %}
