{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

{### content ###}

{% block mainContent %}

			    	<div class="content-block">
				    	<h3 id="page-title">公益團體搜尋</h3>
					<div class="list-title">共找到 {{ pageSet.count }} 個公益團體, 顯示第 {{ pageSet.startIndex|add:"1" }} 至 {{ pageSet.endIndex|add:"1" }} 個</div>
					{% include "paging_top.html" %}
						<div class="npo-list">
						    {% for entry in entryList %}
						    {% ifequal entry firstEntry %}
							<div class="npo-item">
						    {% else %}
							<div class="npo-item top-line">
						    {% endifequal %}
								<div class="npo-image">
								    <a href="/npo/npo_home.html?npo_id={{ entry.npo_id }}"><img class="img55" src="{% if entry.logo %}{{ entry.logo }}{% else %}{{ base.noLogo }}{% endif %}"/></a>
								</div>
								<div class="npo-info">
								    <div class="npo-title"><a href="/npo/npo_home.html?npo_id={{ entry.npo_id }}">{{ entry.npo_name }}</a></div>
								    <div class="npo-desc">{{ npo.brief_intro }}</div>
								</div>
								<div class="npo-activities">
									<div class="npo-upcoming-activities">
										<div class="npo-upcoming-activities-label">接下來的活動:</div>
										{% for event in entry.eventList %}
										<div class="npo-upcoming-activity">
										    <div class="title upcoming-title"><a href="/event/viewEvent?id={{ event.key }}">{{ event.event_name }}</a></div>
										    <div class="date">
											{% if event.upcoming %}即將進行, 還有 {{ event.diffDays }} 天 {% endif %}
											({{ event.start_time.month }} 月 {{ event.start_time.day }} 日)</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div class="npo-stats">
								    <div class="npo-location"><b>服務區域：</b>{{ entry.region }}</div>
								    <div class="npo-members">共有 {{ entry.memberCount }} 名會員</div>
								    <div class="link"><a href="/npo/npo_home.html?npo_id={{ entry.npo_id }}">前往群組首頁</a></div>
									<div class="link"><a href="#">加入群組</a></div>
								</div>
							</div>
						    {% endfor %}
						</div>
					{% include "paging_bottom.html" %}
					</div>
{% endblock %}
