{% extends "npo/base.html" %}

{### header ###}

{% block npoExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block npoExtraHeader here -->
	<script type="text/javascript" src="/static/js/npo_news.js" ></script> 
	
{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

					
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							{% if npoBase.isNpoAdmin %}
							<div class="right-links">
					    		<a href="#" id = 'npo_edit_button' >編輯</a><input type="button" value="ok" id="npo_edit_button_ok" style="display: none;" />
					    	</div>
					    	{% endif %}
							<h3>最新消息</h3>
							
						</div>
						<div class="content">
							<!-- Mark the fake news when testing real data -->
							<div class="npo-news"><span id="npo_news_1">最新消息第一條1</span></div>
							<div class="npo-news"><span id="npo_news_2">最新消息第二條2</span></div>
							<div class="npo-news"><span id="npo_news_3">最新消息第三條3</span></div>
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							{% if npoBase.isNpoAdmin %}
							<div class="right-links">
					    		<a href="/npo/manage_edit_info.html?npo_id={{npoProfile.npo_id}}">編輯</a>
					    	</div>
					    	{% endif %}
							<h3>公益團體簡介</h3>
							
						</div>
						<div class="content">
							{{ npoProfile.brief_intro }}
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
								<a href="/npo/listEvents/?npo_id={{npoProfile.npo_id}}">觀看所有活動</a>
								{% if npoBase.isNpoAdmin %}
					    		| <a href="/npo/admin/addEvent/?npo_id={{npoProfile.npo_id}}">新增活動</a> | <a href="/npo/admin/listEvent/?npo_id={{npoProfile.npo_id}}">管理活動</a>
					    		{% endif %}
					    	</div>
							<h3>舉辦的活動</h3>
							
						</div>
						<div class="content">
							<div id="event-container">
							{% if eventList %}
							{% for event in eventList %}
								<span class="event-item">
									<h1><a href="/event/viewEvent?id={{ event.key }}">{{ event.event_name }}</a></h1>
									<h2>{{event.start_time.year }} 年 {{ event.start_time.month }} 月 {{ event.start_time.day }} 日</h2>
									<p>{{event.description}}</p>
								</span>
							{% endfor %}
							{% else %}
							沒有任何舉辦的活動。
							{% endif %}
							</div>
						</div>
					</div>
					
					
					<div id="new-volunteers" class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
					    		<a href="/npo/npo_volunteers.html?npo_id={{npoProfile.npo_id}}">檢視所有志工</a>
					    	</div>
							<h3>最新加入志工</h3>
							
						</div>
						{% if recentMembers %}
						<div class="content no-lr-paddings">
							<div class="head-names">
								<!-- Make the recentMembers only contain 3 entries !!!!!!!! -->
								{% for member in recentMembers %}
								<div class="item-block head-name">
									<div class="left-block head">
									    <img class="img55" src="{{ member.logo }}">
									</div>
									<div class="right-block name">
									    <h3><a href="/volunteer/home/{{ member.key }}">{{ member.nickname|escape }}</a></h3>
										<label>{{ member.resident_city }}</label>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="line">
							</div>
							<div class="volunteer-infos clearfix">
								<!-- Make the recentMembers only contain 3 entries !!!!!!!! -->
								{% for member in recentMembers %}
								<div class="item-block index-value">
									<div class="left-block index">
										<ul>
											<li>加入日期</li>
										</ul>
									</div>
									<div class="right-block value">
										<ul>
											<li>{{ member.create_time.date }}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
								
							</div><!-- volunteer-infos -->
						</div>
						{% else %}
						<div class="content">
							近期沒有新加入的志工。
						</div>
						{% endif %}
						
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
							<h3>我們的照片</h3>
						</div>
						<div class="content">
							<div class="photo-block clearfix">
							    {% for photo in photoFeeds %}
							    <div class="photo-item"><a href="{{ photo.link.1.href }}"><img class="img75" src="{{ photo.media.thumbnail.0.url }}"/></a></div>
							    {% endfor %}
							</div>
						</div>
					</div>
					
					<div class="content-block">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
							    <a href="/npo/{{ npoProfile.npo_id }}/space/video/">看更多</a>
					    	</div>
							<h3>我們的影片</h3>
						</div>
						<div class="content">
							<div class="video-block">
								<div class="video-item">
								    {% if video %}
									<div class="video-content">
									    <object width="290" height="234">
										<param name="movie" value="{{ video.media.content.0.url }}"></param>
										<param name="allowFullScreen" value="true"></param>
										<param name="allowscriptaccess" value="always"></param>
										<embed src="{{ video.media.content.0.url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="290" height="234"></embed>
									    </object>
									</div>
									{% else %}
									公益團體尚未加入任何影音。
								    {% endif %}
								</div>
							</div>
						</div>
					</div>
					
					<div class="content-block no-padding-bottom">
						<div class="title">
							<img src="/static/images/titlebar-left.jpg" class="left">
							<img src="/static/images/titlebar-right.jpg" class="right">
							<div class="right-links">
							    <a href="/npo/{{ npoProfile.npo_id }}/space/article/">看更多</a>
					    	</div>
							<h3>我們的部落格</h3>
						</div>
						<div class="content">
							<div class="article-block">
								{% if articleList %}
							    {% for entry in articleList %}
								<div class="article-item"><a href="{{ entry.1 }}">{{ entry.0 }}</a></div>
							    {% endfor %}
							    {% else %}
							    	公益團體尚未加入任何文章。
							    {% endif %}
							</div>
						</div>
					</div>
{% endblock %}

