				<div id="picture">
	    	        <img src="{% if npoProfile.logo %}{{ npoProfile.logo }}{%else%}/static/images/01_cis.jpg{% endif %}" width="100" /><br>
                </div>
				<div id="boxes-left" class="box-column">
					<div id="action" class="left-box">
						<div class="left-box-body">
							<ul>
								<li>
									<a href="">管理頁面</a>
								</li>
								<li>
									<a href="">加入此 NPO</a>
								</li>
								<li>
									<a href="">檢舉這個 NPO</a>
								</li>
							</ul>
						</div><!-- left-box-body -->
					</div><!-- left-box -->
					<div id="activity" class="left-box">
						<h3 class="left-box-header">
							活動統計
						</h3>
						<div class="left-box-body">
							<h4>活動舉辦次數</h4>
							<div>{{ npoProfile.total_events }} 次</div>
						</div>
					</div>
					<div id="info" class="left-box">
						<h3 class="left-box-header">
							NPO 資訊
						</h3>
						<div class="left-box-body">
							<h4>平台建立日期</h4>
							<div> {{ npoProfile.create_time.date }} </div>
							
							<h4>創辦人</h4>
							<div> {{ npoProfile.founder }} </div>
							
							<div class="right-links"><a href="">檢視詳細資料 >></a></div>
						</div>
					</div>
					<!--
	                <div id="friends" class="left-box">
                		<h3 class="left-box-header">志工</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
                        			<a href="npo_volunteers.html?npo_id={{npoProfile.npo_id}}">{{numOfMembers}} 位志工</a>
                            	</span>
                            	<small>
                            		<a href="npo_volunteers.html?npo_id={{npoProfile.npo_id}}">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
                        		<div class="row">
                        			{% for member in leftMembersRow1 %}
                        			
                        			<div class="person">
                            			<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            			<a href="">{{ member.volunteer_first_name }}</a>
                            		</div>
                        			
                        			{% endfor %}
	                            </div>
	                        	<div class="row">
	                        		{% for member in leftMembersRow2 %}
                        			
                        			<div class="person">
                            			<a href=""><img src="/static/images/3226562-big.jpg" width=55></a>
                            			<a href="">{{ member.volunteer_first_name }}</a>
                            		</div>
                        			
                        			{% endfor %}
	                            </div>
	                        </div>
	                    </div>
	    		        
	                </div>
	                
	                -->
				</div><!-- boxes-left -->