{% extends "registration/base.html" %}

{% block registerExtraHeader %}
<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block registerContent %}
	<h2>申請註冊 NPO </h2>
	<div class="number-sign">2</div>
	<div class="tip">
		請填寫下列表格
	</div>
	<div class="step-main">
		<form class="flow-form" action="">
		<ul>
			<li class="section">
				<h3>基本資料</h3>
				<div>關於 NPO 的基本資料</div>
			</li>
			<li>
				<label class="desc">
				名稱
					<span class="req"> * </span>
				</label>
				<div>
					<input id="name" class="field text medium" type="text" name="name" maxlength="255" />
					<label class="req">
						此欄位事後無法更改
					</label>
				</div>
			</li>
			<li>
				<label class="desc">
				創辦人
					<span class="req"> * </span>
				</label>
				<div>
					<input id="founder" class="field text medium" type="text" name="founder" maxlength="255" />
				</div>
			</li>
			<li>
				<label class="desc">
				簡介
					<span class="req"> * </span>
				</label>
				<div class="column">
					<textarea class="field textarea medium" cols="50" rows="10" name="intro">
					</textarea>
				</div>
			</li>
			
			<li>
				<label class="desc">
				大頭貼圖片
				</label>
				<div class="column">
					<input id="picture" class="field file" type="file" name="picture" value="" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務區域
					<span class="req"> * </span>
				</label>
				<div class="column">
					<input id="serviceplace" class="field text medium" name="serviceplace" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務對象
					<span class="req"> * </span>
				</label>
				<div class="column">
					<input id="servicefor" class="field text medium" name="servicefor" />
				</div>
			</li>
			
			<li>
				<label class="desc">
				服務項目
					<span class="req"> * </span>
				</label>
				<div class="column">
					<input id="serviceitem" class="field text medium" name="serviceitem" />
				</div>
			</li>
			
			<li class="section">
				<h3>聯絡資訊</h3>
				<div>一些關於 NPO 的聯絡資訊</div>
			</li>
			
			<li>
				<label class="desc">
				聯絡人
					<span class="req"> * </span>
				</label>
				<div class="column">
					<input id="contactperson" class="field text medium" name="contactperson" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					網站
				</label>
				<div class="column">
					<input id="website" class="field text" name="website" maxlength="255" size="50" value="http://" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					部落格
				</label>
				<div class="column">
					<input id="blog" class="field text" name="blog" maxlength="255" size="50" value="http://" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					電話
					<span class="req"> * </span>
				</label>
				<div class="column">
					<input id="telephone" class="field text medium" name="telephone" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					傳真
				</label>
				<div class="column">
					<input id="fax" class="field text medium" name="fax" />
				</div>
			</li>
			
			<li class="section">
				<h3>選填資料</h3>
				<div>一些關於 NPO 的資料</div>
			</li>
			
			<li>
				<label class="desc">
				設立日期
				</label>
				<span>
					<input id="foundyear" class="field text" name="foundyear" maxlength="4" size="4" />
					/
					<label>西元年</label>
				</span>
				<span>
					<input id="foundmonth" class="field text" name="foundmonth" maxlength="2" size="2" />
					/
					<label>月</label>
				</span>
				<span>
					<input id="foundday" class="field text" name="foundday" maxlength="2" size="2" />
					<label>日</label>
				</span>
			</li>
			
			<li>
				<label class="desc">
					許可機關
				</label>
				<div class="column">
					<input id="approval" class="field text medium" name="approval" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					劃撥帳號
				</label>
				<div class="column">
					<input id="accountnumber" class="field text medium" name="accountnumber" />
				</div>
			</li>
			
			<li>
				<label class="desc">
					劃撥戶名
				</label>
				<div class="column">
					<input id="accountname" class="field text medium" name="accountname" />
				</div>
			</li>
			
			<li class="section">
				<h3>平台管理者</h3>
				<div>設定可以管理 NPO 的使用者</div>
			</li>
			
			<li>
				<label class="desc">
					陳誠曾 (ctchen@gmail.com)
				</label>
			</li>
			
			<li>
				<label class="desc">
					管理者 Google 帳戶
				</label>
				<span>
					<input id="adminaccount" class="field text" name="adminaccount" maxlength="255" size="50" />
				</span>
				<span>
					<input id="newadmin" name="newadmin" class="btTxt" type="submit" value="新增" />
				</span>
			</li>
			
			<li class="section">
				<h3>圖片文字認證</h3>
				<div>為了防止機器人大量註冊，請回答下面的問題</div>
			</li>
			
			<img src="/static/images/Captcha.jpg">
			<li>
				<label class="desc">
					請輸入您在上方看到的字元
				</label>
				<span class="column">
					<input id="auth" class="field text" maxlength="15" size="15">
					<label>
						字母不區分大小寫
					</label>
				</span>
			</li>
			
			<li class="buttons section">
				<input id="submit" class="btTxt" type="submit" value="下一步" />
			</li>
		</ul>
		</form>
	</div>
{% endblock %}