{% extends "registration/base.html" %}

{% block registerExtraHeader %}

<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.6rc5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	    var signUpObj = $("input[name='registergaccount']");
	    signUpObj.click(function(e) {
		e.preventDefault();
		$("#nextStep").show().dialog({
		    modal: true, 
		    resizable: false,
		    position: [100, 100], 
		    overlay: { opacity: 0.5, background: "black" }, 
		    buttons: {
			'註冊 Google 帳號': function() { window.open("https://www.google.com/accounts/NewAccount?hl=zh-TW", "_blank", "left=500,width=800,scrollbars=yes,resizeable=yes"); },
			'確定': function() { $(this).dialog("close"); }
		    },
		    close: function(e, ui) { document.location = '{{ base.path|escape }}?logingaccount=y'; }
		});
		window.open("https://www.google.com/accounts/NewAccount?hl=zh-TW", "_blank", "left=500,width=800,scrollbars=yes,resizeable=yes");
	    });
    });
</script>
{% endblock registerExtraHeader %}

{% block registerContent %}
	<h2>註冊帳號</h2>
	<div class="tip">
		<div class="red">
			若水志工交換平台目前是與 Google 帳號結合，您必須要有 Google 帳號才能註冊本平台
		</div>
		若是沒有，您可以註冊 Google 帳號，並不需要收取任何費用
	</div>
	<div class="number-sign">2</div>
	<div class="step-main">
	{% if isWarning %}
	<div class="ui-widget-header" style="clear: both; padding: 5px; text-align: center; font-size: large;">
	    {{ isWarning }}
	</div>
	{% endif %}
		<p>
		請問您是否有 Google 帳號?
		</p>
		<form action="{{ base.path|escape }}" method="get">
			<input type="submit" value="是，我要登入" name="logingaccount">
			<input type="submit" value="否，我要註冊一個 Google 帳號" name="registergaccount">
		</form>
	</div>
	<div id="nextStep" style="display: none;" title="下一步">請您在另一個視窗完成申請 Google 帳號之後，再點擊 '確定' 以進行下一步。</div>
{% endblock %}
