				<div id="picture">
					<img src="{% if volunteerBase.logo %} {{ volunteerBase.logo|escape }} {% else %} {{ base.noLogo }} {% endif %}" width="100" />
	    	        <!-- {{ volunteerBase.name|escape }} -->
	                </div>
				<div id="boxes-left" class="box-column">
					<div id="action" class="left-box">
						<div class="left-box-body">
							<ul>
								<li>
									<a href="">建議活動給 {{ volunteerBase.nickname|escape }}</a>
								</li>
								<!--
								<li>
								  <a href="/volunteer/friend/create/{{ volunteerBase.key }}&xToken={{ base.token }}">與 {{ volunteerBase.nickname|escape }} 成為好友</a>
								</li>
								-->
								<li>
									<a href="">檢舉這位使用者</a>
								</li>
								<li>
								  <a href="/npo/register/">申請註冊公益團體</a>
								</li>
							</ul>
						</div><!-- left-box-body -->
					</div><!-- left-box -->
					<div id="info" class="left-box">
						<h3 class="left-box-header">
							志工資訊
						</h3>
						<div class="left-box-body">
							<h4>暱稱</h4>
							<div>{{ volunteerBase.nickname|escape }}</div>

							<h4>居住地</h4>
							<div>{{ volunteerBase.resident|escape }}</div>
							
							<div class="right-links"><a href="/volunteer/profile/{{ volunteerBase.key }}">檢視詳細資料 >></a></div>
						</div>
					</div>
					
						
				</div><!-- boxes-left -->
