{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ base.jQueryUI_URI }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
	$("#cancel-button").click(function(e) {
	    e.preventDefault();
	    history.go(-1);
	});

	$("a[href*='friend/create']").click(function(e) {
	    e.preventDefault();
	    var target = $(this);
	    $.getJSON(target.attr("href"), function(data) {
		if (data.statusCode >= 200 && data.statusCode < 300)
		{
		    alert('新增成功');
		    window.location.reload();
		}
		else
		    alert('新增失敗 : ' + data.reason);
		});
	});

	$("#preview").click(function(e) {
	    e.preventDefault();
	    var previewBoxObj = $("#previewBox");
	    var previewImgURL = $("#id_logo").attr("value");
	    previewBoxObj.empty();
	    previewBoxObj.append('<img width="175" src="' + previewImgURL + '" />');

	    previewBoxObj.show().dialog({
		resizable:  false,
		close: function(e, ui) { previewBoxObj.hide().dialog('destroy'); }
	    });
	});
    });
</script>
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

			    <h3 id="page-title" class="subbar">編輯基本資料</h3>
				{% if isWarning %}
				<div class="ui-widget-header" style="clear: both; padding: 5px; text-align: center; font-size: large;">
				    {{ isWarning }}
				</div>
				{% endif %}

				<form class="flow-form" action="{{ base.path|escape }}" method="POST" name="edit-profile" id="edit-profile">
                    <ul>
                        <li class="section">
                            <h3>非公開資料</h3>
                            <div>本區資料除您參與活動的公益團體看得到以外，對外皆不公開</div>
                        </li>
                        <li>
                            <label class="desc">
                            姓 , 名
                                <span class="req"> * </span>
                            </label>
                            <div>
                                {{ form.volunteer_last_name }}
                                {% for error in form.volunteer_last_name.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                                ,
                                {{ form.volunteer_first_name }}
                                {% for error in form.volunteer_first_name.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <label class="desc">
                            生日
                                <span class="req"> * </span>
                            </label>
                            <span>
                                {{ form.birthyear }}
                                /
                                <label>西元年</label>
                                {% for error in form.birthyear.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                            <span>
                                {{ form.birthmonth }}
                                /
                                <label>月</label>
                                {% for error in form.birthmonth.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                            <span>
                                {{ form.birthday }}
                                <label>日</label>
                                {% for error in form.birthday.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        </li>
                        <li>
                            <label class="desc">
                            性別
                                <span class="req"> * </span>
                            </label>
                            <div class="column">
                                {{ form.sex }}
                                {% for error in form.sex.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <label class="desc">
                            就讀/畢業學校
                            </label>
                            <div>
                                {{ form.school }}
                                {% for error in form.school.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <label class="desc">
                            服務單位/公司
                            </label>
                            <div>
                                {{ form.organization }}
                                {% for error in form.organization.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <label class="desc">
                            職稱
                            </label>
                            <div>
                                {{ form.title }}
                                {% for error in form.title.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <label class="desc">
                            即時通訊
                            </label>
                            <span class="column">
                                {{ form.im_type }}
                                <label>通訊協定</label>
                                {% for error in form.im_type.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                            <span class="column">
                                {{ form.im_account }}
                                <label>帳號</label>
                                {% for error in form.im_account.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        </li>
                        <li>
                            <label class="desc">
                            手機號碼
                            </label>
                            <span class="column">
                                {{ form.phone1 }}
                                -
                                <label>
                                    09##
                                </label>
                                {% for error in form.phone1.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                            <span class="column">
                                {{ form.phone2 }}
                                -
                                <label>
                                    ###
                                </label>
                                {% for error in form.phone2.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                            <span class="column">
                                {{ form.phone3 }}
                                <label>
                                    ###
                                </label>
                                {% for error in form.phone3.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        </li>
                        <li>
                            <label class="desc">
                            部落格 (個人網站)
                            </label>
                            <span>
                                {{ form.blog }}
                                {% for error in form.blog.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        </li>

                        <li class="section">
                            <h3>公開資料</h3>
                            <div>一些關於您對外公開的基本資訊</div>
                        </li>

                        <li>
                            <label class="desc">
                            暱稱
                                <span class="req"> * </span>
                            </label>
                            <div>
                                {{ form.nickname }}
                                {% for error in form.nickname.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <label class="desc">
                            大頭貼圖片網址
                            </label>
                            <div>
                                {{ form.logo }}
                                <input id="preview" class="field button" type="button" value="預覽" />
                                {% for error in form.logo.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                            <div id="previewBox" style="display: none;" title="預覽"></div>
                        </li>

                        <li>
                            <label class="desc">
                            居住地
                                <span class="req"> * </span>
                            </label>
                            <div>
                                {{ form.resident_city }}
                                {% for error in form.resident_city.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <label class="desc">
                                我的專長
                                <span class="req"> * </span>
                            </label>

                                {{ form.expertise }}

                           <div>
                                {% for error in form.expertise.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <label class="desc">
                                自我簡介
                            </label>
                            <div>
                                {{ form.brief_intro }}
                                {% for error in form.brief_intro.errors %}
                                <span class="req">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="buttons section">
                            <input id="submit-button" name="submit" class="btTxt" type="submit" value="儲存變更" />
                            <input id="cancel-button" name="cancel" class="btTxt" type="button" value="取消變更" />
                        </li>
                    </ul>
                    </form>
{% endblock %}
