				<div id="picture">
					<img src="{% if volunteerBase.logo %} {{ volunteerBase.logo|escape }} {% else %} {{ base.noLogo }} {% endif %}" width="100" />
	    	        <!-- {{ volunteerBase.name|escape }} -->
	                </div>
				<div id="boxes-left" class="box-column">
					<div id="action" class="left-box">
						<div class="left-box-body">
							<ul>
								<li>
									<a href="">建議活動給 {{ volunteerBase.volunteer_id }}</a>
								</li>
								<!--
								<li>
								  <a href="/volunteer/friend/create/?volunteer_id={{ volunteerBase.volunteer_id }}&t={{ base.token }}">與 {{ volunteerBase.volunteer_id }} 成為好友</a>
								</li>
								-->
								<li>
									<a href="">檢舉這位使用者</a>
								</li>
								<li>
								  <a href="/npo/register/">申請註冊NPO</a>
								</li>
							</ul>
						</div><!-- left-box-body -->
					</div><!-- left-box -->
					<div id="info" class="left-box">
						<h3 class="left-box-header">
							志工資訊
						</h3>
						<div class="left-box-body">
							<h4>生日</h4>
							<div>{{ volunteerBase.birthday|escape }}</div>
							
							<h4>目前所在城市</h4>
							<div>{{ volunteerBase.resident|escape }}</div>
							
							<div class="right-links"><a href="/volunteer/profile/?volunteer_id={{ volunteerBase.volunteer_id }}">檢視詳細資料 >></a></div>
						</div>
					</div>
					<!--
	                <div id="friends" class="left-box">
                		<h3 class="left-box-header">我的朋友</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
															<a href="/volunteer/friend">{{ volunteerBase.friendCount }} 位朋友</a>
                            	</span>
                            	<small>
                            		<a href="/volunteer/friend">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
														{% for friendTriple in volunteerBase.friends %}
                        		<div class="row">
															{% for friend in friendTriple %}
                            		<div class="person">
																	<a href="/volunteer/profile/?volunteer_id={{ friend.volunteer_id }}"><img src="{% if friend.logo %} {{ friend.logo|escape }} {% else %} {{ base.noLogo }} {% endif %}" class="img55"></a>
																	<a href="/volunteer/profile/?volunteer_id={{ friend.volunteer_id }}">{{ friend.volunteer_id }}</a>
                            		</div>
															{% endfor %}
	                            </div>
														{% endfor %}
	                        </div>
	                    </div>
	                </div>
						-->
	                <div id="npos" class="left-box">
                		<h3 class="left-box-header">我參與的 NPO</h3>
                    	<div class="left-box-body">
                    		<h4 class="left-box-header clearfix">
                        		<span>
															<a href="">{{ volunteerBase.npoCount }} 個 NPO</a>
                            	</span>
                            	<small>
                            		<a href="">全部</a>
                            	</small>
                        	</h4>
                        	<div class="people">
														{% for npoTriple in volunteerBase.npos %}
                        		<div class="row">
															{% for npo in npoTriple %}
                            		<div class="person">
																	<a href="#"><img src="{% if npo.logo %} {{ npo.logo|escape }} {% else %} {{ base.noLogo }} {% endif %}" width=55></a>
																	<a href="#">{{ npo.npo_name|escape }}</a>
                            		</div><!-- person -->
															{% endfor %}
	                            </div><!-- row -->
														{% endfor %}
	                        </div><!-- people -->
	                    </div><!-- left-box-body -->
	    		        <!-- <p>Left sidebar here</p>-->
	                </div><!-- npos -->
				</div><!-- boxes-left -->
