{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

					<div class="two-column-content-block">
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">基本資料</span>
							</div>
							<dl class="info-block">
								<dt>姓名</dt>
								<dd>{{ base.name|escape }}</dd>
								<dt>生日</dt>
								<dd>{{ base.birthday|escape }}</dd>
								<dt>性別</dt>
								<dd>{% ifequal sex "Female" %}女{% else %}男{% endifequal %}</dd>
								<dt>所在地</dt>
								<dd>{{ base.resident|escape }}</dd>
							</dl>
					    	<div class="right-links">
						    <a href="/volunteer/profile/?volunteer_id={{ base.volunteer_id }}">檢視完整基本資料</a>
					    	</div>
						</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的相片</span>
							</div>
							<div class="photo-block clearfix">
							    {% for photo in photoFeeds %}
							    <div class="photo-item"><a href="{{ photo.link.1.href }}"><img class="img75" src="{{ photo.media.thumbnail.0.url }}"/></a></div>
							    {% endfor %}
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的影片</span>
							</div>
							<div class="video-block">
								<div class="video-item">
									<div class="video-content">
									    <object width="290" height="234">
										<param name="movie" value="{{ video.media.content.0.url }}"></param>
										<param name="allowFullScreen" value="true"></param>
										<param name="allowscriptaccess" value="always"></param>
										<embed src="{{ video.media.content.0.url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="290" height="234"></embed>
									    </object>
									</div>
								</div>
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的公益分享</span>
							</div>
							<div class="article-block">
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
							</div>
					    	<div class="right-links clearfix">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
					</div>
					<div class="two-column-content-block">
						<!--
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">公益足跡</span>
							</div>
							<dl class="portofolio-block">
								<dt>參加公益活動的次數</dt>
								<dd>1234</dd>
								<dt>參加公益活動的小時</dt>
								<dd>9527</dd>
								<dt>參與度(出席次數)</dt>
								<dd>2468</dd>
							</dl>
					    	<div class="right-links">
					    		<a href="#">檢視完整公益履歷</a>
					    	</div>
				    	</div>
					-->
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">加入的NPO</span>
							</div>
							{% for npo in npoList %}
							{% ifequal npo npoFirst %}
							<div class="npo-block">
							{% else %}
							<div class="npo-block top-line">
							{% endifequal %}
								<div class="npo-image">
								    <a href="#"><img class="img55" src="{% if npo.logo %}{{ npo.logo }}{% else %}{{ base.noLogo }}{% endif %}"/></a>
								</div>
								<div class="npo-info">
								    <div class="npo-title"><a href="#">{{ npo.npo_name }}</a></div>
								    <div class="npo-desc">{{ npo.brief_intro|default:"" }}</div>
								    <div class="npo-members">共有 {{ npo.memberCount }} 名會員</div>
									<div class="npo-upcoming-activities">
										<div class="npo-upcoming-activities-label">接下來的活動:</div>
										{% for event in npo.eventList %}
										<div class="npo-upcoming-activity">
										    <div class="title upcoming-title"><a href="/event/viewEvent?id={{ event.key }}">{{ event.event_name }}</a></div>
										    <div class="date">
											{% if event.upcoming %}即將進行, 還有 {{ event.diffDays }} 天 {% endif %}
											({{ event.start_time.month }} 月 {{ event.start_time.day }} 日)</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endfor %}
					    	<div class="right-links">
					    		<a href="#">檢視所有加入NPO</a>
					    	</div>
				    	</div>
					</div>
{% endblock %}
