{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ base.jQueryUI_URI }}"></script>
<script type="text/javascript" src="/static/js/space.js"></script>
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

				<h3 id="page-title" class="subbar">影音列表
				</h3>
                {% if isSelf %}
                <div class="action">
				    <a id="createVideoItem" href="#">新增影音</a>
                </div>
                {% endif %}
				<div class="list-title">共有 {{ count }} 筆, 顯示第 {{ startIndex|add:"1" }} 至 {{ endIndex|add:"1" }} 筆</div>
						<div class="right-links">
							<div class="pager ptop">
							    {% ifnotequal prevIndex None %}
							    <span class="prev">
							    	<a href="{{ base.path }}{% if prevIndex %}?start={{ prevIndex }}{% endif %}">上一頁</a>
							    </span>
							    {% endifnotequal %}
							    {% for page in pageList %}
							    <span class="item">
							    	<a href="{{ base.path }}{% if page.startIndex %}?start={{ page.startIndex }}{% endif %}"{% ifequal page.index currentPage %} class="current"{% endifequal %}>{{ page.index }}</a>
							    </span>
							    {% endfor %}
							    {% if nextIndex %}
							    <span class="next">
							    	<a href="{{ base.path }}?start={{ nextIndex }}">下一頁</a>
							    </span>
							    {% endif %}
							</div>
						</div>
						<div class="fullpage-list">
						    {% for entry in entryList %}
						    {% ifequal entry firstEntry %}
							<div class="item video top-line">
						    {% else %}
							<div class="item video top-line">
						    {% endifequal %}
						    	<div class="actions">
							    {% if isSelf %}
							    <a class="delItem" href="/volunteer/space/video/delete?itemId={{ forloop.counter }}&token={{ base.token }}">刪除</a>
							    {% endif %}
							</div>
							<div class="video-title">{{ entry.title.text }}</div>
							<div class="video-content">
							    <object width="320" height="265">
								<param name="movie" value="{{ entry.media.content.0.url }}"></param>
								<param name="allowFullScreen" value="true"></param>
								<param name="allowscriptaccess" value="always"></param>
								<param name="wmode" value="transparent"></param>
								<embed src="{{ entry.media.content.0.url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265" wmode="transparent"></embed>
							    </object>
							</div>
							<div class="video-info">於 {{ entry.videoDate.year }} 年 {{ entry.videoDate.month }} 月 {{ entry.videoDate.day }} 日 發表</div>
							</div>
						    {% endfor %}
						</div>
						<div class="right-links">
							<div class="pager pbottom">
							    {% ifnotequal prevIndex None %}
							    <span class="prev">
							    	<a href="{{ base.path }}{% if prevIndex %}?start={{ prevIndex }}{% endif %}">上一頁</a>
							    </span>
							    {% endifnotequal %}
							    {% for page in pageList %}
							    <span class="item">
							    	<a href="{{ base.path }}{% if page.startIndex %}?start={{ page.startIndex }}{% endif %}"{% ifequal page.index currentPage %} class="current"{% endifequal %}>{{ page.index }}</a>
							    </span>
							    {% endfor %}
							    {% if nextIndex %}
							    <span class="next">
							    	<a href="{{ base.path }}?start={{ nextIndex }}">下一頁</a>
							    </span>
							    {% endif %}
							</div>
						</div>
				<div id="createVideoBox" style="display: none;" title="新增影音">
				    <form action="#" method="get">
					<dl>
					    <dt>Youtube 影音網址:</dt>
					    <dd>
					    <input type="text" name="videoUri" maxlength="100" size="50" value="{{ volunteerBase.feedUri }}" />
					    <input type="hidden" id="xToken" name="xToken" value="{{ base.token }}" />
					    </dd>
					</dl>
					<div id="videoPreview">
					    <div class="video-title"></div>
					    <div class="video-item" style="display: none;">
						<div class="video-content">
						    <object width="290" height="234">
							<param name="movie" value=""></param>
							<param name="allowFullScreen" value="true"></param>
							<param name="allowscriptaccess" value="always"></param>
							<param name="wmode" value="transparent"></param>
							<embed src="" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="290" height="234" wmode="transparent"></embed>
						    </object>
						</div>
					    </div>
					</div>
				    </form>
				</div>
{% endblock %}
