<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}若水志工媒合平台</title>
<link href="/static/css/global2.css" rel="stylesheet" type="text/css" />
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ base.jQueryURI }}"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/index.js" ></script> 


{% block extraHeader %}
	{### this block can be replaced by children template with css / script definition ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

</head>
<body>
<div id="Search_Wrap" style="display: none;">
    <p class="tab"><span id="search-bar-link">搜尋</span></p>
    <div id="Search_Body">
        <div id="Search_Type">
            <a href="javascript:;" class="types selected" onclick="jsSwitchType('Activity');" id="Type_Activity"><span>活動</span></a>
            <a href="javascript:;" class="types type" onclick="jsSwitchType('Volunteer');" id="Type_Volunteer"><span>志工</span></a>
            <a href="javascript:;" class="types type" onclick="jsSwitchType('Group');" id="Type_Group"><span>公益團體</span></a>
            <a href="javascript:;" class="close" onclick="jsCloseSearchPanel()"><img src="/static/images/close_icon.png" /></a>
        </div> 
        <div id="Search_Activity" class="searches">
        	<form action="/event/search/" method="GET">
            	<div id="Keyword">關鍵字：<input type="text" name="tags" size="18" /></div>
        		<div class="Search_Section">
	            	<p class="clear_float">地區：</p>
		            <ul>
		            {% for region in base.resident %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
            	<div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
            </form>
        </div>
        <div id="Search_Volunteer" class="searches">
        	<form action="/volunteer/search/" method="GET">
        		<div class="Search_Section">
		            <p class="clear_float">居住地區：</p>
		            <ul>
		            {% for region in base.resident %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
	            <div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
	        </form>
    		<div class="Search_Section">
	            <p class="clear_float">專業領域：</p>
	            <ul>
	                <li><input type="checkbox" />企業管理</li>
	                <li><input type="checkbox" />業務開發</li>
	                <li><input type="checkbox" />市場行銷</li>
	                <li><input type="checkbox" />財務會計</li>
	                <li><input type="checkbox" />傳播公關</li>
	                <li><input type="checkbox" />政經法律</li>
	                <li><input type="checkbox" />社會福利</li>
	                <li><input type="checkbox" />建築工程</li>
	                <li><input type="checkbox" />生化工程</li>
	                <li><input type="checkbox" />植物園藝</li>
	                <li><input type="checkbox" />醫療護理</li>
	                <li><input type="checkbox" />資訊網路</li>
	                <li><input type="checkbox" />電子機械</li>
	                <li><input type="checkbox" />攝影製片</li>
	                <li><input type="checkbox" />品牌設計</li>
	                <li><input type="checkbox" />餐旅觀光</li>
	                <li><input type="checkbox" />教育心理</li>
	                <li><input type="checkbox" />音樂戲劇</li>
	                <li><input type="checkbox" />表演藝術</li>
	                <li><input type="checkbox" />其他專長</li>
	            </ul>
	        </div>
    		<div class="Search_Section">
	            <p class="clear_float">語言專長：</p>
	            <ul>
	                <li><input type="checkbox" />國語</li>
	                <li><input type="checkbox" />台語</li>
	                <li><input type="checkbox" />粵語</li>
	                <li><input type="checkbox" />客家語</li>
	                <li><input type="checkbox" />越南語</li>
	                <li><input type="checkbox" />印尼語</li>
	                <li><input type="checkbox" />泰國語</li>
	                <li><input type="checkbox" />馬來語</li>
	                <li><input type="checkbox" />英語</li>
	                <li><input type="checkbox" />日語</li>
	                <li><input type="checkbox" />韓語</li>
	                <li><input type="checkbox" />其他</li>
	            </ul>
	        </div>
        </div>
        <div id="Search_Group" class="searches">
            <form action="/npo/search/" method="GET">
        		<div class="Search_Section">
	            <p class="clear_float">服務地區：</p>
		            <ul>
		            {% for region in base.resident %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
	            <div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
            </form>
        </div>
    </div> 
</div>
<div id="Banner">
    <div id="Top_Nav">
    	{% if base.volunteer_id %}
    		{{ base.volunteer_id|escape }} |
        {% endif %}
        <!-- <a href="#" onClick="javascript:$('#Search').toggle('drop');" class="highlight">搜尋</a>-->
        <a id="top-search-link" href="javascript:;" onClick="jsShowSearchPanel();" class="highlight">搜尋</a>
        |
        {% if base.volunteer_id %}
	        <a href="/logout?redirect={{ base.full_path }}">登出</a>
	        |
	        <a href="/volunteer/home/">我的履歷表</a>
	        |
        	{% if base.isFlowAdmin %}
        		<a href="/admin/">管理介面</a>
        		|
        	{% endif %}
        {% else %}
				{% if not base.user %}
        	<a href="/login?redirect={{ base.full_path }}">登入</a>
        	|
				{% endif %}
        	<a href="/volunteer/register/">註冊</a>
        	|
        {% endif %}
        <a href="#">說明</a>
        |
        <a href="/">首頁</a>
    </div>
   	<script type="text/javascript">
   	<!--
   	
	// fix search bar position, code put here to immediate apply instead of waiting all loading operation complete
	function position_search_bar()
	{
		$("#Search_Wrap").css('left', null);
		var right_px = 0;
		if ($("#Search_Wrap").offset().left > 0) {
			right_px = $("#Search_Wrap").offset().left;
		} else {
			right_px = - $("#Search_Wrap").position().left;
		}
		//alert("right_px="+right_px);
		right_px -= $("#top-search-link").offset().left;
		//alert("right_px="+right_px+" (-"+$("#top-search-link").offset().left+")");
		right_px += 46;
		if (jQuery.browser.msie) {
			right_px += -2;
		} 	
		//alert("right_px="+right_px);
		$("#Search_Wrap").css('left', '-'+(right_px)+'px');
	}
	
	position_search_bar();
	window.onresize = function() {
		position_search_bar();
	};
	-->
   	</script>
    <div id="Main_Nav">
        <a href="/event/" class="nav_activities"></a>
        <span class="nav_line"></span>
        <a href="/npo/" class="nav_group"></a>
        <span class="nav_line"></span>
        <a href="/volunteer/" class="nav_people"></a>
    </div> 
</div>

<div id="Body_Wrap">
    <div id="Body_Header"></div>
	    <div id="Body_Content">
	    {% block mainContent %}
		{### this block can be replaced by children template with actual main content ###}
		block mainContent here
		{% endblock mainContent %}
		</div>
    <div class="clear_float"></div>   
</div>

<div id="Footer">
  <p><a href="/about/introduction.html">關於平台</a></p>
  <p><a href="/about/legal.html">法律聲明</a></p>
  <p>2009 &copy; 若水國際 All Rights Reserved</p>
</div>

</body>
</html>
