<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}若水公益交換平台</title>
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ base.jQueryURI }}"></script>
<script type="text/javascript" src="/static/js/splash_search.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>

{% block extraHeader %}
	{### this block can be replaced by children template with css / script definition ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

</head>
<body>
<div id="outer-page">
	<div id="page">
	<div id="nonfooter">
		<div class="header">
	    	<div class="header-bar">
	            <div id="login-box">
	                <ul class="top-horizontal-menu">
										{% if base.volunteer_id %}
	                		<li><span class="people">{{ base.user }}&nbsp;</span></li>
	                		<li><a href="/logout?redirect={{ base.full_path }}">登出</a></li>
	                    <li><a href="/volunteer/profile/">我的履歷表</a></li>
										{% else %}
	                		<li><a href="/login?redirect={{ base.full_path }}">登入</a></li>
											<li><a href="/volunteer/register/">註冊</a></li>
										{% endif %}										  
	                    <li><a>說明</a></li>
	                </ul>
	            </div>
	        </div> <!-- #login-box -->
	        <div id="splash-box">
				{% block splashPage %}
					{### this block contains the splashPage to include, ex: include "splashbox.html" ###}
					{% include "splashbox_search.html" %}
				{% endblock splashPage %}

				
	        </div>
	        <div id="header-links" class="clearfix">
	        	<ul class="top-horizontal-menu">
	                <li {% if base.cat_homepage %} class="selected" {% endif %}><a href="/">首頁</a></li>
	                <li {% if base.cat_event %} class="selected" {% endif %}><a href="/event/">公益活動</a></li>
	                <li {% if base.cat_npo %} class="selected" {% endif %}><a href="/npo/">公益團體</a></li>
	                <li {% if base.cat_volunteer %} class="selected" {% endif %}><a href="/volunteer/">志工臉譜</a></li>
	            </ul>
	        </div>
	    </div><!-- .header -->
{% block topBar %}
	{### this block is for top bar ###}
{% endblock topBar %}

	    <div class="main-content">

{% block mainContent %}
	{### this block can be replaced by children template with actual main content ###}
	block mainContent here
{% endblock mainContent %}

	    </div> <!-- .main-content -->
    </div> <!-- #nonfooter -->
    <div class="footer">
    <div id="footer-menu">
        <ul class="horizontal-menu">
					<li><a href="/about/introduction.html">關於平台</a></li>
					<li><a href="/about/legal.html">法律聲明</a></li>
        </ul>
    </div>
    <p id="copyright">2009 © <img src="/static/images/small-logo.png" align="absmiddle"> 若水國際 All Rights Reserved</p>
    </div>
    </div>
</div>
<div id="bottom-page"></div>
</body>
</html>
