{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/register.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/homepage.css" rel="stylesheet" type="text/css" />
	
	{% block registerExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock registerExtraHeader %}

{% endblock extraHeader %}

{### splashPage ###}

{% block splashPage %}
	{% include "splashbox_search.html" %}
{% endblock splashPage %}

{### content ###}

{% block mainContent %}
	<div id="main-container">
		<span id="main-picture">
			<img src="/static/images/mainpic.jpg">
		</span>
		<span id="right-container">
			<div id="volunteer" class="context">
				<div class="title">
					<a href="/volunteer/">志工</a>
				</div>
			</div>
			<div id="npo" class="context">
				<div class="title">
					<a href="/npo/">NPO</a>
				</div>
			</div>
		</span>
	</div>
	<div id="bottom-container">
		<div id="event" class="context">
			<div class="title">
				<a href="/event/">活動</a>
			</div>
			<div id="event-container">
				<span class="event-item">
					<img src="/static/images/E-0001c.jpg" width="32px">
					<h1>
						喝咖啡做公益
					</h1>
					<h2>
						門諾基金會
					</h2>
					<div>
						2009-03-10
					</div>
					<div>
						未知的地點
					</div>
					<p>
						在看不見的角落，有人正在等待我們伸出援手。...
					</p>
				</span>
				<span class="event-item">
					<h1>
						招募中的活動
					</h1>
					<h2>
						宅男激金會
					</h2>
					<div>
						2009-03-12 12:26
					</div>
					<div>
						Taipei
					</div>
				</span>
				<span class="event-item">
					<h1>
						招募中的活動
					</h1>
					<h2>
						宅男激金會
					</h2>
					<div>
						2009-03-12 12:26
					</div>
					<div>
						Taipei
					</div>
				</span>
				<span class="event-item">
					<h1>
						招募中的活動
					</h1>
					<h2>
						宅男激金會
					</h2>
					<div>
						2009-03-12 12:26
					</div>
					<div>
						Taipei
					</div>
				</span>
				<span class="event-item">
					<h1>
						招募中的活動
					</h1>
					<h2>
						宅男激金會
					</h2>
					<div>
						2009-03-12 12:26
					</div>
					<div>
						Taipei
					</div>
				</span>
			</div>
		</div>
	</div>
{% endblock mainContent %}
