{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/register.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/homepage.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/AC_RunActiveContent.js" type="text/javascript"></script>
	
	{% block registerExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock registerExtraHeader %}

{% endblock extraHeader %}

{### splashPage ###}

{### content ###}

{% block mainContent %}
    <div id="Body_Top">
        <div id="Main_Image">
            <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','531','height','271','title','Main Image','src','/static/images/main_image','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/static/images/main_image' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="531" height="271" title="Main Image">
            <param name="movie" value="/static/images/main_image.swf" />
            <param name="quality" value="high" />
            <embed src="/static/images/main_image.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="531" height="271"></embed>
          </object>
        </noscript>
        </div>
        <div id="Body_Top_Right">
        	<div class="top_block">
	            <div class="top_title">
	                <span class="page_title">志工臉譜</span>
	                <a href="/volunteer/" class="more_link">More</a>
	            </div>
	            <div class="top_body">
			{% if volunteer %}
	                <div class="top_icon">
	                	<img class="img75" src="{% if volunteer.logo %}{{ volunteer.logo }}{% else %}{{ base.noLogo75 }}{% endif %}" width="75"/>
	                </div>
	                <div class="top_desc">
	                	<dl>
	                		<dt>暱稱</dt>
	                		<dd>{{ volunteer.nickname|escape }} </dd>
	                		<dt>地區</dt>
	                		<dd>{{ volunteer.region|escape }}</dd>
	                		<dt>專長</dt>
	                		<dd>{{ volunteer.showExpertise|escape }}</dd>
	                	</dl>
	                	<div class="more_info">
	                    	<a href="/volunteer/home/{{ volunteer.key }}">詳細資料</a>
	                   	</div>
	                </div> 
			{% else %}
			沒有任何志工
			{% endif %}
	            </div>
	        </div>
	        <div class="top_block">
	            <div class="top_title">
	                <span class="page_title">公益團體</span>
	                <a href="/npo/" class="more_link">More</a>
	            </div>
	            <div class="top_body">
			{% if npo %}
	                <div class="top_icon">
	                    <img class="img75" src="{% if npo.logo %}{{ npo.logo }}{% else %}{{ base.noNpoLogo75 }}{% endif %}" width="75"/>
	                </div>
	                <div class="top_desc">
	                	<dl>
	                		<dt>名稱</dt>
	                		<dd>{{ npo.name|escape }}</dd>
	                		<dt>簡介</dt>
	                		<dd>{{ npo.description|escape }}</dd>
	                	</dl>
	                	<div class="more_info">
	                    	<a href="/npo/npo_home.html?npo_id={{ npo.npo_id }}">詳細資料</a>
	                    </div>
	                </div> 
			{% else %}
			沒有任何公益團體
			{% endif %}
	            </div>
	        </div>
        </div>
    </div> 
    <div class="clear_float"></div>  
    <div id="Body_Btm">
        <div class="top_title">
            <span class="page_title">公益活動</span>
            <a href="/event/" class="more_link">More</a>
        </div>
        <ul class="top_activities">
	    {% if eventList %}
        	{% for event in eventList %}
            <li class="with_sep_line">
                <h2><a href="/event/viewEvent?id={{ event.eventKey }}">{{ event.name|escape }}</a></h2>
                <p><a href="/npo/npo_home.html?npo_id={{ event.npo_id }}">{{ event.npoName|escape }}</a></p>
                <p>{{ event.startTime|escape }}</p>
                <p>{{ event.region|escape }}</p>
                <p class="act_desc">{{ event.description|escape }}</p>
                <span class="more_info">
                	<a href="/event/viewEvent?id={{ event.eventKey }}">詳細資料</a>
                </span>
            </li>
            {% endfor %}
	    {% else %}
	    沒有任何公益活動
	    {% endif %}

        </ul>
    </div> 
{% endblock mainContent %}
