{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/register.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/homepage.css" rel="stylesheet" type="text/css" />
	
	{% block registerExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
		<!-- block registerExtraHeader here -->
	{% endblock registerExtraHeader %}

{% endblock extraHeader %}

{### splashPage ###}

{### content ###}

{% block mainContent %}
    <div id="Body_Top">
        <div id="Main_Image">
            <img src="/static/images/main_image.jpg" />
        </div>
        <div id="Body_Top_Right">
        	<div class="top_block">
	            <div class="top_title">
	                <span class="page_title">志工臉譜</span>
	                <a href="/volunteer/" class="more_link">More</a>
	            </div>
	            <div class="top_body">
	                <div class="top_icon">
	                	<img class="img75" src="{% if volunteer.logo %}{{ volunteer.logo }}{% else %}{{ base.noLogo }}{% endif %}" width="75"/>
	                </div>
	                <div class="top_desc">
	                	<dl>
	                		<dt>姓名</dt>
	                		<dd>{{ volunteer.name }} </dd>
	                		<dt>地區</dt>
	                		<dd>{{ volunteer.region }}</dd>
	                		<dt>專長</dt>
	                		<dd>{{ volunteer.expertise }}</dd>
	                	</dl>
	                	<div class="more_info">
	                    	<a href="/volunteer/home/?volunteer_id={{ volunteer.volunteer_id }}">詳細資料</a>
	                   	</div>
	                </div> 
	            </div>
	        </div>
	        <div class="top_block">
	            <div class="top_title">
	                <span class="page_title">公益團體</span>
	                <a href="/npo/" class="more_link">More</a>
	            </div>
	            <div class="top_body">
	                <div class="top_icon">
	                    <img class="img75" src="{% if npo.logo %}{{ npo.logo }}{% else %}{{ base.noLogo }}{% endif %}" width="75"/>
	                </div>
	                <div class="top_desc">
	                	<dl>
	                		<dt>名稱</dt>
	                		<dd>{{ npo.name }}</dd>
	                		<dt>簡介</dt>
	                		<dd>{{ npo.description }}</dd>
	                	</dl>
	                	<div class="more_info">
	                    	<a href="#">詳細資料</a>
	                    </div>
	                </div> 
	            </div>
	        </div>
        </div>
    </div> 
    <div class="clear_float"></div>  
    <div id="Body_Btm">
        <div class="top_title">
            <span class="page_title">公益活動</span>
            <a href="/event/" class="more_link">More</a>
        </div>
        <ul class="top_activities">
        	{% for event in eventList %}
            <li class="with_sep_line">
                <h2>{{ event.name }}</h2>
                <p>{{ event.npoName }}</p>
                <p>{{ event.startTime }}</p>
                <p>{{ event.region }}</p>
                <p class="act_desc">{{ event.description }} <a href="/event/viewEvent?id={{ event.eventKey }}">...</a></p>
            </li>
            {% endfor %}
        </ul>
    </div> 
{% endblock mainContent %}
