<!--
				<span id="site-logo">
		            <a href="/"><img src="/static/images/site-logo.png" /></a>
	            </span>-->
       			<span id="search-container">
       				<div id="search-tags">
					<ul>
						<li><span id="search-label">搜尋</span></li>
						<li><a href="#search-volunteer"><span>志工</span></a></li>
						<li><a href="#search-npo"><span>公益團體</span></a></li>
						<li><a href="#search-event"><span>活動</span></a></li>
					</ul>
					</div>

					<div id="search-content">
					<div id="search-volunteer">
	    	            <form action="/volunteer/search/" method="GET">
            	        	<div id="search-bar">
								<label for="region">居住地:</label>
								<select name="region">
									<option value="">任何地區</option>
									{% for region in base.resident %}
									<option value="{{ region }}"{% ifequal searchVal.searchRegion region %} selected="selected"{% endifequal %}>{{ region }}</option>
									{% endfor %}
								</select>
								<label for="expertise">專長:</label>
								<select name="expertise">
									<option value="">任何專長</option>
									{% for expertise in base.proflist %}
									<option value="{{ expertise }}"{% ifequal searchVal.searchExpertise expertise %} selected="selected"{% endifequal %}>{{ expertise }}</option>
									{% endfor %}
								</select>
								<input type="submit" value="搜尋" />
								<!-- <a>進階搜尋</a> -->
							</div>
						</form>
					</div>
				
					<div id="search-npo">
	            	    <form action="/npo/search/" method="GET">
							<div id="search-bar">
								<label for="region">服務地區:</label>
								<select name="region">
									<option value="">任何地區</option>
									{% for region in base.region %}
									<option value="{{ region }}"{% ifequal searchVal.searchRegion region %} selected="selected"{% endifequal %}>{{ region }}</option>
									{% endfor %}
								</select>
								<input type="submit" value="搜尋" />
							</div>
						</form>
					</div>
					<div id="search-event">
                    	<div id="search-bar">
							TBD
						</div>
					</div>
					
					
					
					</div>	<!-- search-content -->
				</span> <!-- search-container -->
