* {
	
}

/* elements */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 940px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

ul.horizontal-menu {
	list-style: none;
	padding-left: 0px;
}

ul.horizontal-menu li {
	display: inline;
	line-height: 20px;
	vertical-align:top;
}

ul.top-horizontal-menu {
	list-style: none;
	padding-left: 0px;
}

ul.top-horizontal-menu li {
	float: left;
	line-height: 20px;
	margin-right:0.73em;
	vertical-align:top;
}

ul.search-choice-menu {
	list-style: none;
	padding-left: 0px;
}

ul.search-choice-menu li {
	display: inline;
	padding-right: 8px;
	padding-left: 0px;
}

ul.search-choice-menu input {
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

dl {
}

dt {
	color: #999;
	margin-right: 5px;
	float: left;
}

dd {
	margin-bottom: 3px;
}

h6 {
	font-weight: bold;
	padding: 5px 0;
}
/* header */
.header {
#	height: 100px;
}

.header:after {
	content: '.';
	visibility: hidden;
	clear: both;
}

.header-bar {
	height: 25px;
	font-size: 13px;
	border-bottom: 1px solid #C9D7F1;
}

#header-links {
	float: left;
	width: 400px;
	padding-top: 2px;
	padding-left: 10px;
}
#login-box {
	float: right;
	text-align: right;
	padding-top: 2px;
	width: auto;
}

#site-logo {
	float: left;
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 0px;
}

#site-title {
	padding-top: 30px;
	font-size: 12px;
	font-weight: normal;
}

/* splashbox_search */

#search-container {
	text-align: center;
	width: 430px;
	height: 60px;
	padding-top: 5px;
	padding-left: 3px;
	position: relative;
	left: 30%;
}

#search-site-mark {
	float: left;
	width: 100px;
	text-align: right;
}

#search {
	float: right;
	width: 320px;
	text-align: left;
	vertical-align: bottom;
	position: relative;
	height: 40px;
	top: 17px;
}

#search-site-mark
{
}

#search-site-title
{
}

#search-bar
{
	height: 2em;
}

#search-choices
{
}


/* non-footer */

#nonfooter {
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
}

/* main content */

.main-content {
	margin-left: 10px;
}

.main-content h2 {
	color: #F60;
	font-size: 18px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

#page-title {
	font-weight: bold;
	color: #F60;
	font-size: 16px;
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

.tip {
	font-size: 12px;
	padding-bottom: 5px;
}

.red {
	color: #F00
}

.right {
	float: right;
}

.main-content p {
	padding-bottom: 5px;
}

.main-content ul {
	list-style: disc;
	padding-left: 15px;
}

.main-content ul li {
	padding-bottom: 5px;
}

.subitems {
	padding: 5px;
}

.block-caption {
	background: url(/static/images/block-caption.png) repeat-x;
	padding-bottom: 5px;
}

.block-caption span.caption {
	background: #fff;
	padding-right: 10px;
	font-weight: bold;
}

.top-dot-line {
	border-top: 1px dotted #000;
	padding-top: 5px;
}

.content-block {
	padding: 10px 0;
}

.content-block .right-links {
	float: right;
}

.form-table th {
	text-align: right;
}

.people {
	padding-right: 0;
	clear: both;
}

.people .row {
	overflow: hidden;
	padding-bottom: 10px;
}

.people .person {
	float: left;
	overflow: hidden;
	width: 60px;
	text-align: center;
}

.people .person a {
	display: block;
	padding-right: 5px;
}

/* topbar */
div.topbar {
	border-bottom: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-top: 10px;
}

div.topbar ul {
	text-align: right;
	margin-right: 20px;

}

div.topbar li:first-child {
	list-style-position: inside;
	list-style-type: none;
	display: inline;
	padding: 3px 8px 3px;
	border: 1px solid #333333;
	background-color: #ACE7F9;
}

div.topbar li {
	list-style-position: inside;
	list-style-type: none;
	display: inline;
	padding: 3px 8px 3px;
	background-color: #ACE7F9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}

/* footer */

.footer {
	clear: both;
	border-top: 1px solid #C9D7F1;
	padding-top: 2px;
	position: relative;
	margin-top: 15px;
	width: 100%;
}

.bold {
	font-weight: bold;
}

#footer-menu {
	text-align: center;
	height: 20px;
}

#copyright {
	text-align: center;
}