.left-column-container {
	width: 760px;
	padding-right: 180px;
	overflow: visible !important;
	margin: 0;
	height: 0;
	clear: both;
}

.left-column {
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
	display: block;
	position: relative;
	text-align: center;
}

.right-column-container {
	width: 940px;
	padding: 0;
	margin: 0;
}

.right-column {
	width: 740px;
	float: right;
}
