{% extends "volunteer/base.html" %}

{### header ###}

{% block profileExtraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block profileExtraHeader here -->
{% endblock profileExtraHeader %}

{### content ###}

{% block profileContent %}

					<div class="two-column-content-block">
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">基本資料</span>
							</div>
							<dl class="info-block">
								<dt>姓名</dt>
								<dd>Tom Chen</dd>
								<dt>生日</dt>
								<dd>1983年11月28日</dd>
								<dt>性別</dt>
								<dd>男</dd>
								<dt>所在地</dt>
								<dd>台北市</dd>
								<dt>關鍵字</dt>
								<dd>關鍵字1,關鍵字2,關鍵字3</dd>
							</dl>
					    	<div class="right-links">
					    		<a href="#">檢視完整基本資料</a>
					    	</div>
						</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的照片</span>
							</div>
							<div class="photo-block clearfix">
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
								<div class="photo-item"><a href="#"><img width="75" src="/static/images/maki.png"/></a></div>
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的影音</span>
							</div>
							<div class="video-block">
								<div class="video-item">
									<div class="video-content">
										<img src="/static/images/u77.png"/>
									</div>
								</div>
							</div>
					    	<div class="right-links">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">我的部落格</span>
							</div>
							<div class="article-block">
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
								<div class="article-item">
									<div class="article-author-img">
										<a href="#"><img width="55" src="/static/images/maki.png"/></a>
									</div>
									<div class="article-info">
										<div class="article-title">歡喜做、甘願受</div>
										<div class="article-date">2008 年 9 月 3 日</div>
									</div>
								</div>
							</div>
					    	<div class="right-links clearfix">
					    		<a href="#">看更多</a>
					    	</div>
				    	</div>
					</div>
					<div class="two-column-content-block">
						<!--
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">公益足跡</span>
							</div>
							<dl class="portofolio-block">
								<dt>參加公益活動的次數</dt>
								<dd>1234</dd>
								<dt>參加公益活動的小時</dt>
								<dd>9527</dd>
								<dt>參與度(出席次數)</dt>
								<dd>2468</dd>
							</dl>
					    	<div class="right-links">
					    		<a href="#">檢視完整公益履歷</a>
					    	</div>
				    	</div>
				    	-->
				    	<div class="content-block">
							<div class="block-caption">
								<span class="caption">加入的NPO</span>
							</div>
							<div class="npo-block">
								<div class="npo-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="npo-info">
									<div class="npo-title"><a href="#">中華民國紅十字會</a></div>
									<div class="npo-desc">中華民國紅十字會總會</div>
									<div class="npo-members">共有 7,123 名會員</div>
									<div class="npo-upcoming-activities">
										<div class="npo-upcoming-activities-label">接下來的活動:</div>
										<div class="npo-upcoming-activity">
											<div class="title upcoming-title"><a href="#">台大捐血</a></div>
											<div class="date">即將進行, 還有 3 天 (11 月 8 日)...</div>
										</div>
										<div class="npo-upcoming-activity">
											<div class="title"><a href="#">柏大尼育幼院耶誕活動</a></div>
											<div class="date">12 月 1 日</div>
										</div>
									</div>
								</div>
							</div>
							<div class="npo-block top-line">
								<div class="npo-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="npo-info">
									<div class="npo-title"><a href="#">中華民國紅十字會</a></div>
									<div class="npo-desc">中華民國紅十字會總會</div>
									<div class="npo-members">共有 7,123 名會員</div>
									<div class="npo-upcoming-activities">
										<div class="npo-upcoming-activities-label">接下來的活動:</div>
										<div class="npo-upcoming-activity">
											<div class="title upcoming-title"><a href="#">台大捐血</a></div>
											<div class="date">即將進行, 還有 3 天 (11 月 8 日)...</div>
										</div>
										<div class="npo-upcoming-activity">
											<div class="title"><a href="#">柏大尼育幼院耶誕活動</a></div>
											<div class="date">12 月 1 日</div>
										</div>
									</div>
								</div>
							</div>
					    	<div class="right-links">
					    		<a href="#">檢視所有加入NPO</a>
					    	</div>
				    	</div>
					</div>
{% endblock %}
