{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	{### this block can put additional css / script definition to head tag ###}
	<!-- block extraHeader here -->
	
{% endblock extraHeader %}

{### content ###}

{% block mainContent %}

			    	<div class="content-block">
				    	<h3 id="page-title">志工列表</h3>
				    	<div class="list-title">共有48位志工, 顯示第 1 至 10 位</div>
						<div class="right-links">
							<div class="pager">
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">下一頁</a>
							</div>
						</div>
						<div class="volunteer-list">
							<div class="volunteer-item">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>
							<div class="volunteer-item top-line">
								<div class="volunteer-image">
									<a href="#"><img width="55" src="/static/images/maki.png"/></a>
								</div>
								<div class="volunteer-info">
									<div class="volunteer-title"><a href="#">Maki</a></div>
								</div>
								<div class="volunteer-stats">
									<div class="volunteer-location"><b>所在位置: </b>台北市</div>
									<div class="volunteer-expertises">
									    <div class="volunteer-title">專長: </div>
									    琴棋書畫, 五藝精通, ...
									</div>
								</div>
								<div class="volunteer-npos-title volunteer-title">所屬群組: </div>
								<div class="volunteer-npos">
								    <div class="volunteer-npo-item">
									<a href="#">扶輪青年服務團</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">中華民國紅十字會</a>
								    </div>
								    <div class="volunteer-npo-item">
									<a href="#">趨勢科技志工團</a>
								    </div>
								    <div class="volunteer-npo-more">
									... (<a href="#">共 5 個群組</a>)
								    </div>
								</div>
								<div class="volunteer-list-actions">
								    <!--   <a href="#">加入好友</a> -->
								    <a href="#">檢視檔案</a>
								</div>
							</div>

						</div>
						<div class="right-links">
							<div class="pager">
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">下一頁</a>
							</div>
						</div>
					</div>
{% endblock %}
