{% extends "event/base.html" %}

{### header ###}


{### content ###}

{% block activityContent %}

<SCRIPT language="JavaScript">  
  
  function submitForm(url)
  { 
    disableButton(document.myForm);
 	document.myForm.action = url; 
  	document.myForm.submit(); 
  	
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
  </SCRIPT>



	<div id="activity-info">
		{% include "event/event-info-header.html" %}
		{% include "event/event-info-basic.html" %}
		<div class="activity-info-content">
			<div class="content-block" id="activity-apply-block">
				<h6>請問是否加入此活動?</h6>
            <form  method="POST" name="myForm" action="">
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="button" value="是" name="btnYes" onClick="submitForm('applyYes');">
				<input type="button" value="否" name="btnNo" onClick="submitForm('applyNo');">
            </form>
			</div> <!-- .content-block -->
		</div> <!-- .activity-info-content -->
	</div> <!-- #activity-info -->

{% endblock activityContent %}
