{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}

	<div class="activity-lists">
		<div id="new-activities">
			<div class="block-caption">
				<span class="caption">新進活動</span>
			</div>
			{% for event in event1 %}

			<div class="activity-info-item">
				<p><a href="viewEvent?id={{event.event_key|escape }}" class="activity-title">{{ event.event_name|escape  }}</a> 
					<span class="info-desc">{{ event.originator|escape  }} 於 {{ event.create_time|escape }} 發起</span></p>

				<dl>
					<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
					<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
					<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
				</dl>
			</div>
      {% endfor %}

			
			
		</div> <!-- #new-activities -->
		<div id="closing-activities">

			<div class="block-caption">
				<span class="caption">即將額滿</span>
			</div>
			
			{% for event in event2 %}
			<div class="lack-people-block">
				<span class="lack">缺</span>
				<div class="block number">{{ event.lackpeople|escape }}</div>
				<div class="block">人</div>

			</div>
			<div class="activity-info-item with-lack-people-num">
				<p><a href="viewEvent?id={{event.event_key|escape }}" class="activity-title">{{ event.event_name|escape }}</a> 
					<span class="info-desc">{{ event.originator|escape }} 於 {{ event.create_time|escape }} 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>{{ event.start_time|escape }}</dd>
					<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
					<dt>活動說明:</dt><dd>{{ event.description|escape  }}</dd>
				</dl>
			</div>
			{% endfor %}



		</div> <!-- #closing-activities -->
	</div> <!-- .activity-lists -->
	<div class="activity-lists">
		<div id="completed-activities">
			<div class="block-caption">
				<span class="caption">已完成</span>
			</div>

			{% for event in event3 %}
			<div class="activity-info-item">
				<p><a href="viewEvent?id={{event.event_key|escape }}" class="activity-title">{{ event.event_name|escape  }}</a> 
					<span class="info-desc">{{ event.originator|escape  }} 於 {{ event.create_time|escape  }} 發起</span></p>
				<dl>
					<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
					<dt>活動地點:</dt><dd>{{ event.event_region|escape  }}</dd>
					<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
				</dl>
			</div>
			{% endfor %}
		</div> <!-- #completed-activities -->
	</div> <!-- .activity-lists -->
	<div id="activity-calendar">
	</div>
{% endblock activityContent %}
