{% extends "event/base.html" %}

{### header ###}
{### content ###}

{% block activityContent %}
    <h3 id="page-title">活動列表</h3>
    <div class="activity-lists">
        <div id="new-activities">
            <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <h3>新進活動</h3>
                </div>
                
	            <div class="content">
		            {% for event in event1 %}
		            <div class="activity-info-item">
		            	<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape  }}</a></h3>
		            	<div class="info-desc">{{ event.originator|escape  }} 於 {{ event.create_time|escape }} 發起</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
						</dl>
					</div>
		            {% endfor %}
	            </div>
			</div>
		</div> <!-- #new-activities -->
		
		<div id="closing-activities">
		    <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <h3>即將額滿</h3>
                </div>
			
			    <div class="content">
					{% for event in event2 %}
					<div class="lack-people-block">
						<span class="lack">缺</span>
						<div class="block number">{{ event.lackpeople|escape }}</div>
						<div class="block">人</div>
		
					</div>
					<div class="activity-info-item with-lack-people-num">
						<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape }}</a></h3> 
						<div class="info-desc">{{ event.originator|escape }} 於 {{ event.create_time|escape }} 發起</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape  }}</dd>
						</dl>
					</div>
					{% endfor %}
				</div>
			</div>
		</div> <!-- #closing-activities -->
	</div> <!-- .activity-lists -->
	
	
	<div class="activity-lists">
		<div id="completed-activities">
		    <div class="content-block">
                <div class="title">
                    <img src="/static/images/titlebar-left.jpg" class="left" />
                    <img src="/static/images/titlebar-right.jpg" class="right" />
                    <h3>已完成</h3>
                </div>

                <div class="content">
					{% for event in event3 %}
					<div class="activity-info-item">
						<h3><a href="viewEvent?id={{event.event_key|escape }}">{{ event.event_name|escape  }}</a></h3>
						<div class="info-desc">{{ event.originator|escape  }} 於 {{ event.create_time|escape  }} 發起</div>
						<dl>
							<dt>活動時間:</dt><dd>{{ event.start_time|escape  }}</dd>
							<dt>活動地點:</dt><dd>{{ event.event_region|escape  }}</dd>
							<dt>活動說明:</dt><dd>{{ event.description|escape }}</dd>
						</dl>
					</div>
					{% endfor %}
				</div>
			</div>
		</div> <!-- #completed-activities -->
	</div> <!-- .activity-lists -->
	<div id="activity-calendar">
	</div>
{% endblock activityContent %}
