    <div class="activity-info-content">
        <div class="content-block">
            <div class="title">
				<img src="/static/images/titlebar-left.jpg" class="left">
				<img src="/static/images/titlebar-right.jpg" class="right">
				<h3>基本資訊</h3>
			</div>
			<div class="content">
				<dl>
					<dt>活動名稱:</dt>
	        <dd>{{event.event_name|escape}}</dd>
					<dt>活動編號:</dt>
					<dd>{{event.event_id|escape}}</dd>
	        <dt>發起人/群組:</dt>
					<dd>{{event.npo_profile_ref.npo_name|escape}}</dd>
					<dt>活動描述:</dt>
	        <dd>{{event.description|escape}}</dd>
					<dt>活動類型:</dt>
					<dd>{{event.category|escape}}</dd>
          <dt>活動的開始/結束時間:</dt>
          <dd>{{event.start_time|date:"Y-m-d H:i"|escape}}&nbsp;~&nbsp;{{event.end_time|date:"Y-m-d H:i"|escape}}</dd>
          <dt>登記的開始/結束時間:</dt>
          <dd>{{event.reg_start_time|date:"Y-m-d H:i"|escape}}&nbsp;~&nbsp;{{event.reg_end_time|date:"Y-m-d H:i"|escape}}</dd>

					<dt>活動地區:</dt>
					<dd>{% for item in event.event_region%}{{item|escape}}{% endfor %}</dd>
					<dt>公益時數:</dt>
					<dd>{{event.event_hours|escape}} 小時</dd>
					<dt>服務對象:</dt>
					<dd>{% for item in event.event_target%}{{item|escape}}{% endfor %}</dd>
					<dt>活動目的:</dt>
					<dd>{{event.objective|escape}}</dd>


          <dt>報名費用:</dt>
          <dd>新台幣 {{event.registration_fee|escape}} 元整</dd>
          <dt>已報名人數/通過審核人數</dt>
          <dd>{{event.registered_count|escape}} / {{event.approved_count|escape}}</dd>
          <dt>尚欠人數:</dt>
          <dd>{{needed|escape}}</dd>
          <dt>年齡限制:</dt>
          <dd>{{event.min_age|escape}}歲至{{event.max_age|escape}}歲</dd>
          <dt>性別限制:</dt>
          {% ifequal event.sex "Both"%}
          	<dd>無</dd>
          {% else %}
	        	{% ifequal event.sex "Male"%}
	        		<dd>男</dd>
	        	{% else %}
	        		<dd>女</dd>
	          {% endifequal %}
          {% endifequal %}
          <dt>活動所需專長:</dt>
          {% if event.expertise_req %}
          	<dd>{% for item in event.expertise_req%}{{item|escape}}{% endfor %}</dd>
          {% else %}
          	<dd>無</dd>
          {% endif %}
				</dl>
			</div>
		</div> <!-- .content-block -->
	</div> <!-- .activity-info-content -->
