{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
{% block npoExtraHeader %}

{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}

<script type="text/javascript">

function setButtonsEnabled() 
{
	$('#move-all-to-approved').attr('disabled', (0 == $('#pool option:not(.default)').length) ? true : false);
	$('#move-to-approved').attr('disabled', (0 == $('#pool option:selected').length) ? true : false);
	$('#move-all-to-pool').attr('disabled', (0 == $('#approved option:not(.default)').length) ? true : false);
	$('#move-to-pool').attr('disabled', (0 == $('#approved option:selected').length) ? true : false);
}

function checkIfSelectIsEmpty()
{
	$('#approved, #pool').each(function(){
		$(this).children('option.default').remove();
		if (0 == $(this).children('option').length) {
			$(this).append('<option value="none" class="default" disabled="true">('
				+(('approved' == $(this).attr('id')) ? '目前沒有人通過' : '目前沒有人等待審核')+')</option>');
		}
	});
	setButtonsEnabled();
}

function moveToApproved(moveAll)
{
	if (moveAll) {
		$('#pool option').attr('selected', 'true');
	}
	$('#approved').append($('#pool option:selected').remove());
	checkIfSelectIsEmpty();
}

function moveToPool(moveAll)
{
	if (moveAll) {
		$('#approved option').attr('selected', 'true');
	}
	$('#pool').append($('#approved option:selected').remove());
	checkIfSelectIsEmpty();
}

// onload function
$(function() {
	checkIfSelectIsEmpty();
});

function submitForm(url)
  { 
    disableButton(document.myForm);
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}

</script>

	<div id="activity-cancel">
		<h3 id="page-title">志工審核</h3>
		<form class="flow-form" method="POST" name="myForm" action="">
			<ul>
				<li class="section first">
					<h3>請選擇參與[{{event.event_name}}]活動的志工</h3>
				</li>
				
				<li>
					<span class="column">
						<select multiple id="pool" name="pool" class="select" size="8" onchange="javascript:setButtonsEnabled();">
							{% for vol in lstVolunteer %}
							<option value="{{vol.dbKey}}">
								{{vol.volunteer_last_name|escape}}{{vol.volunteer_first_name|escape}}|{% ifequal vol.sex "Male"%}男{% else %}女{% endifequal %}|{{vol.age}}|{{vol.resident_city|escape}}|{{vol.expertiseSum|escape}}
							</option>
							{% endfor %}
						</select>
						<label>
							等待審核
						</label>
					</span>
					
					<span class="column align-center">
						<div class="column">
							<input type="button" id="move-all-to-approved" value="全部通過 &raquo;" onclick="javascript:moveToApproved(true);"/>
						</div>
						
						<div class="column">
							<input type="button" id="move-to-approved" value="移至審核通過 &gt;" onclick="javascript:moveToApproved(false);"/>
						</div>
							
						<div class="column">
							<input type="button" id="move-to-pool" value="&lt; 移至等待審核" onclick="javascript:moveToPool(false);"/>
						</div>
						
						<div class="column">
							<input type="button" id="move-all-to-pool" value="&laquo; 全部刪除" onclick="javascript:moveToPool(true);"/>
						</div>
					</span>
					
					<span class="column">
						<select multiple id="approved" name="approved" class="select" size="8" onchange="javascript:setButtonsEnabled();">
							{% for vol in lstApproved %}
							<option value="{{vol.dbKey}}" DISABLED>
								{{vol.volunteer_last_name|escape}}{{vol.volunteer_first_name|escape}} 
								({% ifequal vol.sex "Male"%}男{% else %}女{% endifequal %},{{vol.age}})
							</option>
							{% endfor %}
						</select>
						<label>
							已經審核通過
						</label>
					</span>
				</li>
				
				<li class="section buttons">
					<input type="hidden" name="event_key" value="{{event_key}}"/>
					<input type="button" class="btTxt" value="確定送出" name="btnSubmit" onClick="submitForm('approveVolunteer');">
					<input type="button" class="btTxt" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';">	
				</li>
			</ul>
		</form>
		
	</div> <!-- #activity-cancel -->

{% endblock npoContent %}
