{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
{% block npoExtraHeader %}

<link href="/static/css/jquery-ui/ui.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/clockpick.1.2.5.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.clockpick.1.2.5.min.js"></script>
<script type="text/javascript" src="{{ base.jQueryUI_URI }}"></script>

{% endblock npoExtraHeader %}


{### content ###}

{% block npoContent %}
<SCRIPT language="JavaScript">  
// onload function
$(document).ready(function() {
	$('#mainForm :text').addClass('text');
	$('#mainForm :textarea').addClass('textarea');
	$('#mainForm :select').addClass('select');

	$('.datePicker').datepicker({
			showOn: 'both', 
			buttonImage: '/static/images/jquery-ui/calendar.gif', 
			buttonImageOnly: true,
			dateFormat: 'yy-mm-dd',
			minDate: 1,
			monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			dayNamesMin: ['日', '一', '二', '三', '四', '五', '六']
	});

	$('.timePicker').clockpick({
		starthour : 0,
		endhour : 23,
		showminutes : true,
		military : true
	});
});


function submitForm(url , submitType)
  { 
    disableButton(document.myForm);
    document.myForm.submitType.value = submitType
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  	
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
</SCRIPT>

	<h3 id="page-title">編輯活動</h3>
	
	<form method="POST" name="myForm" id="mainForm" action="" class="flow-form">
		<!--webbot bot="SaveResults" U-File="E:\Project\flow\documents\wf\KJ\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
		修改活動項目<br>
		<br>
		<font color="#FF0000">*</font>為必填欄位<br>
		<br>
		<table border="0" width="75%" cellspacing="0" cellpadding="0" id="table4">
			<tr>		  		
				<td width="120">活動名稱
					{% if form.event_name.field.required %}<span class="req">*</span>{% endif %}
				</td>
				<td>{{ form.event_name }} 
				{% if form.event_name.errors %}    
        {% for error in form.event_name.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}
        </td>
			</tr>
		  <tr>		  		
				<td>活動描述{% if form.description.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.description }} 
				{% if form.description.errors %}    
        {% for error in form.description.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}
        </td>
			</tr>
			<tr>
				<td>活動開始時間{% if form.start_time.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.start_time }} 
				{% if form.start_time.errors %}    
        {% for error in form.start_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>
      <tr>
        <td>活動結束時間{% if form.end_time.field.required %}<span class="req">*</span>{% endif %}</td>
        <td>{{ form.end_time }} 
				{% if form.end_time.errors %}    
        {% for error in form.end_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動登記開始時間{% if form.reg_start_time.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.reg_start_time }} 
				{% if form.reg_start_time.errors %}    
        {% for error in form.reg_start_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>
      <tr>
				<td>活動登記結束時間{% if form.reg_end_time.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.reg_end_time }} 
				{% if form.reg_end_time.errors %}    
        {% for error in form.reg_end_time.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td> 
      </tr>			
			<tr>
				<td>地點{% if form.event_region.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.event_region }} 
				{% if form.event_region.errors %}    
        {% for error in form.event_region.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>涵蓋地區郵遞區號{% if form.event_zip.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.event_zip }} 
				{% if form.event_zip.errors %}    
        {% for error in form.event_zip.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>志工服務{% if form.event_hours.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.event_hours }}小時           
				{% if form.event_hours.errors %}    
        {% for error in form.event_hours.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>服務對象{% if form.event_target.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.event_target }} 
				{% if form.event_target.errors %}    
        {% for error in form.event_target.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動目的{% if form.objective.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.objective }} 
				{% if form.objective.errors %}    
        {% for error in form.objective.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動內容</font></td>
				<td>{{ form.summary }} 
				{% if form.summary.errors %}    
        {% for error in form.summary.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</textarea></td>
			</tr>
			<tr>
				<td>活動所屬的領域{% if form.event_field.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.event_field }} 
				{% if form.event_field.errors %}    
        {% for error in form.event_field.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動種類{% if form.category.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.category }} 
				{% if form.category.errors %}    
        {% for error in form.category.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>費用金額{% if form.expense.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>新台幣{{ form.expense }} 
				元 {% if form.expense.errors %}    
        {% for error in form.expense.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>報名費{% if form.registration_fee.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>新台幣{{ form.registration_fee }} 
				元 {% if form.registration_fee.errors %}    
        {% for error in form.registration_fee.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>	
			<tr>
				<td>活動企劃書位址{% if form.attachment_links_show.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.attachment_links_show }} 
				{% if form.attachment_links_show.errors %}    
        {% for error in form.attachment_links_show.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>標籤(關鍵字){% if form.tag.field.required %}<span class="req">*</span>{% endif %}</font></td>
				<td>{{ form.tag }} 
				{% if form.tag.errors %}    
        {% for error in form.tag.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>		
			<tr>
				<td>是否參與若水公益創新計畫{% if form.join_flow_plan.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.join_flow_plan }}  
				{% if form.join_flow_plan.errors %}    
        {% for error in form.join_flow_plan.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>			
		</table>		
		  <br>
		  <hr>
		  志工條件<br>	　
		  <br>			  
		<table border="0" width="75%" cellspacing="4" cellpadding="0" id="table1">	  
			<tr>
				<td>性別{% if form.sex.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.sex }}  
				{% if form.sex.errors %}    
        {% for error in form.sex.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>年齡限制{% if form.max_age.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.min_age }}歲
				{% if form.min_age.errors %}    
        {% for error in form.min_age.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}
        至 {{ form.max_age }}歲
				{% if form.max_age.errors %}    
        {% for error in form.max_age.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動所需志工總人數{% if form.volunteer_req.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.volunteer_req }}  
				{% if form.volunteer_req.errors %}    
        {% for error in form.volunteer_req.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
			<tr>
				<td>活動所需專長{% if form.expertise_req.field.required %}<span class="req">*</span>{% endif %}</td>
				<td>{{ form.expertise_req }}  
				{% if form.expertise_req.errors %}    
        {% for error in form.expertise_req.errors %}
        <font color="#FF0000">{{ error|escape }}</font>
        {% endfor %}
        {% endif %}</td>
			</tr>
		</table>
    <hr>
    <!--
		QA<input type="button" value="新增" name="btnNewQA"><br>
	　<table border="1" width="100%" cellspacing="0" cellpadding="0" id="table6">
			<tr>
				<td>編號</td>
				<td>問題</td>
				<td>答案</td>
				<td>　</td>
			</tr>
			<tr>
				<td>1</td>
				<td>怎樣的條件才夠合格</td>
				<td>都可以</td>
				<td><input type="button" value="修改" name="btnQAUpdate"><input type="button" value="刪除" name="btnQADelete"><input type="button" value="公佈" name="btnQAPublish"></td>
			</tr>
		</table>
		-->
		<p>
		<input type="hidden" name="submitType" value="">
		<input type="hidden" name="event_key" value="{{ event_key }}">
		<p><input type="button" value="送審" name="btnSubmit" onClick="submitForm('editEvent','send');">
			<input type="button" value="暫存" name="btnSave" onClick="submitForm('editEvent','save');">
			<input type="button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';"><br>
		</p>
	</form>

{% endblock npoContent %}
