{### % extends "event/base.html" % ###}
{% extends "npo/admin_base.html" %}

{### header ###}
{% block npoExtraHeader %}

{% endblock npoExtraHeader %}

{### content ###}

{% block npoContent %}
<SCRIPT language="JavaScript">  
function submitForm(url)
  { 
    disableButton(document.myForm);
  	document.myForm.action = url; 
  	document.myForm.submit(); 
  } 
function disableButton(form) {
  if (document.getElementById) {
   for (var i = 0; i < form.length; i++) {
     if (form.elements[i].type.toLowerCase() == "button")
       form.elements[i].disabled = true;
     }
  }
  return true;
}
</SCRIPT>
	<h3 id="page-title">手機驗證</h3>
	<form class="flow-form" action="" name="myForm" method="POST">
		<ul>
			<li class="section first">
				<div>您的活動基本資料已經儲存成功，按下[下一步]按鈕之後，系統將會發出一通含有驗證碼的簡訊至您的手機。</div>
			</li>
			<li>
				<label class="desc">	
				請輸入手機號碼:
				</label>
					<input id="phone_number" class="field text" name="phone_number" value="{{phone_number|escape}}" maxlength="10" size="12" />
			{% if alertMsg %}
			<font color="#FF0000">{{ alertMsg|escape }}</font>
			{% endif %}
			</li>
			<li class="buttons section">
				<input type="hidden" name="event_key" value="{{ event_key|escape }}">
				<input class="btTxt" type="button" value="下一步" name="btnSubmit" onClick="submitForm('authEvent2');"/>
				<input type="button" value="取消" name="btnCancel" onClick="disableButton(document.myForm);window.location.href='listEvent';"><br>
			</li>
		</ul>
	</form>
	

{% endblock npoContent %}
