<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}若水志工媒合平台</title>
<link href="/static/css/global2.css" rel="stylesheet" type="text/css" />
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />
{% if not nojQuery %}
<script type="text/javascript" src="{{ base.jQueryURI }}"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/index.js" ></script> 
{% endif %}

{% block extraHeader %}
	{### this block can be replaced by children template with css / script definition ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

</head>
<body>
<div id="Search_Wrap" style="display: none;">
    <div id="Search_Body">
        <div id="Search_Type">
            <a href="javascript:;" class="types selected" onclick="jsSwitchType('Activity');" id="Type_Activity"><span>活動</span></a>
            <a href="javascript:;" class="types type" onclick="jsSwitchType('Volunteer');" id="Type_Volunteer"><span>志工</span></a>
            <a href="javascript:;" class="types type" onclick="jsSwitchType('Group');" id="Type_Group"><span>公益團體</span></a>
            <a href="javascript:;" class="close" onclick="jsCloseSearchPanel()"><img src="/static/images/close_icon.png" /></a>
        </div> 
        <div id="Search_Activity" class="searches">
        	<form action="/event/search/" method="GET">
            	<div id="Keyword">關鍵字：<input type="text" name="tags" size="18" /></div>
        		<div class="Search_Section">
	            	<p class="clear_float">地區：</p>
		            <ul>
		            {% for region in base.region %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
            	<div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
            </form>
        </div>
        <div id="Search_Volunteer" class="searches">
        	<form action="/volunteer/search/" method="GET">
        		<div class="Search_Section">
		            <p class="clear_float">居住地區：</p>
		            <ul>
		            {% for region in base.resident %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
		        </div>
		        <div class="Search_Section">
		            <p class="clear_float">專長：</p>
		            <ul>
		            {% for prof in base.proflist %}
		            	<li><input type="checkbox" name="expertise" value="{{ prof }}" id="{{ prof }}"><label for="{{ prof }}">{{ prof }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
	            <div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
	        </form>
        </div>
        <div id="Search_Group" class="searches">
            <form action="/npo/search/" method="GET">
        		<div class="Search_Section">
	            <p class="clear_float">服務地區：</p>
		            <ul>
		            {% for region in base.region %}
		            	<li><input type="radio" name="region" value="{{ region }}" id="region_{{ region }}"><label for="region_{{ region }}">{{ region }}</label></li>
		            {% endfor %}
		            </ul>
	            </div>
	            <div class="button clear_float"><input type="image" src="/static/images/search_btn.png" value="搜尋" /></div>
            </form>
        </div>
    </div> 
</div>
<div id="Banner">
    <div id="Top_Nav">
    	{% if base.volunteer_id %}
    		{{ base.volunteer_id|escape }} |
        {% endif %}
        <!-- <a href="#" onClick="javascript:$('#Search').toggle('drop');" class="highlight">搜尋</a>
        <a id="top-search-link" href="javascript:;" onClick="jsShowSearchPanel();" class="highlight">搜尋</a>
        | -->
        {% if base.volunteer_id %}
	        <a href="/logout?redirect={{ base.full_path }}">登出</a>
	        |
	        <a href="/volunteer/home/">我的履歷表</a>
	        |
            {% if base.myAdminNpos %}
                <form class="inline">
                    <select id="select" name="nponame" onChange="if(this.selectedIndex!=0)self.location=this.options[this.selectedIndex].value">
                        <option value="" selected style="font-weight: bold;">我管理的公益團體</option>
                        {% for npo in base.myAdminNpos %}
                        <option value="/npo/{{ npo.npo_id }}/admin/members" style="padding-left: 15px;">{{ npo.npo_name }}</option>
                        {% endfor %}
                    </select>
                </form>
            |
            {% endif %}

        	{% if base.isFlowAdmin %}
        		<a href="/admin/">管理介面</a>
        		|
        	{% endif %}
        {% else %}
				{% if not base.user %}
        	<a href="/login?redirect={{ base.full_path }}">登入</a>
        	|
				{% endif %}
        	<a href="/volunteer/register/">註冊</a>
        	|
        {% endif %}
        <a href="#">說明</a>
        |
        <a id="top-search-link" href="javascript:;" onClick="jsToggleSearchPanel();" class="highlight">搜尋</a>
        |
        <a href="/">首頁</a>
    </div>
    <div id="Top_Logo">
		<a href="/"><img src="/static/images/newframe/logo.gif" alt="若水logo"></a>
	</div>
	<div id="Main_Block">
		<div id="Main_Title">
		<a href="/"><img src="/static/images/newframe/title.jpg" alt="若水志工媒合平台"></a>
		</div>
		<div id="Main_Nav">			
	        <a href="/event/" class="nav_activities" alt="公益活動"></a>
	        <img src="/static/images/nav_sep_line.jpg">
	        <a href="/npo/" class="nav_group" alt="公益團體"></a>
	        <img src="/static/images/nav_sep_line2.jpg">
	        <a href="/volunteer/" class="nav_people" alt="志工臉譜"></a>
		</div>
	</div>
   	<script type="text/javascript">
   	<!--
   	
	// fix search bar position, code put here to immediate apply instead of waiting all loading operation complete
	function position_search_bar()
	{
		var searchPanel = $("#Search_Wrap");
		var searchLink = $('#top-search-link');
		searchPanel.css('left', null).css('top', null);
		var panelPosition = searchPanel.position();
		var linkPosition = searchLink.position();
		var linkWidth = searchLink.outerWidth();
		var linkHeight = searchLink.outerHeight();
		
		var panelWidth = searchPanel.outerWidth();
		//alert('panel: '+$('#Search_Wrap').position().top+","+$('#Search_Wrap').position().left);
		//alert('link: '+$('#top-search-link').position().top+","+$('#top-search-link').position().left);
		searchPanel.css('left', panelPosition.left+linkPosition.left-(panelWidth-linkWidth))
			.css('top', linkPosition.top+linkHeight);
	}
	
	position_search_bar();
	window.onresize = function() {
		position_search_bar();
	};
	-->
   	</script> 
</div>

<div id="Body_Wrap">
    <div id="Body_Header"></div>
	    <div id="Body_Content">
	    {% block mainContent %}
		{### this block can be replaced by children template with actual main content ###}
		block mainContent here
		{% endblock mainContent %}
		</div>
    <div class="clear_float"></div>   
    <div><img src="/static/images/newframe/body_bottom.jpg"></div>
</div>

<div id="Footer">
  <p><a href="/about/introduction.html">關於平台</a></p>
  <p><a href="/about/legal.html">法律聲明</a></p>
  <p><a href="http://www.flow.org.tw">若水網站</a></p>
  <p><a href="mailto:platform@flow.org.tw">聯絡若水</a></p>
  <p>2009 &copy; 若水國際 All Rights Reserved</p>
</div>

</body>
</html>
