<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}若水公益交換平台</title>
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />

{% block extraHeader %}
	{### this block can be replaced by children template with css / script definition ###}
	<!-- block extraHeader here -->
{% endblock extraHeader %}

</head>
<body>
<div id="outer-page">
	<div id="page">
	<div id="nonfooter">
		<div class="header">
	    	<div class="header-bar">
	            <div id="login-box">
	                <ul class="top-horizontal-menu">
										{% if base.user %}
										  <li><a href="/logout?redirect={{ base.full_path }}">登出</a></li>
	                    <li><a href="/volunteer/profile/">我的履歷表</a></li>
										{% else %}
										  <li><a href="/login?redirect={{ base.full_path }}">登入</a></li>
										{% endif %}
										  <li><a href="/volunteer/register/">註冊</a></li>
	                    <li><a>Help</a></li>
	                </ul>
	            </div>
	        </div> <!-- #login-box -->
	        <div id="splash-box">
				{% block splashPage %}
					{### this block contains the splashPage to include, ex: include "splashbox.html" ###}
				{% endblock splashPage %}

				
	        </div>
	        <div id="header-links" class="clearfix">
	        	<ul class="top-horizontal-menu">
	                <li><a href="/">首頁</a></li>
	                <li><a href="/event/">活動</a></li>
	                <li><a href="/npo/">NPO</a></li>
	                <li><a>志工</a></li>
	                <li><a>網站行事曆</a></li>
	            </ul>
	        </div>
	    </div><!-- .header -->
	    <div class="main-content">
	    
{% block mainContent %}
	{### this block can be replaced by children template with actual main content ###}
	block mainContent here
{% endblock mainContent %}

	    </div> <!-- .main-content -->
    </div> <!-- #nonfooter -->
    <div class="footer">
    <div id="footer-menu">
        <ul class="horizontal-menu">
            <li>網站介紹</li>
            <li>網站使用說明</li>
            <li>法律聲明</li>
        </ul>
    </div>
    <p id="copyright">2009 © <img src="/static/images/small-logo.png" align="absmiddle"> 若水國際 All Rights Reserved</p>
    </div>
    </div>
</div>
<div id="bottom-page"></div>
</body>
</html>
