				<div id="search-site-mark">
						<img src="/static/images/u28.png" />
					<h2 id="search-site-title">若水公益交換平台</h2>
				</div>
       	<div id="search-container">
							<ul>
								<li><a href="#search_volunteer"><span>志工</span></a></li>
								<li><a href="#search_npo"><span>NPO</span></a></li>
								<li><a href="#search_event"><span>活動</span></a></li>
							</ul>

							<div id="search_volunteer">
	                <form action="/volunteer/search/" method="GET">
                    	<div id="search-bar">
												<label for="region">居住地:</label>
												<select name="region">
													<option value="any">任何地區</option>
													{% for region in base.region %}
													<option value="{{ region }}"{% ifequal searchVal.region region %} selected="selected"{% endifequal %}>{{ region }}</option>
													{% endfor %}
												</select>
												<label for="expertise">專長:</label>
												<select name="expertise">
													<option value="any">任何專長</option>
													{% for expertise in base.proflist %}
													<option value="{{ expertise }}"{% ifequal searchVal.expertise expertise %} selected="selected"{% endifequal %}>{{ expertise }}</option>
													{% endfor %}
												</select>
												<input type="submit" value="搜尋" />
												<!-- <a>進階搜尋</a> -->
                      </div>
	                </form>
							</div>
							<div id="search_npo">
                    	<div id="search-bar">
												TBD
                      </div>
							</div>
							<div id="search_event">
                    	<div id="search-bar">
												TBD
                      </div>
							</div>
          </div>
