* {
	
}

/* elements */
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #036;
}

ul.horizontal-menu {
	list-style: none;
	padding-left: 0px;
}

ul.horizontal-menu li {
	display: inline;
	line-height: 20px;
	vertical-align:top;
	margin-right:0.4em;
}

ul.top-horizontal-menu {
	list-style: none;
	padding-left: 10px;
}

ul.top-horizontal-menu li {
	/** remove for text vertical alignment issue
	vertical-align:top;
	float: left;
	**********/
	display:inline;
	line-height: 20px;
	margin-right:0.73em;
}

ul.search-choice-menu {
	list-style: none;
	padding-left: 0px;
}

ul.search-choice-menu li {
	display: inline;
	padding-right: 8px;
	padding-left: 0px;
}

ul.search-choice-menu input {
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

dl {
}

dt {
	color: #AAA;
	margin-right: 5px;
	margin-bottom: 3px;
/*	font-size: 90%; */
	float: left;

}

dd {
	margin-bottom: 3px;
	color: #333;
/*	font-size: 105%;
	padding-left: 10px;*/
}

h6 {
	font-weight: bold;
	padding: 5px 0;
}

/* img */
.img35 {
    max-width: 35px;
    max-height: 35px;
	_width:35px; /* for IE6 only*/
}
.thumb50 {
    max-height:50px;
    position:absolute;
    clip:rect(0px,50px,50px,0px);
}
.img55 {
    max-width: 55px;
    max-height: 55px;
	_width:55px; /* for IE6 only*/
}
.img75 {
    max-width: 75px;
    max-height: 75px;
	_width:75px; /* for IE6 only*/
}


/* header */
.header {
/*	height: 100px; */
}

/*
.header:after {
	content: '.';
	visibility: hidden;
	clear: both;
}*/

.header-bar {
	height: 25px;
	font-size: 13px;
}



#outer-page {
	width: 880px;
	margin: 0 auto;
	background-attachment: scroll;
	background-image: url("../images/page-bg.jpg"/*tpa=http://flowstaging.appspot.com/static/images/page-bg.jpg*/);
	background-repeat: repeat-y;	
}

#bottom-page {
	width: 880px;
	height: 20px;
	margin: 0 auto;
	background-attachment: scroll;
	background-image: url("../images/page-bottom.jpg"/*tpa=http://flowstaging.appspot.com/static/images/page-bottom.jpg*/);	
}

#page {
	width: 860px;
	background-color: #FFF;
	min-width: 860px;
	margin: 0 auto;
	text-align: left;
}

#header-links {
	width: 860px;
	height:33px;
	padding-top: 4px;
/*	padding-left: 10px; */
	background-image: url("../images/bar-bg.jpg"/*tpa=http://flowstaging.appspot.com/static/images/bar-bg.jpg*/);
	background-repeat: repeat-x;
}

#header-links .selected {
	background-image: url("../images/selectedTab.gif"/*tpa=http://flowstaging.appspot.com/static/images/selectedTab.gif*/);
	padding: 2px 12px 3px;

}

#header-links li {
	padding: 2px 0 3px;
}

#login-box {
	float: right;
	text-align: right;
	padding-top: 2px;
	width: auto;
	display: block;
}

#site-logo {
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	width: 50px;
	height: 50px;
	float: left;
}

#site-title {
	padding-top: 30px;
	font-size: 12px;
	font-weight: normal;
}

/* splashbox_search */
#splash-box {
	display: block;
	padding-bottom: 8px;
	height: 60px;
}

#search-container {
	display: block;
	text-align: left;
	padding: 2px;
	width: 700px !important;
	height: 50px;
	position: relative;
	left: 50px;
	top: 7px;
	padding: 5px 5px 0 10px;
}

#search-tags ul {
	text-align: left;
	padding-left: 5px;
	padding-bottom: 4px;
}

#search-tags li {
	font-size: 16px;
	display: inline;
	
}

#search-tags A {
	padding: 4px;
}

#search-tags .chosen {
	border: 2px solid #000;
}

#search-label {
	font-size: 12px;
	color: #666;
}

#search-content {
	padding-top: 3px;
}

#search-site-mark {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    text-align: right;
}

#search {
	float: right;
	width: 320px;
	text-align: left;
	vertical-align: bottom;
	position: relative;
	height: 40px;
	top: 17px;
}

#search-site-title
{
}


#search-bar
{
	height: 26px;
}

/*
#search-bar label,
#search-bar input,
#search-bar select
{
    margin-bottom: 5px;
    display: block;
}
*/

#search-choices
{
}


/* non-footer */

#nonfooter {
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
}

/* main content */

.main-content {
	margin-left: 10px;
	margin-right: 10px;
}

.main-content h2 {
	color: #F60;
	font-size: 18px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

#section-title {
	font-weight: bold;
	color: #333;
	font-size: 20px;
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#page-title {
	color: #36C;
	font-size: 18px;
	border-bottom: 1px solid #000;
	padding-top: 12px;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#page-title.subbar {
	padding-top: 0px;
	border-bottom: none;
}

.tip {
	font-size: 12px;
	padding-bottom: 5px;
}

.red {
	color: #F00
}

.right {
	float: right;
}

.main-content p {
	padding-bottom: 5px;
}

.main-content ul {
	list-style: disc;
	padding-left: 15px;
}

.main-content ul li {
	padding-bottom: 5px;
}

.subitems {
	padding: 5px;
}

.block-caption {
	background: url("../images/block-caption.png"/*tpa=http://flowstaging.appspot.com/static/images/block-caption.png*/) repeat-x;
	padding-bottom: 5px;
}

.block-caption span.caption {
	background: #fff;
	padding-right: 10px;
	font-weight: bold;
}

.top-dot-line {
	border-top: 1px dotted #000;
	padding-top: 5px;
}

.two-column-content-block {
	width: 320px;
	float: left;
	padding: 10px;
}

.content-block {
/*	padding: 10px 0; */
}

.right-links {
/*	clear: both; */
	float: right;
}

.form-table th {
	text-align: right;
}

.people {
	padding-right: 0;
	clear: both;
}

.people .row {
	overflow: hidden;
	padding-bottom: 10px;
}

.people .person {
	float: left;
	overflow: hidden;
	width: 60px;
	text-align: center;
}

.people .person a {
	display: block;
	padding-right: 5px;
}

.pager {
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ptop {
	padding: 5px 0 0;
}

.pbottom {
	padding: 0 0 5px;
}

.pager .current {
	font-weight: bold;
	border: 1px solid #006;
	padding: 0px 3px;
	background: #006;
	color: #FFF;
}

.pager .item {
	padding: 0 1px;
}

.pager .prev {
	padding: 0 2px 0 0;
}

.pager .next {
	padding: 0 0 0 2px;
}

dl.portofolio {
	font-size: 16px;
	font-weight: bold;
}

dl.portofolio dt {
	width: 400px;
	color: #000;
}

dl.portofolio dd {
	width: 100px;
	margin-left: 410px;
}

dl.portofolio-block {
	font-size: 16px;
	font-weight: bold;
}

dl.portofolio-block dt {
	width: 250px;
	color: #000;
}

dl.portofolio-block dd {
	width: 100px;
	margin-left: 260px;
}

div.npo-block {
	padding: 5px 0;
}

.top-line {
	border-top: 1px black solid;
}

div.npo-news {
	/*
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	*/
}

div.volunteer-block {
	width: 300px;
	height: 65px;
	padding: 10px 0;
}

div.volunteer-block .volunteer-image {
	width: 60px;
	float: left;
}

div.volunteer-block .volunteer-info {
	width: 100px;
	float: left;
}

div.volunteer-block .volunteer-stats {
	width: 140px;
	float: left;
}

/* ----- Content Block ----- */
div.no-padding-bottom {
/*	padding-bottom: 0px !important;*/
}

/* div.left-column */ div.content-block {
	padding-bottom: 25px;
	clear: left;
}
/* div.left-column */ div.content-block div.title {
	background-image: url("../images/titlebar.gif"/*tpa=http://flowstaging.appspot.com/static/images/titlebar.gif*/);
	height: 22px;
	margin-bottom: 8px;
}

div.content-block div.upcoming-activity div.title {
	background-image: none !important;
	margin-bottom: 0px !important;
}

/* div.left-column */ div.content-block div.title h3 {
	font-size: 14px;
	padding-top: 2px;
	padding-left: 10px;
	color: #333;
}

/* div.left-column */ div.content-block div.title img.left {
	float: left;
}

/* div.left-column */ div.content-block div.title img.right {
	float: right;
}

/* div.left-column */ div.content-block div.content {
	padding-left: 25px;
	padding-right: 15px;
}

div.content-block div.title div.right-links {
	padding-top: 2px;
	padding-right: 2px;
}

/* div.left-column */ div.content-block div.right-links {
	clear: none;
	font-size: 13px;
	/*
	padding-top: 2px;
	padding-right: 2px;*/
}

/* div.left-column */ div.content-block div.npo-news {
	padding-bottom: 3px;
}

/* div.left-column */ div.content-block div.article-title-item {
	padding-bottom: 3px;
}

/* --- Content Block NPO --- */
div.content-block div.content div.nporow {
/*	clear: left;*/
}

div.content-block div.content div.nporow div.item:first-child {
	padding-left: 0px;
	border-left: none !important;
}

div.content-block div.content div.nporow div.item {
	float: left;
	width: 150px;
	padding-left: 8px;
	border-left: dotted #999 1px;
}
/* --- End of Content Block NPO --- */

/* ----- End of Content Block ----- */

/* ----- Full Page list classes ----- */
div.fullpage-list {
	clear: both;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #AAA;
	border-left-color: #666;
}

/* exception */
div.left-column div.fullpage-list {
    clear: left !important;
}

div.fullpage-list .top-line {
	border-top: 1px #AAA solid;
}

div.fullpage-list .item {
	padding: 0 0 8px;
	clear: both;
}

/* exception */
div.left-column div.fullpage-list .item {
    clear: none !important;
}

/* Volunteer related */
div.fullpage-list .volunteer {
	height: 75px;
}

div.fullpage-list .volunteer .image {
	width: 60px;
	float: left;
}

div.fullpage-list .volunteer .npo-more {
    display: inline;
}
/* End of volunteer related */

/* NPO related */
div.fullpage-list .npo .activities {
	border-left: dotted 1px #999;
	margin-left: 370px;
	zoom:1; /* Fix IE6 float bug */
}

div.fullpage-list .npo .activities .label {
	margin-left:5px;
}

div.fullpage-list .npo .activities .upcoming-activity {
	padding-bottom: 5px;
	margin-left:20px;
}
div.fullpage-list .npo .activities .date {
	font-size: 12px;
	color: #333;
}

/* End of NPO related */


/* VIDEO related */
div.fullpage-list .video {
    height: 330px;
}
/* END of VIDEO related */

div.fullpage-list .image {
	width: 60px;
	float: left;
}

div.fullpage-list .item .name A {
	font-size: 16px;
	font-weight: bold;
}

div.fullpage-list .item .label {
	font-size: 12px;
	color: #666;
}

div.fullpage-list .item .value {
	font-size: 14px;
	display: inline;
	margin-left: 3px;
}

div.fullpage-list .item dl {
	float: left;
	padding-top: 5px;
/*	padding-left: 60px; */
	line-height: 16px;
	vertical-align: text-bottom;
	width: 320px;
}

div.fullpage-list .event dl {
	width: 83% !important;
}

div.fullpage-list .volunteer dl {
    width: 85% !important;
}

div.fullpage-list .item dt {
	font-size: 12px;
	color: #666;
	width: 8em;
}

div.fullpage-list .item dd {
    padding-left: 7.2em;
}

div.fullpage-list .event .stats {
    padding-left: 60px;
}

div.fullpage-list .actions {
	float: right;
	margin: 3px;
	text-align: right;
}

/* ----- End of full page list classes ----- */
div.volunteer-list {
	clear: both;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #AAA;
	border-left-color: #666;
}

div.volunteer-list .top-line {
	border-top: 1px #AAA solid;
}

div.volunteer-list .volunteer-item {
	height: 75px;
	padding: 0 0 8px;
}

div.volunteer-list .volunteer-item .volunteer-image {
	width: 60px;
	float: left;
}

div.volunteer-list .volunteer-item .volunteer-info {
/*	width: 100px;
	float: left;*/
}

/* Added by yychen 2009 03 08 */
#volunteer-info A {
	font-size: 16px;
	font-weight: bold;
}

#volunteer-info .label {
	font-size: 12px;
	color: #666;
}

#volunteer-info .value {
	font-size: 14px;
	display: inline;
	margin-left: 3px;
}

.volunteer-item dl {
	padding-top: 5px;
	padding-left: 60px;
	line-height: 16px;
	vertical-align: text-bottom;
}

.volunteer-item dt {
	font-size: 12px;
	color: #666;
	width: 8em;
}

.volunteer-item .label {
	width: 4em;
	display: inline-block;
	text-align: right;
	font-size: 13px;
	color: #666;
}

.volunteer-item .value {
	font-size: 15px;
	display: inline;
}

#volunteer-stats {
	height: 17px;
}

div.volunteer-list .volunteer-item .volunteer-stats {
/*    margin-left: 20px;
	width: 200px;
	float: left; */
}

div.volunteer-list .volunteer-item .volunteer-npos-title {
    margin-left: 20px;
	width: 70px;
/*	float: left; */
}

div.volunteer-list .volunteer-item .volunteer-npos {
    width: 280px;
    height: 75px;
/*	float: left; */
}

div.volunteer-list .volunteer-item .volunteer-list-actions {
/*    margin-left: 20px;
    width: 80px;*/
	float: right;
	margin: 3px;
}

.volunteer-location,
.volunteer-npo-item {
    margin-bottom: 2px;
}

.volunteer-npo-more {
    display: inline;
}

.volunteer-title {
	font-size: 14px;
    font-weight: bold;
}

div.npo-block .npo-image {
	width: 60px;
	float: left;
}

div.npo-block .npo-info {
	width: 240px;
	margin-left: 60px;
}

div.npo-block .npo-info .npo-title, 
div.npo-block .npo-info .npo-upcoming-activity .title
{
	font-size: 14px;
}

div.npo-block .npo-info .npo-desc,
div.npo-block .npo-info .npo-members,
div.npo-block .npo-info .npo-upcoming-activities-label,
div.npo-block .npo-info .npo-upcoming-activity .date
{
	color: #999;
}

div.npo-block .npo-info .npo-members,
div.npo-block .npo-info .npo-upcoming-activities,
div.npo-block .npo-info .npo-upcoming-activity
{
	padding: 5px 0;
}

div.npo-list {
	clear: both;
}

div.npo-list .npo-item {
	height: 75px;
	padding: 10px 0;
}

div.npo-list .npo-item .npo-image {
	width: 60px;
	float: left;
}

div.npo-list .npo-item .npo-info {
	float: left;
}

div.npo-list .npo-item .npo-activities {
	float: left;
}

div.npo-list .npo-item .npo-stats {
	width: 100px;
	float: left;
}

.content-block .npo-list .npo-item {
	width: 950px;
}

.content-block .npo-list .npo-item .npo-info {
	width: 300px;
}

.content-block .npo-list .npo-item .npo-activities {
	width: 400px;
}

.right-column .npo-list .npo-item {
	width: 720px;
}

.right-column .npo-list .npo-item .npo-info {
	width: 200px;
}

.right-column .npo-list .npo-item .npo-activities {
	width: 300px;
}

div.npo-list .npo-item .npo-info .npo-title, 
div.npo-list .npo-item .npo-activities .npo-upcoming-activity .title {
	font-size: 14px;
}

div.npo-list .npo-item .npo-activities .npo-upcoming-activity .title {
	padding-right: 10px;
}
div.npo-list .npo-item .npo-activities .npo-upcoming-activity .date {
	padding-top: 2px;
}

div.npo-list .npo-item .npo-activities .npo-upcoming-activity {
	height: 20px;
}

div.npo-list .npo-item .npo-activities .npo-upcoming-activity .title {
	float: left;
}

div.npo-list .npo-item .npo-info .npo-desc, 
div.npo-list .npo-item .npo-activities .npo-upcoming-activities-label,
div.npo-list .npo-item .npo-activities .npo-upcoming-activity .date,
div.npo-list .npo-item .npo-stats .npo-members {
	color: #999;
}

div.npo-list .npo-item .npo-stats .link {
	padding: 2px 0;
}

div.photo-block .photo-item {
	float: left;
	width: 75px;
	height: 75px;
	padding-right: 5px;
	padding-bottom: 5px;
}

div.article-block {
	/*padding: 10px 0;*/
	overflow: visible;
}

div.article-block .article-title-item {
	font-size: 14px;
	
}

div.article-block .article-author-img {
	float: left;
	width: 60px;
	height: 70px;
}

div.article-block .article-info {
	width: 240px;
	height: 70px;
	margin-left: 70px;
	overflow: auto;
}

div.article-block .article-title {
	font-size: 14px;
}

div.article-block .article-date {
	color: #999;
}
div.content-block div.album-block {
	clear: both;
	width: 700px;
}

div.fullpage-list div.album-block {
    clear: both;
}

div.album-block .album-item {
	height: 80px;
	padding: 5px;
}
div.album-block .album-item .album-cover {
	width: 90px;
	height: 90px;
	float: left;
}

div.album-block .album-item .album-title {
	font-weight: bold;
	font-size: 14px;
}

div.album-block .album-item .album-info {
	color: #999;
}

div.album-block .album-item .album-thumb-img {
	float: left;
	width: 35px;
	height: 35px;
	padding: 3px;
}

div.video-block .video-item .video-title, .item .video-title {
	/* font-weight: bold; */
	font-size: 16px;
    margin-bottom: 5px;
}

div.video-block .video-item .video-info, .item .video-info {
	color: #333;
}

/* topbar */
div.new-top-bar-container {
	/*position:relative;
	top: -8px;*/ /* Cause IE6 bug*/
	border-bottom: 1px #333 solid;
	margin-bottom: 15px;
}
div.new-top-bar {
	/*position: relative;*/ /* Cause IE6 bug*/
	padding-left: 10px;
}

div.new-top-bar-container div.npo {
	left: 95px;
}

div.new-top-bar-container div.volunteer {
	left: 135px;
}

div.new-top-bar img {
	position: relative;
	float: left;
}

div.new-top-bar ul {
	padding-top: 5px;
}

div.new-top-bar li {
	display: inline;
	margin: 2px 8px 0 1px;
}

div.new-top-bar a.selected {
	border-bottom: solid;
	border-bottom-width: 3px;
	border-bottom-color: #039;
}

div.new-top-bar a:hover {
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: #666;
	color: #666;
}

div.topbar {
	border-bottom: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-top: 10px;
}

div.topbar ul {
	text-align: right;
	margin-right: 20px;

}

div.topbar li:first-child {
	list-style-position: inside;
	list-style-type: none;
	display: inline;
	padding: 3px 8px 3px;
	border: 1px solid #333333;
	background-color: #ACE7F9;
}

div.topbar li {
	list-style-position: inside;
	list-style-type: none;
	display: inline;
	padding: 3px 8px 3px;
	background-color: #ACE7F9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}

/* footer */

.footer {
	clear: both;
	border-top: 1px solid #cdcdcd;
	padding-top: 2px;
	position: relative;
	margin-top: 15px;
	background: #e8e8e8;
	width: 100%;
}

#footer-menu {
	text-align: center;
	height: 20px;
}

#copyright {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 5px;
	color: #595858;
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

.grey {
	color: #999;
}

.clear-none {
	clear: none;
}

/* About Page */
.static {
	margin: 20px 80px;
}

.static .block {
	padding-bottom: 25px;
}


.static h3 {
	font-size: 17px;
	font-weight: bold;
	color: #36C;
	border-bottom: dotted #999 1px;
}

.static .content {
	color: #414141;
	font-size: 15px;
	margin-left: 3.2em;
	line-height: 1.4em;
}

.static .content p {
	padding-bottom: 1.2em;
}

.static li {
	line-height: 1.4em;
}

ul.abc {
	list-style-type: upper-alpha;
	margin-top: 10px;
	padding-left: 25px;
}

/* space */
table.space {
	padding: 3px;
}

table.space tr:first-child {
	border-top: none !important;
}

table.space tr {
	border-top: dotted #999 1px;
}

table.space td {
	margin: 3px;
	padding: 3px;
	line-height: 1.4em;
	text-align: left;
}

table.space td.checkbox {
	width: 30px;
	text-align: center;
}

table.space td.title a {
	text-decoration: underline;
	font-weight: bold;
}

/* clearfix */
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

span.highlight {
	font-weight: bold;
	color: #F00;
}

.inline {
    display: inline;
    vertical-align:text-top;
}
