@charset "utf-8";
body {
	background-color: #B5C7D6;
	padding: 0px;
	margin: 0px;
	font-family: "微軟正黑體", "Arial Unicode MS", Verdana, Arial;
	color: #666666;
	text-align: left;
	font-size: 14px;
}
#Banner{
	background: url(../images/newframe/header.jpg) no-repeat;
	height: 90px;
	width: 950px;
	margin: 0px auto;
}
#Top_Logo
{
	padding-left: 30px;
	padding-top: 8px;
}
#Top_Logo img
{
	float: left;
}
#Top_Nav
{
	float: right;
	text-align: right;
	padding: 5px 27px 10px 0px;
	font-size:14px;
	color: #666666;
}
#Top_Nav A
{
	color: #666666;
	text-decoration:none;
}
#Top_Nav A:hover
{
	text-decoration:underline;
}
#Top_Nav A.highlight
{
	color:#003366;
}
#Search_Wrap
{
	z-index: 1000px;
	position: absolute;
	width: 240px;
	font-size: 12px;
	color: #003366;
	margin-left:1050px;
	margin-top: 4px;
}
#Search_Wrap P.tab
{
	margin: 0px 0px 0px 40px;
	padding: 0px;
	width: 40px;
	height: 20px;
	background: url(../images/search_tab.png) no-repeat;
	line-height:20px;
	text-align: center;
	font-size: 14px;
}
#Search_Body
{
	background: url(../images/search_bg.png);
	padding:5px 10px;
	overflow: auto;
}
#Search_Body IMG
{
	border:0px;
}
#Search_Type A.type, #Search_Type A.selected
{
	color: #003366;
	text-decoration:none;
	display:inline-block;
	height:20px;
	line-height:22px;
	padding-right: 6px;
}
#Search_Type A.type SPAN, #Search_Type A.selected SPAN
{
	padding-left: 6px;
	display:inline-block;
	height:20px;
	line-height:22px;
	cursor:pointer;
}
#Search_Type A.type:hover
{
	background: url(../images/search_type_bg.png) right;
}
#Search_Type A.type:hover SPAN
{
	background: url(../images/search_type_bg.png) left;
}
#Search_Type A.selected
{
	background: url(../images/search_type_bg.png) right;
}
#Search_Type A.selected SPAN
{
	background: url(../images/search_type_bg.png) left;
}
#Search_Type A.close
{
	position: absolute;
	right: 5px;
}
#Search_Activity, #Search_Volunteer, #Search_Group
{
	padding-top: 5px;
	font-size: 11px;
}
#Search_Activity INPUT
{
	font-size: 12px;
}
#Search_Body P
{
	margin: 10px 0px 0px 0px;
}
#Search_Body UL
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#Search_Body UL LI
{
	margin-bottom:0px;
	width: 70px;
	float: left;
}
#Search_Body .button
{
	text-align:right;

}
.Search_Section
{
	overflow: auto;
}
#Main_Block
{
	margin-top:37px;
	padding-left:91px;
}
#Main_Title
{
	float: left;
	padding-right: 10px;
}
#Main_Nav
{
	padding-top:7px;
}
#Main_Nav A
{
	width: 82px;
	height: 23px;
	display: inline-block;
}
#Main_Nav A.nav_activities
{
	background:url(../images/nav_activities_off.jpg) no-repeat;
}
#Main_Nav A:hover.nav_activities
{
	background:url(../images/nav_activities_on.jpg) no-repeat;
}
#Main_Nav A.nav_group
{
	background:url(../images/nav_group_off.jpg) no-repeat;
}
#Main_Nav A:hover.nav_group
{
	background:url(../images/nav_group_on.jpg) no-repeat;
}
#Main_Nav A.nav_people
{
	background:url(../images/nav_people_off.jpg) no-repeat;
}
#Main_Nav A:hover.nav_people
{
	background:url(../images/nav_people_on.jpg) no-repeat;
}
#Main_Nav SPAN.nav_line
{
	display:inline-block;
	width: 12px;
	height:23px;
	background:url(../images/nav_sep_line.jpg) no-repeat;
}
#Body_Wrap{
	width: 950px;
	margin: 0px auto;
	background:url(../images/newframe/body_bg.jpg) repeat-y;
}
#Body_Header
{
	background:url(../images/newframe/body_top.jpg) no-repeat;
	height: 20px;
}
#Body_Content {
	padding: 5px 25px;
	min-height: 300px;
}
#Body_Top, #Body_Btm
{
}
#Main_Image
{
	float:left;
	width:533px;
	padding-bottom: 10px;
}
#Body_Top_Right
{
	float:right;
	width:355px;
}
.title_bg1
{
	background: url(../images/newframe/title-bg-1.jpg) right no-repeat;
}
.title_bg2
{
	background: url(../images/newframe/title-bg-2.jpg) right no-repeat;
}
.title_bg3
{
	background: url(../images/title_bg.jpg) right no-repeat;
}
.top_title
{
	/* background: url(../images/title_bg.jpg) right no-repeat; */
	height: 27px;
	/* position: relative; */
}
.page_title
{
	color:#003366;
	font-weight:bolder;
	/* line-height:25px; */
	padding-left:10px;
	padding-top: 4px;
	width: 120px;
	display:inline-block;
	float: left;
	font-size: 16px;
}
A.more_link
{
	font-size:12px;
	color: #FFFFFF !important;
	line-height:30px;
	text-decoration:none !important;
	padding-right: 10px;
	float: right;
}
A:hover.more_link
{
	text-decoration:underline;
}
.top_block
{
	width: 100%;
	height:130px;
}
.top_body
{
	text-align: left;
	margin-top: 9px;
}
.top_icon
{
	float: left;
	margin: 0 9px;
}
.top_desc DT
{
	font-size: 12px;
}
.top_desc DD
{
	font-size: 14px;
}
.top_desc .more_info, .top_activities .more_info
{
	text-align:right;
	color: #996633;
	display:block;
    font-size: 13px;
}
.top_desc .more_info A, .top_activities .more_info A
{
	color: #996633;
}
UL.top_activities
{
	margin:0px;
	padding:0px;
	list-style:none;
}
UL.top_activities LI
{
	padding: 2px 5px;
	margin: 10px 0px;
	width: 170px;
	float: left;
}
UL.top_activities LI.with_sep_line
{
	background:url(../images/top_activities_line.jpg) right repeat-y;
}
UL.top_activities A
{
	color:#996633;
}
UL.top_activities H2
{
	font-size: 15px;
	color: #ff3300;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	font-weight:normal;
}
UL.top_activities H2 A
{
	color: #ff3300;
}
UL.top_activities P
{
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
UL.top_activities P.act_desc
{
	margin-top:12px;
}
UL.top_activities SPAN.sep_line
{
	
	width:5px;
	height: 100%;
	display:block;
	float: left;
}
#Footer{
	height: 25px;
	/* background-color: #004070; */
	text-align: center;
	color: #FFFFFF;
	width: 950px;
	margin: 0px auto;
	background: url(../images/footer-bg.jpg) repeat-y scroll 0 0;
	margin-top: 8px;
	margin-bottom: 4px;
}
#Footer P
{
	display: inline;
	margin: 0px 8px;
	font-size: 13px;
	line-height:25px;
}
#Footer P A
{
	text-decoration:none;
	color:#FFFFFF;
}
#Footer P A:hover
{
	text-decoration:underline;
}
.clear_float{clear:both;}

#Search {
	position:absolute;
	left: 10px;
	top: 10px;
	width: 725px;
	height: 80px;
	background-color: #EFEFEF;
/*	filter:alpha(opacity=80); -moz-opacity:.80; opacity:.80; */
}