#volunteer-name {
	font-size: 24px;
	padding-bottom: 10px;
}

.right-column #page-title {
	border-bottom: 0;
	padding-left: 10px;
}

.two-column-content-block dt {
	width: 100px;
}

.two-column-content-block dd {
	margin-left: 110px;
}

dl.info-block dd {
	width: 200px;
}

dl.portofolio-block dd {
	width: 50px;
}

.list-title {
	float: left;
	font-weight: bold;
	padding-bottom: 5px;
}

.volunteer-item,
.activity-item {
	clear: both;
	border-bottom: 1px solid;
	padding-top: 10px;
	padding-bottom: 5px;
}

.first-item {
	border-top: 1px solid;
}

.volunteer-img,
.activity-img {
	width: 60px;
	height: 60px;
	float: left;
}

.volunteer-desc,
.activity-desc {
	margin-left: 70px;
	min-height: 60px;
}

.activity-info {
	float: right;
	width: 200px;
}

dl.activity-dl dt {
	width: 60px;
}

dl.activity-dl dd {
	margin-left: 70px;
	width: 100px;
}

.activity-item .activity-title {
	font-size: 16px;
	padding-bottom: 5px;
}

.activity-item .activity-group {
	font-size: 14px;
	padding-bottom: 5px;
}

.volunteer-desc h6 {
	font-size: 14px;
}

.volunteer-item {
	height: 60px;
}

.volunteer-item .right-links {
	clear: none;
}

.volunteer-desc dl.upcoming-activity dt {
	width: 70px;
	font-style: italic;
}

.volunteer-desc dl.upcoming-activity span.activity-title {
	font-size: 14px;
}

.volunteer-desc dl.upcoming-activity dd {
	width: 400px;
}
.volunteer-desc dl.upcoming-activity span.activity-countdown {
	color: #999;
	padding-left: 10px;
}

.right-column dd {
	width: 600px;
	margin-left: 110px;
}

.form-block dt {
	width: 100px;
	float: left;
}

.form-block dd {
	margin-left: 0px;
	width: 500px;
	padding-left: 0px;
}

.form-block dd#profession td {
	width: 150px;
}

#feedPreview {
    text-align: center;
    border-top: solid 1px;
    padding-top: 15px;
    margin-bottom: 5px;
};
