.left-column-container {
	width: 180px;
	overflow: visible !important;
	float: left;
}

.left-column {
	width: 180px;
	text-align: center;
}

.right-column-container {
	width: 640px;
	float: left;
	padding-left: 20px;	
}

.right-column {
	width: 640px;
	float: left;
}

.box-column {
	border-bottom: 1px solid #94A3C4;
	border-right: 1px solid #D8DFEA;
}

#action {
	text-align: left;
	padding-top: 5px;
}

#action ul {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 2px;
	padding-bottom: 0;
}

#action li {
	padding-bottom: 2px;
}

.left-box {
	border-top: 1px solid #94A3C4;
	padding-bottom: 2px;
}

h3.left-box-header {
	font-size: 11px;
	margin: 0;
	padding: 5px 8px;
	position: relative;
	background: #ECEFF5 none repeat scroll 0 0;
	border-top: 0 none;
}

.left-box-body {

}

h4.left-box-header {
	border-bottom: 1px solid #ECEFF5;
	color: #444444;
	font-weight: normal;
	margin: 0;
	padding: 2px 3px;
	display: block;
}

h4.left-box-header span {
	display: block;
	float: left;
}

h4.left-box-header small {
	display: block;
	float: right;
	font-size: 11px;
}

.left-column .people {
	width: 180px;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

#picture {
	margin-bottom: 5px;
}

#info .left-box-body {
	padding-left: 2px;
	text-align: left;
}

#info .left-box-body h4 {
	font-size: 11px;
	padding-top: 5px;
	color: #999;
}

#info .left-box-body div {
	color: #000000;
}