{% extends "base.html" %}

{### header ###}

{% block extraHeader %}

	<link href="/static/css/twocolumn.css" rel="stylesheet" type="text/css" />

	{% block twocolumnExtraHeader %}
		{### this block can be replaced by children template with css / script definition ###}
	{% endblock twocolumnExtraHeader %}

{% endblock extraHeader %}

{### content ###}

{% block topBar %}
		{### The Top Bar goes here ###}
{% endblock topBar %}

{% block mainContent %}
	
	
	    	<div class="right-column-container">
	        	<div class="right-column">
		        	

	{% block twocolumnSidebar %}
		{### this block can be replaced by children template with actual sidebar content ###}
		block twocolumnSidebar here
	{% endblock twocolumnSidebar %}

	            </div> <!-- .right-column -->
	        </div> <!-- .right-column-container -->
	        <div class="left-column-container">
	        	<div class="left-column">

	{% block twocolumnContent %}
		{### this block can be replaced by children template with actual content ###}
		block twocolumnContent here
	{% endblock twocolumnContent %}

		        </div> <!-- .left-column -->
	        </div> <!-- .left-column-container -->
{% endblock mainContent %}
